<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppointmentPrinterName" value="TSC TTP-244 Pro" />
  <add key="SpeechSynthesizer_Volume" value="100" />
  <add key="SpeechSynthesizer_Rate" value="-2" />
  <add key="MaxAppointmentPerTimeslot" value="3" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  
  <!--Barcode printers-->
  <add key="TTLabelPrinterName" value="TSC TTP-244 Pro 2" />
  <add key="MUBLabelPrinterName" value="TSC TTP-244 Pro" />
  <add key="ReceiptPrinterName" value="TSC TTP-244 Pro" />

  <!--Smart card reader/writer-->
  <add key="SmartCardContactlessReaderName" value="ACS ACR122 0" />

  <!--Smart card printer-->
  <add key="SmartCardPrinterContactlessReaderName" value="Identive SDI010 Contactless Reader 0" />
  <add key="SmartCardPrinterContactReaderName" value="Identive SDI010 Smart Card Reader 0" />
  <add key="SmartCardPrinterSerialNumber" value="Z9J171200014" />

  
  <add key="ByPassCentralizedDB" value="false" />
  <add key="web_api_url" value="http://localhost:64775" />
  <add key="DateFormat" value="dd/MM/yyyy" />
  <add key="Card_Expired_Date" value="2" />

  <add key="NotificationServerUrl" value="http://localhost:8080/" />
  


</appSettings>