<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--TVO enronment--><!--
  --><!--local--><!--
  <add name="SSKEntities" connectionString="metadata=res://*/DBContext.SSK.csdl|res://*/DBContext.SSK.ssdl|res://*/DBContext.SSK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.132;initial catalog=SSK;persist security info=True;user id=ssk;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SSK" connectionString="Data Source=192.168.50.132;Initial Catalog=SSK;User ID=ssk;password=123456;" providerName="System.Data.SqlClient" />
  --><!--centralized--><!--
  <add name="TrinityCentralizedDBEntities" connectionString="metadata=res://*/DBContext.TrinityCentralizedDB.csdl|res://*/DBContext.TrinityCentralizedDB.ssdl|res://*/DBContext.TrinityCentralizedDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.132;initial catalog=TrinityCentralizedDB;persist security info=True;user id=ssk;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CentralizedDB" connectionString="Data Source=192.168.50.132;Initial Catalog=TrinityCentralizedDB;User ID=ssk;Password=P@ssw0rd@1234;" providerName="System.Data.SqlClient" />-->

  <!--STE enronment-->
  <!--local-->
  <add name="SSKEntities" connectionString="metadata=res://*/DBContext.SSK.csdl|res://*/DBContext.SSK.ssdl|res://*/DBContext.SSK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.120;initial catalog=SSK;persist security info=True;user id=ssk;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SSK" connectionString="Data Source=192.168.1.120;Initial Catalog=SSK;User ID=ssk;password=123456;" providerName="System.Data.SqlClient" />
  <!--<add name="SSKEntities" connectionString="metadata=res://*/DBContext.SSK.csdl|res://*/DBContext.SSK.ssdl|res://*/DBContext.SSK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=trinity-db.csr15nr6jhtv.ap-southeast-1.rds.amazonaws.com;initial catalog=TrinityCentralizedDB;persist security info=True;user id=ssk;password=P@ssw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="SSK" connectionString="Data Source=trinity-db.csr15nr6jhtv.ap-southeast-1.rds.amazonaws.com;Initial Catalog=TrinityCentralizedDB;User ID=ssk;password=P@ssw0rd@1234;" providerName="System.Data.SqlClient" />-->
  <!--centralized-->
  <add name="TrinityCentralizedDBEntities" connectionString="metadata=res://*/DBContext.TrinityCentralizedDB.csdl|res://*/DBContext.TrinityCentralizedDB.ssdl|res://*/DBContext.TrinityCentralizedDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=trinity-db.csr15nr6jhtv.ap-southeast-1.rds.amazonaws.com;initial catalog=TrinityCentralizedDB;persist security info=True;user id=ssk;password=P@ssw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CentralizedDB" connectionString="Data Source=trinity-db.csr15nr6jhtv.ap-southeast-1.rds.amazonaws.com;Initial Catalog=TrinityCentralizedDB;User ID=ssk;Password=P@ssw0rd@1234;" providerName="System.Data.SqlClient" />
</connectionStrings>