<div class="status-text">&nbsp;</div>
<div class="box-shadow" style="position:absolute;width:80%;height:calc(100% - 100px);left:calc(50% - 40%);">
    <video autoplay loop style="position:absolute;width:calc(100% - 10px);height:calc(100% - 10px);left:5px;top:5px;">
        <source src="../img/ThumbDocumentScanner.mp4" type="video/mp4">
    </video>
    <div style="position:absolute;right:0px;bottom:-55px;">
        <input type="button" value="CANCEL" style="background-color:#FFF;color:#1cacf6;border:none;border-radius:5px;padding:8px 20px;border:1px solid #DDD;margin-right:20px;font-weight:bold;" onclick="api.server.CancelScanDocumentFromReportAbsence();" />
        <input type="button" value="SCAN" style="background-color:#1cacf6;color:#FFF;border:none;border-radius:5px;padding:8px 20px;border:1px solid #1cacf6;font-weight:bold;" onclick="api.server.StartScanDocumentFromAbsence();" />
    </div>
</div>

<style type="text/css">
    .status-text {
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #334352;
    }
</style>

<script type="text/javascript">
    $('#header[right-show]').attr('right-show', '');
    $('#content').removeAttr('style');
    function showImageAffterScan(img) {
        api.server.PopupShowImageScan(img, function () {
            $('#PopupShowImageScan').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#PopupShowImageScan button[btn-ok]').click(function () {
                api.server.SaveScanDocumentAbsence(img, function () {
                    $('#PopupShowImageScan').modal('toggle');
                });
            });
            $('#PopupShowImageScan button[btn-cancel]').click(function () {
                api.server.CancelScanDocumentFromReportAbsence(function () {
                    $('#PopupShowImageScan').modal('toggle');
                });
            });
        });
    }
</script>