<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/ionicons.min.css" rel="stylesheet" />
    <link href="../keyboard/jquery.ml-keyboard.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../keyboard/jquery.ml-keyboard.min.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/lib.js"></script>
    <script type="text/javascript">
        function confirmLogout() {
            ShowMessageConfirm('', 'Are you sure you want to sign out?', function (status) {
                if (status) {
                    api.server.LogOut()
                }
            });
        }
    </script>
</head>
<body>
    <div class="bodyContent">
        <div id="header" right-show="">
            <div class="logo"></div>
            <div class="logout" onclick="confirmLogout();"></div>
            <div class="back-main" onclick="api.server.LoadPageSupervisee();">
                <b class="ion-navicon-round">Back to Main menu</b>
            </div>
        </div>
        <div id="parent-content">
            <div id="content">
            </div>
        </div>
        <div class="loading">
            <span class="loader"></span>
        </div>
        <div id="panel-popup">

        </div>
    </div>
</body>
</html>