<style>
    .z-depth-2 {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }

    .red-underline {
        border-bottom: 2px solid #ff005a;
        padding-bottom: 10px;
    }

    .profile-tabs {
        position: relative;
    }

    .profile-tabs {
        height: 60px;
        position: relative;
    }

        .profile-tabs .nav-item {
            max-width: 25%;
        }

        .profile-tabs .nav-link {
            height: 60px;
            line-height: 20px;
            font-size: 0.9rem;
            font-weight: bold;
            border-radius: 0;
            position: relative;
            margin-right: 5px;
            padding: 0.5rem 2rem;
            border-color: #dee2e6;
            color: #1cacf6;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            /*border-bottom: 4px solid #fff;*/
            z-index: 0;
            background: #fff;
        }

            .profile-tabs .nav-link.active:after {
                position: absolute;
                content: '';
                bottom: -10px;
                border-bottom: 10px solid #fff;
                z-index: 0;
                left: 0;
                width: 100%;
            }

        .profile-tabs .nav-item:last-of-type .nav-link {
            margin-right: 0;
        }

    .profile-tab-content {
        z-index: 1;
    }

        .profile-tab-content .tab-pane {
            padding: 2rem;
        }

    .btn-font-size {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        font-weight: bold;
        padding: .75rem;
        margin-bottom: 2rem;
        color: #1cacf6 !important;
    }

        .btn-font-size:hover, .btn-font-size:focus {
            border-color: #334352;
            color: #fff !important;
            background-color: #334352;
        }

        .btn-font-size.font-small {
            font-weight: normal;
        }

    .group-button-right {
        float: right;
    }

        .group-button-right .btn {
            text-transform: uppercase;
        }

    .btn-primary {
        background: #1cacf6;
        color: #fff;
    }

        .btn-primary:hover, .btn-primary:focus {
            background: #1e87c3;
            color: #fff;
        }

    .form-material input::-webkit-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input::-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-ms-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input {
        font-size: 100%;
    }

    .form-material .input-group-prepend {
        min-width: 35%;
        font-size: 100%;
    }

    .form-material .input-group .input-group-text {
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: #209CDD;
        font-size: 100%;
        padding-left: 0px;
    }

        .form-material .input-group .input-group-text span, .form-select .form-label span {
            padding-left: 5px;
            color: red;
            font-size: 100%;
        }

    .form-material .btn {
        background: #1CACF6;
        color: #fff;
        text-transform: uppercase;
    }

        .form-material .btn.btn-light {
            background-color: transparent;
            color: #1CACF6;
        }

    .form-group {
        margin-bottom: 1rem;
        position: relative;
        min-height: 50px;
    }

    .form-select {
        float: left;
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        flex-direction: row;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

        .form-select .input-group-select {
            min-width: 35%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .form-select .form-label {
            border: 0;
            border-radius: 0;
            background-color: transparent;
            color: #209CDD;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.5;
            position: absolute;
            font-size: 100%;
            min-height: 50px;
        }

        .form-select select {
            padding: .375rem .75rem;
            line-height: 1.5;
            color: #495057;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            text-indent: 1px;
            text-overflow: '';
            border: 0;
            position: relative;
            font-size: 100%;
            height: inherit !important;
        }

            .form-select select + label {
                float: right;
                margin-top: 8px;
                margin-right: 5px;
                pointer-events: none;
                background-color: #fff;
                padding-right: 5px;
                color: #209CDD;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 90%;
            }

            .form-select select::-ms-expand {
                display: none;
            }

        .form-select .select-wrap {
            position: relative;
            display: flex;
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
            padding-bottom: 0.375rem;
        }

    .line-center {
        display: block;
        margin-top: 10px;
    }

    @media (min-width: 769px) {
        .line-center-large {
            display: block;
            margin-top: 10px;
        }
    }

    .panel-font-size {
        position: relative;
        width: 100%;
    }

        .panel-font-size .font-size {
            display: inline-block;
            float: right;
        }

        .panel-font-size .link {
            position: absolute;
            width: 100%;
        }

            .panel-font-size .link .wrap {
                padding: 1rem;
                display: inline-block;
                float: right;
            }

        .panel-font-size.active .link .wrap {
            background: #fff;
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        .panel-font-size .panel {
            display: none;
            position: absolute;
            width: 100%;
            background: #fff;
            top: 61px;
            z-index: 9999;
            padding: 2rem;
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        .panel-font-size.active .panel {
            display: block;
        }

    a.font-size {
        font-size: 1.25rem;
        color: #1cacf6;
        font-weight: bold;
        display: block;
        position: relative;
        padding-right: 10px;
        text-decoration: none;
    }

        a.font-size:after {
            position: absolute;
            font-size: 12px;
            top: 5px;
            right: 0;
            content: "\f10d";
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        a.font-size:before {
            position: absolute;
            font-size: 12px;
            top: 12px;
            right: 0;
            content: "\f104";
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

    .profile-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

        .profile-content .profile-wrap {
            width: 100%;
            height: calc(100% - 210px);
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
        }

    .profile-action {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .input-group-prepend label {
        width: 100%;
    }

    .form-group-text {
        display: inline-block;
        margin: 10px 0;
        width: 100%;
    }

        .form-group-text label {
            display: inline-block;
            padding: .375rem .75rem;
            width: 35%;
            font-size: 100%;
            padding-left: 0px;
        }

        .form-group-text .value {
            display: inline-block;
            padding: .375rem .75rem;
            font-weight: bold;
            font-size: 100%;
        }
</style>

<div class="p-3">
    <div class="panel-font-size pull-right" id="panel_font_size">
        <div class="link">
            <div class="wrap">
                <a href="#" class="font-size" id="link_toggle">Aa</a>
            </div>
        </div>
        <div class="panel popup">
            <p style="font-size:initial;" class="popup">Font size adjustment</p>
            <div class="row popup">
                <div class="col-sm-6 popup">
                    <a class="popup btn btn-font-size font-small btn-block" onclick="editFontSize(false,'Profile');">
                        Aa <i class="popup ion-arrow-down-b"></i>
                    </a>
                </div>
                <div class="col-sm-6 popup ">
                    <a class="popup btn btn-font-size font-large btn-block" onclick="editFontSize(true,'Profile');">
                        Aa <i class="popup ion-arrow-up-b"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block text-center">
        <h4 class="d-inline-block red-underline my-3"><b>Update profile</b></h4>
    </div>
</div>
<!--<div name-page="Update profile" style=""></div>-->
<ul class="profile-tabs nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="particulars-tab" data-toggle="tab" href="#particulars"
           role="tab"
           aria-controls="particulars" aria-selected="true">
            <span class="line-center">Particulars</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab"
           aria-controls="addresses" aria-selected="false">
            <span class="line-center">Addresses</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="next-of-kin-tab" data-toggle="tab" href="#next-of-kin"
           role="tab"
           aria-controls="profile" aria-selected="false">
            <span class="line-center-large">Next-of-kin Details</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="employment-tab" data-toggle="tab" href="#employment" role="tab"
           aria-controls="employment" aria-selected="false"><span class="line-center-large">Employment Details</span></a>
    </li>
</ul>

<div class="profile-content">
    <form class="form-material profile-wrap z-depth-2" id="profileFrm">
        <div class="profile-tab-content bg-white tab-content">
            <div class="tab-pane fade show active" id="particulars" role="tabpanel"
                 aria-labelledby="particulars-tab">
                <div class="form-group-text">
                    <label>
                        Name
                    </label>
                    <div class="value" name="Name" group="Membership_Users">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        NRIC No.
                    </label>
                    <div class="value" name="NRIC" group="Membership_Users">
                    </div>
                </div>

                <div class="form-group-text">
                    <label>
                        Date of Birth
                    </label>
                    <div class="value" name="DOBAsString" group="User_Profiles">

                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Nationality
                    </label>
                    <div class="value" name="Nationality" group="User_Profiles">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Marital Status
                    </label>
                    <div class="value" name="Maritial_Status" group="User_Profiles">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Primary Contact No.
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" name="Primary_Phone" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Secondary Contact No.
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" name="Secondary_Phone" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryEmail">
                                <span class="input-group-text">
                                    Primary Email
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="email@email.com"
                               aria-label="house" aria-describedby="house" name="Primary_Email" group="User_Profiles" maxlength="255" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryEmail">
                                <span class="input-group-text">
                                    Secondary Email
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="email@email.com"
                               aria-label="house" aria-describedby="house" name="Secondary_Email" group="User_Profiles" maxlength="255" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="tab-pane fade show " id="addresses" role="tabpanel"
                 aria-labelledby="particulars-tab">
                <div class="form-group-text">
                    <label>
                        Primary House Number
                    </label>
                    <div class="value" name="BlkHouse_Number" group="Primary_Addresses">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Primary Unit Number
                    </label>
                    <div class="value" name="FlrUnit_Number" group="Primary_Addresses">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Primary Street Name
                    </label>
                    <div class="value" name="Street_Name" group="Primary_Addresses">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Primary Postal Code
                    </label>
                    <div class="value" name="Postal_Code" group="Primary_Addresses">
                    </div>
                </div>
                <div class="form-group-text">
                    <label>
                        Primary Country
                    </label>
                    <div class="value" name="Country" group="Primary_Addresses">
                    </div>
                </div>


                <!--<div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Alternate House Number
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="house" aria-describedby="house" placeholder="House Number" name="BlkHouse_Number" group="Alternate_Addresses" maxlength="50" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Alternate Unit Number
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="house" aria-describedby="house" placeholder="Unit Number" name="FlrUnit_Number" group="Alternate_Addresses" maxlength="50" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Alternate Street Name
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="house" aria-describedby="house" placeholder="Street Name" name="Street_Name" group="Alternate_Addresses" maxlength="255" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Alternate Postal Code
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="house" aria-describedby="house" placeholder="Postal Code" name="Postal_Code" group="Alternate_Addresses" maxlength="30" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Alternate Country
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="house" aria-describedby="house" placeholder="Country" name="Country" group="Alternate_Addresses" maxlength="50" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>-->
            </div>
            <div class="tab-pane fade show " id="next-of-kin" role="tabpanel"
                 aria-labelledby="particulars-tab">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Name">
                                <span class="input-group-text">
                                    Name
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Name"
                               aria-label="house" aria-describedby="house" name="NextOfKin_Name" group="User_Profiles" maxlength="255" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Contact_Number">
                                <span class="input-group-text">
                                    Contact Number
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" name="NextOfKin_Contact_Number" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Relationship">
                                <span class="input-group-text">
                                    Relationship
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Relationship"
                               aria-label="house" aria-describedby="house" name="NextOfKin_Relationship" group="User_Profiles" maxlength="255" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_BlkHouse_Number">
                                <span class="input-group-text">
                                    House Number
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter House Number"
                               aria-label="house" aria-describedby="house" name="NextOfKin_BlkHouse_Number" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_FlrUnit_Number">
                                <span class="input-group-text">
                                    Unit Number
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Unit Number"
                               aria-label="house" aria-describedby="house" name="NextOfKin_FlrUnit_Number" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Street_Name">
                                <span class="input-group-text">
                                    Street Name
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Street Name"
                               aria-label="house" aria-describedby="house" name="NextOfKin_Street_Name" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_PostalCode">
                                <span class="input-group-text">
                                    Postal Code
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Postal Code"
                               aria-label="house" aria-describedby="house" name="NextOfKin_PostalCode" group="User_Profiles" maxlength="30" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Country">
                                <span class="input-group-text">
                                    Country
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Country"
                               aria-label="house" aria-describedby="house" name="NextOfKin_Country" group="User_Profiles" maxlength="50" scandoc="0">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane fade show " id="employment" role="tabpanel"
                 aria-labelledby="particulars-tab">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Name">
                                <span class="input-group-text">
                                    Employer Name
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Name"
                               aria-label="house" aria-describedby="house" name="Employment_Name" group="User_Profiles" maxlength="255" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Contact_Number">
                                <span class="input-group-text">
                                    Employer Contact
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Employer Contact"
                               aria-label="house" aria-describedby="house" name="Employment_Contact_Number" group="User_Profiles" maxlength="50" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Company_Name">
                                <span class="input-group-text">
                                    Company Name
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Company Name"
                               aria-label="house" aria-describedby="house" name="Employment_Company_Name" group="User_Profiles" maxlength="255" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Job_Title">
                                <span class="input-group-text">
                                    Job Title
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Job Tittle"
                               aria-label="house" aria-describedby="house" name="Employment_Job_Title" group="User_Profiles" maxlength="50" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Start_Date">
                                <span class="input-group-text">
                                    Start Date
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Start Date eg:YYYY-MM-DD"
                               aria-label="house" aria-describedby="house" valtype="date" nameserver="Employment_Start_Date" name="Employment_Start_Date_Text" group="User_Profiles" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_End_Date">
                                <span class="input-group-text">
                                    End Date
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter End Date eg:YYYY-MM-DD"
                               aria-label="house" aria-describedby="house" valtype="date" nameserver="Employment_End_Date" name="Employment_End_Date_Text" group="User_Profiles" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Remarks">
                                <span class="input-group-text">
                                    Remarks
                                </span>
                            </label>

                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Employment_Remarks"
                               aria-label="house" aria-describedby="house" name="Employment_Remarks" group="User_Profiles" maxlength="255" scandoc="1">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <button type="submit" style="display:none" id="btnSubmit"></button>
    </form>
</div>
<div class="profile-action">
    <div class="mt-4">
        <div style="display:block;float:right;" id="divSave">
            <!--<button type="button" class="btn btn-dark" onclick="api.server.LoadPageSupervisee();">Back</button>-->
            <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;right:140px; float:right;" onclick="api.server.LoadPageSupervisee();">Cancel</button>
            <button type="button" class="btn btn-success" style="position:fixed;bottom:10px;right:40px; float:right;" id="SaveBtn">Update</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    var jsonFormData = null;
    var modelProfile = null;
    var modelUpdate = {};
    var isScanUpdate = false;
    function scanDocumentProfileCallbackImg(arrayImg) {
        api.server.SaveProfile(JSON.stringify(modelUpdate), JSON.stringify(arrayImg), isScanUpdate);
    }
    api.ready(function (model) {
        modelProfile = model;

        $('#profileFrm [group]').each(function () {
            var name = $(this).attr('name');
            var group = $(this).attr('group');
            if (modelProfile[group] != null && typeof modelProfile[group][name] != 'undefined') {
                var value = modelProfile[group][name] == null ? '' : modelProfile[group][name];
                if ($(this).is('.value')) {
                    $(this).text(value);
                } else {
                    $(this).val(value);
                }
            }
        });
        $('#profileFrm [valtype="date"]').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
            scrollInput: false
        });
    });

    function activeTab(name) {
        $('#activeTab').val(name);
        $('#divError').hide();
        if (name != "Particulars") {
            $('#noticeMess').hide();
        }
    }

    $('#SaveBtn').click(function () {
        $("#profileFrm").submit();
    });
    $("#profileFrm").submit(function (e) {
        var $form = $(this);
        //get data
        isScanUpdate = false;
        modelUpdate = {};
        $form.find('input[group]').each(function () {
            var name = $(this).attr('name');
            var group = $(this).attr('group');
            var isScan = $(this).attr('scandoc') == '1' ? true : false;
            var valueNow = $.trim($(this).val());
            var valueOld = '';

            if (typeof modelUpdate[group] == 'undefined') {
                modelUpdate[group] = {};
            }
            if (modelProfile[group] != null && typeof modelProfile[group][name] != 'undefined') {
                valueOld = modelProfile[group][name] == null ? '' : modelProfile[group][name];
            }
            if (isScan && valueNow != valueOld) {
                isScanUpdate = true;
            }
            if (valueNow != valueOld) {
                var nameserver = $(this).attr('nameserver');
                var type = $(this).attr('valtype');
                if (typeof nameserver == 'undefined') {
                    modelUpdate[group][name] = valueNow;
                } else {
                    if (typeof type != 'undefined' && type == 'date') {
                        modelUpdate[group][nameserver] = api.ToDateCSharp(valueNow);
                    } else {
                        modelUpdate[group][nameserver] = valueNow;
                    }
                }
            }
        });
        ShowMessageConfirm("", "Are you sure you want to update", function (status) {
            if (status) {
                if (isScanUpdate) {
                    api.server.LoadPopupHtml("PopupScanDocument.html", 'scanDocumentProfileCallbackImg');
                } else {
                    scanDocumentProfileCallbackImg([]);
                }
            }
        });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });


</script>
<script type="text/javascript">
    //show menu logout or back main
    $('#header[right-show]').attr('right-show', 'back-main');
    if (typeof font_size_page['Profile'] != 'undefined') {
        $('#content').css('font-size', font_size_page['Profile']);
    }
</script>
<script>
    /**
     * POPUP font
     */
    window.onclick = function (event) {
        var popup = document.getElementsByClassName('popup');
        if (event.target === document.getElementById('link_toggle')) {
            if (document.getElementById('panel_font_size') && typeof document.getElementById('panel_font_size').classList !== 'undefined') {
                document.getElementById('panel_font_size').classList.toggle('active');
            }
        } else if (event.target !== document.getElementById('popup_font') && indexInClass(popup, event.target) === -1) {
            if (document.getElementById('panel_font_size') && typeof document.getElementById('panel_font_size').classList !== 'undefined') {
                document.getElementById('panel_font_size').classList.remove('active');
            }
        }
    };
    function indexInClass(collection, node) {
        for (var i = 0; i < collection.length; i++) {
            if (collection[i] === node)
                return i;
        }
        return -1;
    }
</script>