<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- For Face Algorithm-->
    <add key="alg_password" value=""/>
    <add key="alg_remote_mode" value="true"/>
    <add key="alg_remote_server" value="127.0.0.1"/>
    <add key="alg_remote_server_port" value="80"/>
    <!--1: long distance mode (track small faces, 24*24),
        2: short distance mode (track large faces, 72*72)
    -->
    <add key ="alg_distance_mode" value="2"/>

    <!-- For UI logic, compress image-->
    <add key="image_compress" value="true"/>

    <!-- For Camera source -->
    <!-- If url is not set, the first web camera in device list will be used. -->
    <add key="source_url" value=""/>
    <add key="source_input_format" value="dshow"/>
    <!-- '1' means web camera, '2' means IP camera.-->
    <add key="source_type" value="1"/>

    <!-- High ISO Quality Thresholds for moving face -->
    <!-- [0, 1] bigger, more sharp -->
    <add key="iso_quality_sharp" value="0.3"/>
    <!-- [0, 4000] smaller, more frontal-->
    <add key="iso_quality_yaw_val" value="500"/>
    <!-- [-10, 10] bigger, eye open more -->
    <add key="iso_quality_eye_close" value="0"/>
    <!-- [-70, 50] bigger, mouth open more -->
    <add key="iso_quality_mouth_close" value="0"/>

    <!-- Low ISO Quality Thresholds for still face -->
    <add key="iso_quality_sharp_low" value="0.1"/>

    <!-- For UI 1:1 match -->
    <add key="vfd_match_threshold" value="2800"/>
    <add key="vfd_search_threshold" value="3200"/>
    <add key="max_score" value="3800"/>
    <add key="min_score" value="2000"/>
    <add key="pass_base_percentage" value="90"/>
    <add key="reject_base_percentage" value="80"/>

    <!-- For UI remote search -->
    <add key="biolive_server_ip" value="127.0.0.1"/>
    <add key="biolive_server_port" value="80"/>
    <add key="vfd_auto_search" value="true"/>

    <!-- For UI remote enroll record -->
    <add key="biocheck_server_ip" value="127.0.0.1"/>
    <add key="biocheck_server_port" value="80"/>
    <add key="auto_save" value="false"/>

    <!-- For LFIS server management -->
    <add key="user_name" value=""/>
    <add key="user_password" value=""/>
    <add key="user_uniqueID" value=""/>
    <add key="image_rotation" value="180"/>
    <add key="license_password" value="TSKPP42JWAANPK8V3E2547SY"/>
  </appSettings>
</configuration>