<style>
    .xdsoft_datetimepicker {
        margin-left: 200px;
    }

    .max-height-350px {
        height: 200px;
        width: auto;
        overflow: hidden;
    }

    .collapsible {
        list-style: none;
        padding: 0;
        margin: 1rem 0;
    }

        .collapsible li {
            list-style: none;
            padding: 0;
        }

        .collapsible .collapsible-header {
            font-size: 1.2rem;
            border-bottom: 1px solid #ccc;
            position: relative;
            padding-top: 1rem;
        }

            .collapsible .collapsible-header:after {
                color: #1cacf6;
                content: "\f077";
                display: inline-block;
                font-family: "FontAwesome";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 0;
            }

            .collapsible .collapsible-header.collapsed:after {
                content: "\f078";
            }

        .collapsible .collapsible-body {
            margin: 1rem 0;
        }

    #superviseeDetails .btn {
        text-transform: uppercase;
    }

    .form-material .input-group-prepend {
        min-width: 35%;
    }

    .form-material .input-group .input-group-text {
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: #209CDD;
    }

    .form-material .btn {
        background: #1CACF6;
        color: #fff;
        text-transform: uppercase;
    }

        .form-material .btn.btn-light {
            background-color: transparent;
            color: #1CACF6;
        }

    .form-group {
        margin-bottom: 1rem;
        position: relative;
        min-height: 50px;
    }

    .form-select {
        width: 100%;
        float: left;
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
    }

        .form-select .input-group-select {
            min-width: 35%;
        }

        .form-select .form-label {
            border: 0;
            border-radius: 0;
            background-color: transparent;
            color: #209CDD;
            padding: .375rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            position: absolute;
        }

        .form-select select {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            text-indent: 1px;
            text-overflow: '';
            border: 0;
            position: relative;
        }

            .form-select select + label {
                float: right;
                margin-top: 7px;
                margin-right: 5px;
                pointer-events: none;
                background-color: #fff;
                padding-right: 5px;
                color: #209CDD;
            }

            .form-select select::-ms-expand {
                display: none;
            }

        .form-select .select-wrap {
            position: relative;
        }

    .tab-fix {
        position: relative;
        max-width: 100%;
        max-height: calc(100% - 80px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .form-material input::-webkit-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input::-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-ms-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .hidden-scrollbar {
        position: relative;
        height: 450px;
        width: 100%;
        overflow: hidden;
    }

        .hidden-scrollbar .scrollbar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -17px;
            padding-right: 17px;
            overflow-y: auto;
            overflow-x: hidden;
        }

    #issuedCardList {
        width: calc(100% - 60px);
        margin: 30px;
        text-align: center;
    }

    .modal-dialog {
        width: 450px;
    }

    .modal-header {
        border: none;
    }

    button {
        margin-top: 20px;
        padding: 10px 0;
        border-radius: 4px;
        border: none;
    }

    #reprintCard .modal-body button {
        background: none;
        border: none;
        color: #1CACF6;
    }

        #reprintCard .modal-body button:hover,
        #reprintCard .modal-body button:focus {
            color: #fff;
            background: #1CACF6;
            cursor: pointer;
        }

    textarea {
        resize: none;
    }

    [item-tab-content] {
        margin: 20px 0px;
    }

        [item-tab-content] [item-tab-title] {
            border-bottom: 1px solid #DDD;
            position: relative;
            cursor: pointer;
            font-size: 18px;
        }

            [item-tab-content] [item-tab-title]::after {
                content: "\f077";
                font-family: "FontAwesome";
                color: #1cacf6;
                position: absolute;
                right: 0px;
                bottom: 0px;
            }

    [item-tab-content="true"] [item-tab-title]::after {
        content: "\f077" !important;
    }

    [item-tab-content] [item-tab-title]::after {
        content: "\f078";
        font-family: "FontAwesome";
        color: #1cacf6;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 13px;
    }

    [item-tab-content] [item-tab-body] {
        display: none;
    }

    [item-tab-content="true"] [item-tab-body] {
        display: block;
        margin: 1rem 0px;
    }
</style>
<div>
    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:;">
                <i class="fa fa-info-circle"></i>Supervisee Details
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" onclick="api.server.LoadPage('ReprintSmartCard.html');">
                <i class="fa fa-address-card"></i>Issued card
            </a>
        </li>
    </ul>
</div>
<div class="title-border-red border-bottom">
    <h5>Edit Supervisee</h5>
</div>
<div style="position:absolute;left: 0px;width: 100%;height: calc(100% - 185px);margin-top: 0px;overflow-x:hidden;overflow-y:auto;padding: 20px;">
    <div style="width:800px;max-width: calc(100% - 40px);margin:auto;">
        <div>
            <div style="margin-bottom:10px;">
                <span style="display:inline-block;width:50px;">Name:</span>
                <span style="display:inline-block;font-weight:700;" display-data="Name"></span>
            </div>
            <div style="margin-bottom:30px;">
                <span style="display:inline-block;width:50px;">NRIC:</span>
                <span style="display:inline-block;font-weight:700;" display-data="NRIC"></span>
            </div>
        </div>
        <form id="superviseeFrm">
            <div item-tab-content="false">
                <div item-tab-title="">Suppervisee's Biodata</div>
                <div item-tab-body="">
                    <div id="suppervisee" class="collapsible-body"
                         aria-labelledby="Suppervisee's Biodata" data-parent="#accordion">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <img src="../images/avatar-demo.jpg" alt="avatar"
                                             class="img-fluid max-height-350px" id="userPhoto1" />
                                        <input type="hidden" id="User_Photo1" name="User_Photo1" />
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <img src="../images/avatar-demo.jpg" alt="avatar"
                                             class="img-fluid max-height-350px" id="userPhoto2" />
                                        <input type="hidden" id="User_Photo2" name="User_Photo2" />
                                    </div>
                                </div>
                                <a href="#" id="updatePhotos">Update Photos</a>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <img src="../images/leftthumb.png" alt="avatar"
                                             class="img-fluid max-height-350px" id="LeftThumbFingerprint" name="LeftThumbFingerprint" />

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <img src="../images/rightthumb.png" alt="avatar"
                                             class="img-fluid max-height-350px" id="RightThumbFingerprint" name="RightThumbFingerprint" />
                                    </div>
                                </div>
                                <a href="#" id="updateFinger">Update Fingerprints</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div item-tab-content="false">
                <div item-tab-title="">Residential Address</div>
                <div item-tab-body="">
                    <div id="residential" class="collapsible-body" aria-labelledby="Residential Address" data-parent="#accordion">
                        <div group-input="House No.">
                            <input type="text" placeholder="House No." id="BlkHouse_Number" name="BlkHouse_Number" maxlength="50" />
                        </div>
                        <div group-input="Unit No.">
                            <input type="text" placeholder="Unit No." id="FlrUnit_Number" name="FlrUnit_Number" maxlength="50" />
                        </div>
                        <div group-input="Street name">
                            <input type="text" placeholder="Street name" id="Street_Name" name="Street_Name" maxlength="255" />
                        </div>
                        <div group-input="Country">
                            <input type="text" placeholder="Country" id="Country" name="country" maxlength="50" />
                        </div>
                        <div group-input="Postal code">
                            <input type="text" placeholder="Postal code" id="Postal_Code" name="Postal_Code" maxlength="30" />
                        </div>
                    </div>
                </div>
            </div>
            <div item-tab-content="false">
                <div item-tab-title="">Other Address</div>
                <div item-tab-body="">
                    <div id="otherAddress" class="collapsible-body" aria-labelledby="Other Address" data-parent="#accordion">
                        <div group-input="House No.">
                            <input type="text" placeholder="House No." id="OBlkHouse_Number" name="OBlkHouse_Number" maxlength="50" />
                        </div>
                        <div group-input="Unit No.">
                            <input type="text" placeholder="Unit No." id="OFlrUnit_Number" name="OFlrUnit_Number" maxlength="50" />
                        </div>
                        <div group-input="Street name">
                            <input type="text" placeholder="Street name" id="OStreet_Name" name="OStreet_Name" maxlength="255" />
                        </div>
                        <div group-input="Country">
                            <input type="text" placeholder="Country" id="OCountry" name="OCountry" maxlength="50" />
                        </div>
                        <div group-input="Postal code">
                            <input type="text" placeholder="Postal code" id="OPostal_Code" name="OPostal_Code" maxlength="30" />
                        </div>
                    </div>
                </div>
            </div>
            <div item-tab-content="false">
                <div item-tab-title="">Next-of-Kin</div>
                <div item-tab-body="">
                    <div id="nextOfKin" class="collapsible-body" aria-labelledby="Next-of-Kin" data-parent="#accordion">

                        <div group-input="Next-of-Kin Name">
                            <input type="text" placeholder="Next-of-Kin Name" id="NextOfKin_Name" name="NextOfKin_Name" maxlength="255" />
                        </div>
                        <div group-input="Next-of-Kin Contact No.">
                            <input type="text" placeholder="Next-of-Kin Contact No." id="NextOfKin_Contact_Number" name="NextOfKin_Contact_Number" maxlength="50" />
                        </div>
                        <div group-input="Next-of-Kin Relationship">
                            <input type="text" placeholder="Next-of-Kin Relationship" id="NextOfKin_Relationship" name="NextOfKin_Relationship" maxlength="255" />
                        </div>
                        <div group-input="Next-of-Kin Blk House No.">
                            <input type="text" placeholder="Next-of-Kin Blk House No." id="NextOfKin_BlkHouse_Number" name="NextOfKin_BlkHouse_Number" maxlength="50" />
                        </div>
                        <div group-input="Next-of-Kin Unit No.">
                            <input type="text" placeholder="Next-of-Kin Unit No." id="NextOfKin_FlrUnit_Number" name="NextOfKin_FlrUnit_Number" maxlength="50" />
                        </div>
                        <div group-input="Next-of-Kin Street Name">
                            <input type="text" placeholder="Next-of-Kin Street Name" id="NextOfKin_Street_Name" name="NextOfKin_Street_Name" maxlength="255" />
                        </div>
                        <div group-input="Next-of-Kin Country">
                            <input type="text" placeholder="Next-of-Kin Country" id="NextOfKin_Country" name="NextOfKin_Country" maxlength="50" />
                        </div>
                        <div group-input="Next-of-Kin Postal code">
                            <input type="text" placeholder="Next-of-Kin Postal code" id="NextOfKin_PostalCode" name="NextOfKin_PostalCode" maxlength="30" />
                        </div>
                    </div>
                </div>
            </div>
            <div item-tab-content="false">
                <div item-tab-title="">Employment Details</div>
                <div item-tab-body="">
                    <div id="employment" class="collapsible-body" aria-labelledby="Employment Details" data-parent="#accordion">

                        <div group-input="Employer Name">
                            <input type="text" placeholder="Employer Name" id="Employment_Name" name="Employment_Name" maxlength="255" />
                        </div>
                        <div group-input="Employer Contact No.">
                            <input type="text" placeholder="Employer Contact No." id="Employment_Contact_Number" name="Employment_Contact_Number" maxlength="50" />
                        </div>
                        <div group-input="Company Name">
                            <input type="text" placeholder="Company Name" id="Employment_Company_Name" name="Employment_Company_Name" maxlength="255" />
                        </div>
                        <div group-input="Job Title">
                            <input type="text" placeholder="Job Title" id="Employment_Job_Title" name="Employment_Job_Title" maxlength="50" />
                        </div>
                        <div group-input="Employment Start Date">
                            <input type="text" placeholder="dd/mm/yyyy" id="Employment_Start_Date" name="Employment_Start_Date" />
                        </div>
                        <div group-input="Employment End Date">
                            <input type="text" placeholder="dd/mm/yyyy" id="Employment_End_Date" name="Employment_End_Date" />
                        </div>
                        <div group-input="Remarks">
                            <input type="text" placeholder="Remarks" id="Employment_Remarks" name="Employment_Remarks" maxlength="255" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="position:absolute;width: 100%;height: 50px;bottom: 10px;border-top: 1px solid #CCC;">
    <div style="width: calc(100% - 80px);margin-left: 40px;text-align: right;margin-top: 11px;">
        <!--<button class="btn btn-light" onclick="api.server.CancelEditSupervisee();">Cancel</button>-->
        <a href="#" class="btn btn-light" id="btnCancel" style="margin-right:20px;min-width:150px;">Cancel</a>
        <!--<button href="#" class="btn btn-primary" onclick="UpdateSupervisee();" id="SaveBtn">Save</button>-->
        <a href="#" class="btn btn-primary" id="SaveBtn" style="min-width:150px;">Save</a>
    </div>
</div>
<script>
    api.ready(function (model) {
        if (model != null) {

            $('[display-data="Name"]').text(model.User.Name);
            $('[display-data="NRIC"]').text(model.User.NRIC);

            $('#userId').val(model.User.UserId);
            // NextOfKin
            $('#NextOfKin_Name').val(model.UserProfile.NextOfKin_Name);
            $('#NextOfKin_Contact_Number').val(model.UserProfile.NextOfKin_Contact_Number);
            $('#NextOfKin_Relationship').val(model.UserProfile.NextOfKin_Relationship);
            $('#NextOfKin_BlkHouse_Number').val(model.UserProfile.NextOfKin_BlkHouse_Number);
            $('#NextOfKin_FlrUnit_Number').val(model.UserProfile.NextOfKin_FlrUnit_Number);
            $('#NextOfKin_Street_Name').val(model.UserProfile.NextOfKin_Street_Name);
            $('#NextOfKin_Country').val(model.UserProfile.NextOfKin_Country);
            $('#NextOfKin_PostalCode').val(model.UserProfile.NextOfKin_PostalCode);
            // Employment
            $('#Employment_Name').val(model.UserProfile.Employment_Name);
            $('#Employment_Contact_Number').val(model.UserProfile.Employment_Contact_Number);
            $('#Employment_Company_Name').val(model.UserProfile.Employment_Company_Name);
            $('#Employment_Job_Title').val(model.UserProfile.Employment_Job_Title);
            $('#Employment_Start_Date').val(model.UserProfile.Employment_Start_Date_Text);
            $('#Employment_End_Date').val(model.UserProfile.Employment_End_Date_Text);
            $('#Employment_Remarks').val(model.UserProfile.Employment_Remarks);
            // Residential Address
            $('#Address_ID').val(model.UserProfile.Residential_Addess_ID);
            $('#Street_Name').val(model.Addresses.Street_Name);
            $('#BlkHouse_Number').val(model.Addresses.BlkHouse_Number);
            $('#FlrUnit_Number').val(model.Addresses.FlrUnit_Number);
            $('#Country').val(model.Addresses.Country);
            $('#Postal_Code').val(model.Addresses.Postal_Code);
            // Other Address
            $('#OAddress_ID').val(model.UserProfile.Other_Address_ID);
            $('#OStreet_Name').val(model.OtherAddress.Street_Name);
            $('#OBlkHouse_Number').val(model.OtherAddress.BlkHouse_Number);
            $('#OFlrUnit_Number').val(model.OtherAddress.FlrUnit_Number);
            $('#OCountry').val(model.OtherAddress.Country);
            $('#OPostal_Code').val(model.OtherAddress.Postal_Code);
            // photo
            $('#User_Photo1').val(model.UserProfile.User_Photo1);
            $('#User_Photo2').val(model.UserProfile.User_Photo2);
        }
    });

    $('#Employment_Start_Date, #Employment_End_Date').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
        scrollInput: false
    });
    $('[item-tab-content] [item-tab-title]').click(function () {
        var _parent = $(this).parent('[item-tab-content]');
        if (_parent.attr('item-tab-content') != 'true') {
            _parent.attr('item-tab-content', 'true');
        } else {
            _parent.attr('item-tab-content', 'false');
        }
    }).mousedown(function (event) {
        event.preventDefault();
    });

    $('#btnCancel').click(function () {
        api.server.CancelEditSupervisee();
    });
    $('#updateFinger').click(function () {
        api.server.UpdateFingerprints();
    });
    $('#SaveBtn').click(function (e) {
        e.preventDefault();
        var $form = $("#superviseeFrm");
        var data = getFormData($form);
        data['Employment_End_Date'] = api.ToDateCSharp(data['Employment_End_Date']);
        data['Employment_Start_Date'] = api.ToDateCSharp(data['Employment_Start_Date']);

        var json = JSON.stringify(data);
        api.server.SaveSupervisee(json);
    });
    //function UpdateSupervisee() {
    //    $('#superviseeFrm').submit(function (e) {
    //        $('#Employment_Start_Date').val(setDate('day', 'month', 'year'));
    //        $('#Employment_End_Date').val(setDate('day_end', 'month_end', 'year_end'));

    //        var $form = $("#superviseeFrm");
    //        var data = getFormData($form);
    //        var json = JSON.stringify(data);
    //        api.server.SaveSupervisee(json);

    //        e.preventDefault();
    //    });
    //}
    $(function () {

        //$('.s_label').click(function () {
        //    $(this).next().fadeToggle(200);
        //});
        var d = new Date();
        var month = new Array();
        var year = d.getFullYear();
        var years = new Array();
        var days = new Array();

        for (var i = 0; i < 31; i++) {
            days[i] = (i + 1);
        }
        $.each(days, function (key, value) {
            $('#day').append($('<option>', { value: value })
                .text(value));
            $('#day_end').append($('<option>', { value: value })
                .text(value));
        });

        for (var i = 1; i < 13; i++) {
            month[i] = i;
        }

        $.each(month, function (key, value) {
            $('#month').append($('<option>', { value: value })
                .text(value));
            $('#month_end').append($('<option>', { value: value })
                .text(value));
        });
        for (var i = 0; i < 100; i++) {
            years[i] = (year - i);
        }
        $.each(years, function (key, value) {
            $('#year').append($('<option>', { value: value })
                .text(value));
            $('#year_end').append($('<option>', { value: value })
                .text(value));
        });
    });




    function setDate(day_Id, month_Id, year_Id) {
        var _day = $('#' + day_Id + '').val().trim();
        var _month = $('#' + month_Id + '').val().trim();
        var _year = $('#' + year_Id + '').val().trim();
        if (_day != "" && _month != "" && _year != "" && _day != "DD" && _month != "MM" && _year != "YYYY") {
            return _year + "-" + _month + "-" + _day;
        }
        else {
            return null;
        }

    }
    function setCalendar(day_Id, month_Id, year_Id) {
        var _month = $('#' + month_Id + '').val();
        var _year = $('#' + year_Id + '').val();

        var _daysInMonth = daysInMonth(_month, _year);

        $('#' + day_Id + '').find('option').remove();
        var days = new Array();

        for (var i = 0; i < 31; i++) {
            days[i] = (i + 1);
        }
        $.each(days, function (key, value) {
            if (value <= _daysInMonth) {
                $('#' + day_Id + '').append($('<option>', { value: value })
                    .text(value));
            }

        });
    }

    function daysInMonth(month, year) { // Use 1 for January, 2 for February, etc.
        return new Date(year, month, 0).getDate();
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    function setPopUpPhotoServerCall(photo1, photo2) {
        $('#PopupUserPhoto1').css('background-image', 'url(data:image/jpg;base64,' + photo1 + ')');
        $('#PopupUserPhoto2').css('background-image', 'url(data:image/jpg;base64,' + photo2 + ')');
    }
    function setFingerprintServerCall(finger1, finger2) {
        $('#LeftThumbFingerprint').attr('src', finger1);
        $('#RightThumbFingerprint').attr('src', finger2);
    }

    function saveNewDataToSession() {
        var $form = $("#superviseeFrm");
        var data = getFormData($form);
        data['Employment_End_Date'] = api.ToDateCSharp(data['Employment_End_Date']);
        data['Employment_Start_Date'] = api.ToDateCSharp(data['Employment_Start_Date']);

        var json = JSON.stringify(data);
        api.server.saveNewDataToSession(json);
    }

    /*$("#SaveBtn").on('click', function () {
        var $form = $("#superviseeFrm");
        var data = getFormData($form);
        var json = JSON.stringify(data);
        //api.server.SaveSupervisee(json);
    });*/
    $("#superviseeFrm").submit(function (e) {
        return false;
    });

    /*$('#SaveBtn').click(function () {
        var $form = $("#superviseeFrm");
        var data = getFormData($form);
        var json = JSON.stringify(data);
        api.server.SaveSupervisee(json, true);
    });*/

    $("#updatePhotos").click(function () {
        api.server.UpdatePhotos();
    });
    $("#Close_popup").click(function () {
        hidePopUp();
    })
    function showPopUp(elem_id) {
        saveNewDataToSession();
        $("#" + elem_id).show();
    }
    function hidePopUp() {
        api.server.ReplaceOldPhotos();
        $("#pageUpdatePhotos").hide();
    }

    function setAvatar(base64Str1, base64Str2) {
        if (base64Str1 != "") {
            $('#userPhoto1').attr('src', 'data:image/jpg;base64,' + base64Str1);
            // $('#PopupUserPhoto1').css('background-image', 'url(data:image/jpg;base64,' + base64Str1 + ')');
        }
        if (base64Str2 != "") {
            $('#userPhoto2').attr('src', 'data:image/jpg;base64,' + base64Str2);
            //  $('#PopupUserPhoto2').css('background-image', 'url(data:image/jpg;base64,' + base64Str2 + ')');
        }
    }

    jQuery(function ($) {
        var modal_lv = 0;
        $('.modal').on('shown.bs.modal', function (e) {
            a = $('.modal-backdrop:last').css('zIndex', 1051 + modal_lv); console.log(a);
            b = $(e.currentTarget).css('zIndex', 1052 + modal_lv); console.log(b);
            modal_lv++
        });

        $('.modal').on('hidden.bs.modal', function (e) {
            modal_lv--
        });
    });
</script>