<div style="width:100%; padding:10px;">
	<div class="header">
		<img class="logo" src="../images/logo.png" />
		<h3>Edit Supervisee</h3>
		<div class="clear"></div>
	</div>
	<div class="form-supervisee">
		<input class="name-supervisee" type="text" value="Erol Supervisee" />
		<nav class="nav nav-tabs" id="myTab" role="tablist">
			<a class="nav-item nav-link active" data-toggle="tab" href="#print-card" role="tab" aria-controls="nav-home" aria-selected="true">Print Card</a>
			<a class="nav-item nav-link" data-toggle="tab" href="#supervisee-details" role="tab" aria-controls="nav-profile" aria-selected="false">Supervisee Details</a>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="print-card" role="tabpanel" aria-labelledby="nav-home-tab">
				<span class="s_blodata" >Supervisee's Biodata</span>
						<div class="detail_s_blodata">
							<div class="row">								
								<div class="col-7">
									<div class="row">								
										<div class="col">
											<img class="avatar" id="userPhoto1" src="" />
											<button  type="button" id="updatePhoto1">Update Photos</button>
										</div>
										<div class="col">
											<img class="avatar" id="userPhoto2" src="../images/usr-default.jpg" />
											<button type="button" id="updatePhoto2">Update Photos</button>
										</div>
									</div>
								</div>
								<div class="col-5">
									<div class="row">
										<div class="col">
											<img class="avatar" src="../images/fingerprint.png" style="max-width:70%" />
											<button type="button">Update Fingerprints</button>
										</div>
										<div class="col">
											<img class="avatar" src="../images/fingerprint.png" style="max-width:70%" />
											<button type="button">Update Fingerprints</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input class="s_address" type="text" value="" placeholder="Supervisee's Address" />
						<input class="s_other_address" type="text" value="" placeholder="Other Address" />
						<input class="s_next_of_kin" type="text" value="" placeholder="Next Of Kin" />
						<input class="s_employment_details" type="text" value="" placeholder="Employment details" />
				<div class="btn-group">
					<button type="submit" class="btn-form">Save</button>
					<button type="submit" class="btn-form">Cancel</button>
				</div>
			</div>
			<div class="tab-pane fade" id="supervisee-details" role="tabpanel" aria-labelledby="nav-profile-tab">
				<input class="" type="text" value="" placeholder="Supervisee's Blodata" />
				<input class="" type="text" value="" placeholder="Supervisee's Address" />
				<input class="" type="text" value="" placeholder="Other Address" />
				<input class="" type="text" value="" placeholder="Next Of Kin" />
				<input class="" type="text" value="" placeholder="Employment details" />
				<div class="btn-group">
					<button type="submit" class="btn-form">Save</button>
					<button type="submit" class="btn-form">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>


	$(function() {
        if (api.model != null) {
			$('.s_address').val(api.model.User.Name);
			$('.s_other_address').val(api.model.UserProfile.Name);
			$('.s_next_of_kin').val(api.model.UserProfile.NextOfKin_Name);
			$('.s_employment_details').val(api.model.UserProfile.Name);

            /*for (var i = 0; i < api.model.length; i++) {
				var uId = '"' + api.model[i].User.UserId + '"';
                $('#listSupervisee').append("<tr> <th scope='row'>" + (i + 1) + "</th><td>" + api.model[i].User.Name + "</td><td>" + api.model[i].User.NRIC + "</td><td>" + api.model[i].UserProfile.DOB + "</td><td><a href='#' onclick='api.server.EditSupervisee(" + uId + ");'>" + api.model[i].User.Status + "</a></td></tr>");
            }*/
        }

    });


</script>