<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../scripts/styles.css" />
    <link href="../bootstrap/css/ionicons.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../keyboard/jquery.ml-keyboard.css" rel="stylesheet" />
    <script type="text/javascript" src="../scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/JsBarcode.all.min.js"></script>
    <script src="../scripts/utils.js"></script>
    <script type="text/javascript" src="../scripts/lib.js"></script>

    <script src="../keyboard/jquery.ml-keyboard.min.js"></script>

    <script type="text/javascript" src="../html2canvas/html2canvas.js"></script>
    <script type="text/javascript" src="../html2canvas/jquery.plugin.html2canvas.js"></script>

</head>

<body>
    <div id="header">
        <div class="header-landingPage">
            <img class="logo" src="../images/logoCNB.svg"  style="height:80px;width:auto;"/>
            <div class="clear"></div>
        </div>

        <div class="header-landingPage" style="background-color:#5D5D5D;margin-top:75px">
            <h3 style="color:white"><i class="fa fa-home" style="color:#0094ff;margin-left:15px;"></i> Enrolment</h3>
            <a href="#" onclick="api.server.LogOut()" style="float:right;color:white;margin-right:20px;">Logout</a>
            <div class="clear"></div>
        </div>
    </div>
    <div id="parent-content">
        <div id="content">

        </div>
    </div>
    <div class="loading">
        <span class="loader"></span>
    </div>
    <div id="panel-popup">

    </div>
</body>
</html>