<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

	<link rel="stylesheet" href="../scripts/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" href="../scripts/jquery.steps.css"/>
	<link rel="stylesheet" href="../scripts/styles.css"/>
    <script type="text/javascript" src="../scripts/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../scripts/bootstrap/popper.min.js"></script>
	<script type="text/javascript" src="../scripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="../scripts/jquery.steps.min.js"></script>
	<script type="text/javascript" src="../scripts/lib.js"></script>

</head>
<body>
    <div id="header"></div>
    <div id="parent-content">
        <div id="content">

        </div>
    </div>    
    <div class="loading">
        <span class="loader"></span>
    </div>
</body>
</html>