<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1"/>
    <meta name="description" content="Something abt this cpn"/>
    <title>Enrolment</title>
    <link rel="stylesheet" href="../scripts/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../scripts/styles.css"/>
    <script type="text/javascript" src="../scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap/bootstrap.min.js"></script>
</head>
<body>
	<div style="width:1000px;min-height:600px;margin:20px auto;border:2px solid #000">		
		<div class="row">
			<div class="col">
			</div>
			<div class="col-6">
				<div class="header-login">
					<img src="../images/logo.png" />
					<h3>Enrolment Project</h3>
					<div class="clear"></div>
				</div>
				<!----------------->
				<form class="form-login">
					<h4>Form Login</h4>
					<div class="form-group row">
						<label for="inputUsername" class="col-sm-4 col-form-label">Username</label>
						<div class="col-sm-8">
						  <input type="text" id="inputUsername" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
						<div class="col-sm-8">
						  <input type="password" id="inputPassword" placeholder="">
						</div>
					</div>
					<div class="form-login-footer">
						<button type="submit" class="btn-login">Login</button>
						<div class="clear"></div>
						<a class="forgot-pass" href="">Forgot Password</a>
					</div>					
				</form>	
			</div>
			<div class="col">
			</div>
		</div>		
	</div>
</body>
</html>
    