<script>
	$(function ()
	{
		$("#wizard").steps({
			headerTag: "h2",
			bodyTag: "section",
			transitionEffect: "slideLeft"
		});
			
		$("input[type='image']").click(function() {
			$("input[id='my_file']").click();
		});
	});
</script>
<div style="width:100%; padding:10px;">
			<div class="header">
				<img class="logo" src="../images/logo.png" />
				<h3>Add New Supervisee</h3>
				<div class="clear"></div>
			</div>			
			<div class="form-supervisee">
				<input class="name-supervisee" type="text" value="Erol Supervisee" />
				<nav class="nav nav-tabs" id="myTab" role="tablist">
				  <a class="nav-item nav-link active" data-toggle="tab" href="#print-card" role="tab" aria-controls="nav-home" aria-selected="true">Print Card</a>
				  <a class="nav-item nav-link" data-toggle="tab" href="#supervisee-details" role="tab" aria-controls="nav-profile" aria-selected="false">Supervisee Details</a>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="print-card" role="tabpanel" aria-labelledby="nav-home-tab">
						<div id="wizard">
							<h2>TAKE PHOTOS</h2>
							<section>
								<div class="row">
									<div class="col">
										<img class="avatar" src="../images/usr-default.jpg" />
										
										<button type="button">Get Image</button>
									</div>
									<div class="col">
										<img class="avatar" src="../images/usr-default.jpg" />
										
										<button type="button">Get Image</button>
									</div>
									<div class="col">
										<img class="avatar" src="../images/usr-default.jpg" />
										
										<button type="button">Get Image</button>
									</div>
								</div>
							</section>

							<h2>GET FINGERPRINTS</h2>
							<section>
								456
							</section>

							<h2>VERIFY CARD</h2>
							<section>
								789
							</section>

							<h2>PRINT CARD</h2>
							<section>
								34567
							</section>
						</div>
					</div>
					<div class="tab-pane fade" id="supervisee-details" role="tabpanel" aria-labelledby="nav-profile-tab">
						<input class="" type="text" value="" placeholder="Supervisee's Blodata" />
						<input class="" type="text" value="" placeholder="Supervisee's Address" />
						<input class="" type="text" value="" placeholder="Other Address" />
						<input class="" type="text" value="" placeholder="Next Of Kin" />
						<input class="" type="text" value="" placeholder="Employment details" />
						<div class="btn-group">
							<button type="submit" class="btn-form">Save</button>
							<button type="submit" class="btn-form">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    