<div style="width:100%;">
	<div class="header header-form-supervisee">
		<img class="logo" src="../images/logo.png" />
        <h3>Reprint Smart Card</h3>
		<div class="clear"></div>
	</div>
	<div class="form-supervisee">
		<form id="superviseeFrm">
			<input class="name-supervisee" type="text" value="Reprint Smart Card" disabled="disabled" />
			<nav class="nav nav-tabs" id="myTab" role="tablist">
				<a class="nav-item nav-link" href="javascript:LoadSuperviseeDetails();">Supervisee Details</a>
				<a class="nav-item nav-link active">Issued Cards</a>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="issued-cards" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div>
                    <table class="table table-bordered" id="data-issuedcards">
                        <colgroup>

                        </colgroup>
                        <thead>
                            <tr>
                                <th>NRIC</th>
                                <th>Name</th>
                                <th>Issued Date</th>
                                <th>Expired Date</th>
                                <th>Card Number</th>
                                <th>Status</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <div enterreprint style="display:none;margin-top:10px;">
                        <span style="height:30px;display:inline-block;vertical-align:middle;box-sizing:border-box;padding:0px 10px;border:1px solid #333;line-height:30px;float:left;">Enter resson to reprint:</span>
                        <input type="text" name="reprint" style="height:30px;display:inline-block;vertical-align:middle;box-sizing:border-box;padding:0px 10px;border:1px solid #333;width:calc(100% - 280px);float:left;margin:0px 10px;"/>
                        <button type="button" style="border:1px solid #333; float:right;" onclick="ReprintIssuedCard();">Reprint</button>
                        <div style="clear:both;"></div>
                    </div>
                </div>
			</div>
		</div>
		</form>
	</div>
</div>
<!--<div style="">
    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;" id="backCard">
        <div style="height:87px;width:100px;position:absolute;top:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;display:none;">
            <img src="../images/fingerprint.jpg" id="verifyLeftFinger" style="height:100%;max-width:100%;" />
        </div>
        <div style="height:87px;width:100px;position:absolute;bottom:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;display:none;">
            <img src="../images/fingerprint.jpg" id="verifyRightFinger" style="height:100%;max-width:100%;" />
        </div>
        <div style="margin-left:0px;padding:10px;font-size:12px;">
            <div><b>Name : </b><span name="verifyName"></span></div>
            <div><b>NRIC : </b><span name="verifyNRIC"></span></div>
            <div><b>Date of Birth : </b><span name="verifyDOB"></span></div>
            <div><b>Sex : </b><span name="verifyGender"></span></div>
            <div><b>Nationality : </b><span name="verifyNation"></span></div>
            <div><b>Race : </b><span name="verifyRace"></span></div>
            <div><b>Issue date: </b><span name="issueDate"></span></div>
            <div><b>Expire date: </b><span name="expireDate"></span></div>
            <div><b>Serial Number: </b><span name="serialNumber"></span></div>
        </div>
        <div style="clear:both"></div>
        <img a src="" />
    </div>
</div>
<input type="button" onclick="TestIN()"/>-->
<script>
    //function TestIN() {
    //    html2canvas($('#backCard'), {
    //        onrendered: function (backcanvas) {
    //            $('[a]').attr('src', backcanvas.toDataURL("image/png"));
    //        }
    //    });
    //}
    var UserID = null;
    api.server.GetIssuedCards(function (data) {
        UserID = data[1];
        $.each(data[0], function (index, item) {
            $('#data-issuedcards tbody').append(api.DumpDataToTxt('<tr><td>{NRIC}</td><td>{Name}</td><td>{Date_Of_Issue_Txt}</td><td>{Expired_Date_Txt}</td><td>{Serial_Number}</td><td reprintsmartcard-status>{Status}</td><td style="text-align:center;">' + (index == 0 ? '<a href="javascript:ShowPrintIssuedCard();"><img style="cursor:pointer;" src="../images/printer.png"/></a>' : '') + '</td></tr>', item));
        });
    });
    function LoadSuperviseeDetails() {
        api.server.EditSupervisee(UserID);
    }
    function OnIssuedCardReprinted(status,item) {
        if (status) {
            item = JSON.parse(item);
            $('#data-issuedcards tbody [reprintsmartcard-status]').text('Deactivate');
            $('#data-issuedcards tbody td img').remove();
            $('#data-issuedcards tbody').prepend(api.DumpDataToTxt('<tr><td>{NRIC}</td><td>{Name}</td><td>{Date_Of_Issue_Txt}</td><td>{Expired_Date_Txt}</td><td>{Serial_Number}</td><td reprintsmartcard-status>{Status}</td><td  style="text-align:center;"><a href="javascript:ShowPrintIssuedCard();"><img style="cursor:pointer;" src="../images/printer.png"/></a></td></tr>', item))
            $('[enterreprint]').css('display', 'none');
        } else {
            alert('Card enrollment failed. Please try again!');
        }
    }
    function ReprintIssuedCard() {
        api.server.ReprintIssuedCard($('[name="reprint"]').val());
    }
    function ShowPrintIssuedCard() {
        $('[enterreprint]').css('display', 'block');
    }
</script>