<div style="width:100%;">
    <div class="header header-form-supervisee">
        <img class="logo" src="../images/logo.png" />
        <h3>Reprint Smart Card</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee">
        <form id="superviseeFrm">
            <input class="name-supervisee" type="text" value="Reprint Smart Card" disabled="disabled" />
            <nav class="nav nav-tabs" id="myTab" role="tablist">
                <a class="nav-item nav-link" href="javascript:LoadSuperviseeDetails();">Supervisee Details</a>
                <a class="nav-item nav-link active">Issued Cards</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="issued-cards" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div>
                        <table class="table table-bordered" id="data-issuedcards">
                            <colgroup></colgroup>
                            <thead>
                                <tr>
                                    <th>NRIC</th>
                                    <th>Name</th>
                                    <th>Issued Date</th>
                                    <th>Expired Date</th>
                                    <th>Card Number</th>
                                    <th>Status</th>
                                    <th style="text-align:center;">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div enterreprint style="display:none;margin-top:10px;">
                            <span style="height:30px;display:inline-block;vertical-align:middle;box-sizing:border-box;padding:0px 10px;border:1px solid #333;line-height:30px;float:left;">Enter resson to reprint:</span>
                            <input type="text" name="reprint" style="height:30px;display:inline-block;vertical-align:middle;box-sizing:border-box;padding:0px 10px;border:1px solid #333;width:calc(100% - 280px);float:left;margin:0px 10px;" />
                            <button type="button" style="border:1px solid #333; float:right;" onclick="ReprintIssuedCard();">Reprint</button>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="opacity:1;position:fixed;z-index:-1;right:0px;top:0px;overflow:hidden;width:0px;height:0px;">
    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;overflow:hidden;border-radius:5px;font-family:Arial;" id="frontCard">
        <img src="../images/background-smart-card.png" style="position:absolute;z-index:0;left:0px;top:0px;height:100%;width:100%;" />
        <div style="z-index:1;color:#FFF;">
            <div style="position:absolute;font-size: 15px;font-weight: bold;font-style: italic;top: 10px;left: 20px;">
                CNB Supervisee Card
            </div>
            <div style="height:95px;width:75px;position:absolute;top:40px;left:20px;text-align:center;padding:1px;border-radius:5px;background-color:#FFF;">
                <img src="../images/usr-default.jpg" id="verifyPhoto" style="height:100%;max-width:100%;border-radius:5px;" />
            </div>
            <img src="../images/central_narco_logo.png" style="position:absolute;height: 35px;top: 119px;left: 40px;z-index: 1;">
            <div style="position:absolute;top:40px;left: 110px;font-size: 12px;font-weight: bold;line-height: 16px;">
                <div><span name="verifyName"></span></div>
                <div><span name="verifyNRIC"></span></div>
                <div style="clear:both"></div>
            </div>
            <div style="position:absolute;width:auto;left:110px;bottom:45px;background-color:#FFF;border-radius:5px;padding:5px;">
                <img name="verifyBarcode" />
            </div>
            <div style="position:absolute;right:15px;bottom:10px;text-align:right;font-size:10px;font-weight:bold;">
                <span name="verifyCardNumber"></span>
            </div>
        </div>
    </div>
    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;overflow:hidden;border-radius:5px;font-family:Arial;" id="backCard">
        <img src="../images/background-smart-card.png" style="position:absolute;z-index:0;left:0px;top:0px;height:100%;width:100%;" />

        <div style="position:absolute;bottom:15px;left:15px;z-index:1;color:#FFF;">
            <div style="font-size: 12px;font-weight: bold;">
                <div>Date of Issue: <span name="issueDate"></span></div>
            </div>
            <div style="margin-top:10px;font-size: 8px;font-weight: bold;text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
                “If this card is found, please return to any Police Station or to:<br />
                <span name="verifyCompanyName"></span><br />
                <span name="verifyVenueName"></span><br />
                <span name="verifyAddress"></span><br />
                Contact Number: <span name="verifyContactNumber"></span><br />
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<script>
    var CardInfo = null;
    var UserID = null;
    api.server.GetIssuedCards(function (data) {
        UserID = data[1];
        $.each(data[0], function (index, item) {
            $('#data-issuedcards tbody').append(api.DumpDataToTxt('<tr><td>{NRIC}</td><td>{Name}</td><td>{Date_Of_Issue_Txt}</td><td>{Expired_Date_Txt}</td><td>{Serial_Number}</td><td reprintsmartcard-status>{Status}</td><td style="text-align:center;">' + (index == 0 ? '<a href="javascript:ShowPrintIssuedCard();"><img style="cursor:pointer;" src="../images/printer.png"/></a>' : '') + '</td></tr>', item));
        });

        api.server.loadDataVerify(function (dataRe) {

            var model = dataRe[0];
            CardInfo = dataRe[1];
            $('[name="issueDate"]').text(CardInfo.Date_Of_Issue_Txt);
            $('[name="verifyCardNumber"]').text(CardInfo.CardNumberFull);

            $('[name="verifyCompanyName"]').text(CardInfo.CompanyName);
            $('[name="verifyVenueName"]').text(CardInfo.VenueName);
            $('[name="verifyAddress"]').text(CardInfo.Address);
            $('[name="verifyContactNumber"]').text(CardInfo.ContactNumber);



            //User_Photo1_Base64
            $('#verifyPhoto').attr('src', 'data:image/jpg;base64,' + model.UserProfile.User_Photo1);

            $('[name="verifyName"]').text(model.User.Name);
            if (model.UserProfile.DOB != null) {
                $('[name="verifyDOB"]').text(model.UserProfile.DOBTxt);
            }

            $('[name="verifyNRIC"]').text(model.User.NRIC);
            $('[name="verifyGender"]').text(model.UserProfile.Gender == null ? '' : model.UserProfile.Gender);
            $('[name="verifyNation"]').text(model.UserProfile.Nationality);
            //if (model.UserProfile.DateOfIssue != null) {

            //    $('[name="issueDate"]').text(model.UserProfile.DateOfIssueTxt);
            //    $('[name="issueDateBack"]').text(model.UserProfile.DateOfIssueTxt);
            //}
            //if (model.UserProfile.Expired_Date != null) {
            //    $('[name="expireDate"]').text(model.UserProfile.Expired_DateTxt);
            //}
            $('[name="verifyRace"]').text(model.UserProfile.Race == null ? '' : model.UserProfile.Race);
            JsBarcode('[name="verifyBarcode"]', model.User.NRIC, { height: 20, fontSize: 8, width: 1, margin: 0, font: "Arial" });
        });

    });
    function LoadSuperviseeDetails() {
        api.server.EditSupervisee(UserID);
    }
    function OnIssuedCardReprinted(status, item) {
        if (status) {
            item = JSON.parse(item);
            $('#data-issuedcards tbody [reprintsmartcard-status]').text('Deactivate');
            $('#data-issuedcards tbody td img').remove();
            $('#data-issuedcards tbody').prepend(api.DumpDataToTxt('<tr><td>{NRIC}</td><td>{Name}</td><td>{Date_Of_Issue_Txt}</td><td>{Expired_Date_Txt}</td><td>{Serial_Number}</td><td reprintsmartcard-status>{Status}</td><td  style="text-align:center;"><a href="javascript:ShowPrintIssuedCard();"><img style="cursor:pointer;" src="../images/printer.png"/></a></td></tr>', item))
            $('[enterreprint]').css('display', 'none');
        } else {
            alert('Card enrollment failed. Please try again!');
        }
    }
    function ReprintIssuedCard() {
        html2canvas($('#frontCard'), {
            onrendered: function (froncanvas) {
                html2canvas($('#backCard'), {
                    onrendered: function (backcanvas) {
                        api.server.ReprintIssuedCard($('[name="reprint"]').val(), JSON.stringify(CardInfo), froncanvas.toDataURL("image/png"), backcanvas.toDataURL("image/png"));
                    }
                });
            }
        });
    }
    function ShowPrintIssuedCard() {
        $('[enterreprint]').css('display', 'block');
    }
</script>