<style>
    
    
    .hidden-scrollbar {
        position: relative;
        height: 450px;
        width: 100%;
        overflow: hidden;
    }

        .hidden-scrollbar .scrollbar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding-right: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }

    #issuedCardList {
        width: calc(100% - 60px);
        margin: 30px;
        text-align: center;
    }

    .modal-dialog {
        width: 450px;
    }

    .modal-header {
        border: none;
    }

    button {
        margin-top: 20px;
        padding: 10px 0;
        border-radius: 4px;
        border: none;
    }

    #reprintCard .modal-body button {
        background: none;
        border: none;
        color: #1CACF6;
    }

        #reprintCard .modal-body button:hover,
        #reprintCard .modal-body button:focus {
            color: #fff;
            background: #1CACF6;
            cursor: pointer;
        }

    textarea {
        resize: none;
    }


    .title-italic {
        font-style: italic;
        color: #5D5D5D;
        line-height: 50px;
    }

    .input-group-search {
        background-color: #dee2e6;
        width: 100%;
    }

        .input-group-search input {
            height: 50px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .input-group-search .btn {
            background-color: #dee2e6;
            border: 0;
            height: 50px;
            margin: 0;
        }

    [name="nric"] {
        height: 50px;
        width: 300px;
        box-sizing: border-box;
        font-size: 16px;
        color: #5c5c5c;
        border: none;
        box-shadow: none;
        border: none;
        background-color: #f6f6f6;
        outline: none;
        padding: 0px 55px 0px 20px;
        background-image: url('../images/icon-search.png');
        background-position: calc(100% - 20px) center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
</style>
<div class="title-border-red border-bottom">
    <h5>Issued Cards List</h5>
</div>
<div style="position:relative;height:80px;margin-left:40px;width:calc(100% - 80px);">
    <div style="position:absolute;color:#5c5c5c;font-style:italic;left:0px;top: 50%;-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);width: calc(100% - 400px);font-size: 15px;">
        Please scan Supervisee's NRIC or key in Supervisee's NRIC number
    </div>
    <div style="position:absolute;color:#5c5c5c;right:0px;top: calc(50% - 25px);">
        <input type="text" placeholder="Please input keyword" name="nric" />
    </div>
</div>
<div style="position:absolute;left: 40px;width: calc(100% - 80px);height: calc(100% - 170px);" parent-table-view="">
    <table id="table-list-supervisee"></table>
</div>

<script>
    var timeout = null;
    api.ready(function () {
        timeout = null;
        $('#table-list-supervisee').bootstrapTable({
            search: false,
            pagination: false,
            columns: [
                {
                    field: 'No',
                    title: 'No.',
                    align: 'center',
                    width: '5%',
                    sortable:true,
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'Name',
                    title: 'Supervisee Name',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'NRIC',
                    title: 'Supervisee NRIC',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'DOB',
                    title: 'Date of Birth',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Status',
                    title: 'Status',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index, field) {
                        return '<a style="color:#1cacf6;text-decoration: underline;" href="javascript:;" onclick="api.server.EditSupervisee(\'' + row.UserId + '\');">' + row.Status + '</a>';
                    }
                }
            ]
        });
        $(window).resize(function () {
            if ($('#table-list-supervisee').length > 0) {
                $('#table-list-supervisee').bootstrapTable('refreshOptions', {
                    height: $('[parent-table-view]').outerHeight(true)
                });
            }
        }).resize();
        $('input[name="nric"]').keyup(function (e) {
            var _value = $.trim($(this).val());
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                searchSuperviseeNric(_value);
            }, 500);
        }).focusin();
        $('input[name="nric"]').mouseup(function () {
            var _this = $(this);
            setTimeout(function () {
                var _value = $.trim(_this.val());
                if (_value != searchOld) {
                    clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        searchSuperviseeNric(_value);
                    }, 500);
                }
            }, 10);
        });
        searchSuperviseeNric(searchOld);
    });
    function searchSuperviseeNric(txtSearch) {
        searchOld = txtSearch;
        $('input[name="nric"]').val(txtSearch).focusout();
        api.server.SearchSuperviseeByNRIC(searchOld, function (model) {
            if (model.length == 0) {
                $('input[name="nric"]').focusout();
                $('#table-list-supervisee').bootstrapTable('load', []);
            } else {
                $('#table-list-supervisee').bootstrapTable('load', model);
                $('input[name="nric"]').focusin();
            }
        });
    }
</script>