<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1"/>
    <meta name="description" content="Something abt this cpn"/>
    <title>Supervisees</title>
    <link rel="stylesheet" href="../scripts/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../scripts/styles.css"/>
    <script type="text/javascript" src="../scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap/bootstrap.min.js"></script>
</head>
<body>
	<div style="width:1000px;min-height:600px;margin:20px auto;border:2px solid #000">
		<div class="container">
			<div class="header-landingPage">
				<h3>Supervisees</h3>
				<a href=""><img class="logout" src="../images/log-out.png" /></a>
				<div class="clear"></div>
			</div>
			<div class="list-supervisees">
				<h4>Please scan Supervisees's NRIC or key in Supervisees's NRIC number.</h4>
				<div class="row">
					<div class="col"></div>
					<div class="col-8 list-supervisees-search">
						<form>
							<input type="text" name="" placeholder="Please input keyword" />
							<button type="submit" class="btn-search">Search</button>
						<form>
					</div>
					<div class="col"></div>
				</div>				
				<!--<div class="wrap-list">-->
					<table class="table">
					  <thead class="thead-dark">
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Name</th>
						  <th scope="col">NRIC</th>
						  <th scope="col">Date of Birth</th>
						  <th scope="col">Status</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <th scope="row">1</th>
						  <td>David</td>
						  <td>S0000001D</td>
						  <td>01/01/2016</td>
						  <td><a href="">NEW</a></td>
						</tr>
						<tr>
						  <th scope="row">2</th>
						  <td>Jacob</td>
						  <td>S0000001E</td>
						  <td>01/01/2016</td>
						  <td><a href="">NEW</a></td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>Larry</td>
						  <td>S0000003X</td>
						  <td>01/01/2016</td>
						  <td><a href="">ENROLLED</a></td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>Larry</td>
						  <td>S0000003X</td>
						  <td>01/01/2016</td>
						  <td><a href="">ENROLLED</a></td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>Larry</td>
						  <td>S0000003X</td>
						  <td>01/01/2016</td>
						  <td><a href="">ENROLLED</a></td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>Larry</td>
						  <td>S0000003X</td>
						  <td>01/01/2016</td>
						  <td><a href="">ENROLLED</a></td>
						</tr>
						<tr>
						  <th scope="row">3</th>
						  <td>Larry</td>
						  <td>S0000003X</td>
						  <td>01/01/2016</td>
						  <td><a href="">ENROLLED</a></td>
						</tr>
					  </tbody>
					</table>
				<!--</div>-->
			</div>
		</div>		
	</div>
</body>
</html>
    