<div style="width:100%; padding:10px;">
    <div class="header-landingPage">
        <h3>Supervisees</h3>
        <a onclick="api.server.LogOut()"><img class="logout" src="../images/log-out.png" /></a>
        <div class="clear"></div>
    </div>
    <div class="list-supervisees">
        <h4>Please scan Supervisees's NRIC or key in Supervisees's NRIC number.</h4>
        <div class="row">
            <div class="col"></div>
            <div class="col-8 list-supervisees-search">
                <form id="searchForm">
                    <input type="text" name="nric" id="nric" placeholder="Please input keyword" style="padding:4px 2px 5px 2px;float:left;margin-right:10px"/>
                    <button type="submit" class="btn-search">Search</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <!--<div class="wrap-list">-->
        <table class="table" style="border:1px solid #212529">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">NRIC</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="listSupervisee"></tbody>
        </table>
        <!--</div>-->
    </div>
   
</div>

<script>
    $(document).ready(function () {
        if (api.model != null) {
            var content ="";
            for (var i = 0; i < api.model.length; i++) {
                
                var uId = '"' + api.model[i].User.UserId + '"';
                content += "<tr><th scope='row'>" + (i + 1) + "</th><td>" + api.model[i].User.Name + "</td><td>" + api.model[i].User.NRIC + "</td><td>" + api.model[i].UserProfile != null ? api.model[i].UserProfile.DOBAsString : null + "</td><td><a href='javascript:void();' onclick='api.server.EditSupervisee(" + uId + ");'>" + api.model[i].User.Status + "</a></td></tr>";
                //$('#listSupervisee').append("<tr><th scope='row'>" + (i + 1) + "</th><td>" + api.model[i].User.Name + "</td><td>" + api.model[i].User.NRIC + "</td><td>" + api.model[i].UserProfile != null ? api.model[i].UserProfile.DOBAsString : null + "</td><td><a href='javascript:void();' onclick='api.server.EditSupervisee(" + uId + ");'>" + api.model[i].User.Status + "</a></td></tr>");
                
            }
            $('#listSupervisee').html(content);
        }

    });
    $('#searchForm').submit(function myfunction(e) {
        //var $form = $("#searchForm");
        //var data = getFormData($form);
        //var json = JSON.stringify(data);
        if ($.trim($('#nric').val()) != "") {
            api.server.SearchSuperviseeByNRIC($('#nric').val());
        }
        else {
            api.server.LoadListSupervisee();
        }

        e.preventDefault();
    });

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
</script>