<style>


    /*Create New Supervisee Title*/
    .createNewSuperviseeTitle {
        border-bottom: 1px solid #dee2e6;
        padding: 20px 20px 0;
    }

        .createNewSuperviseeTitle h5 {
            border-bottom: 2px solid red;
            width: fit-content;
            padding-bottom: 5px;
            margin-bottom: 0;
        }

    /*Create New Supervisee Process*/
    .newSuperviseeProcess {
        text-align: center;
        padding: 30px 0;
        font-size: 15px;
        color: #dee2e6;
        overflow: hidden;
    }

        .newSuperviseeProcess .newSupervisee:before {
            content: "\f105";
            font-family: FontAwesome;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 50px;
            width: 25px;
            font-size: 45px;
            font-weight: normal;
        }

        .newSuperviseeProcess .newSupervisee:last-child:before {
            display: none;
        }

        .newSuperviseeProcess .newSupervisee.active {
            color: #1CACF6;
        }

        .newSuperviseeProcess .newSuperviseeStep {
            margin-bottom: 15px;
        }

            .newSuperviseeProcess .newSuperviseeStep span {
                border-radius: 50%;
                background: #dee2e6;
                text-align: center;
                padding: 10px 16px;
                color: #fff;
                font-size: 22px;
            }

        .newSuperviseeProcess .newSupervisee.active .newSuperviseeStep span {
            background: #1CACF6;
        }

        .newSuperviseeProcess .newSuperviseeStepname span {
            text-align: right;
        }

    .newSuperviseeContent {
        overflow: hidden;
    }

    button {
        background: none;
        border: none;
        color: #1CACF6;
        margin-top: 20px;
    }

    .controlprocess i:before {
        font-size: 100px;
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: #1CACF6 !important;
    }

    .nav-item i {
        font-size: 18px;
    }

    .nav-item .nav-link {
        color: #1CACF6;
    }

    .carousel-indicators {
        top: 0;
        position: relative;
        bottom: none;
        margin-right: 0;
    }

    #newSupervisee {
        text-align: center;
    }

    /*New Supervisee Content */
    .newSuperviseeContent .newSuperviseeContentWrapper {
        text-align: center;
        height: 340px;
    }

        .newSuperviseeContent .newSuperviseeContentWrapper img {
            color: #696969;
            background: #F5F5F5;
            padding: 30px 20px;
            margin: 5px 0;
        }

        .newSuperviseeContent .newSuperviseeContentWrapper a {
            color: #dee2e6;
            text-decoration: underline;
            line-height: 1.2;
        }

            .newSuperviseeContent .newSuperviseeContentWrapper a:hover,
            .newSuperviseeContent .newSuperviseeContentWrapper a:focus {
                color: #1CACF6;
            }

    .verifyCardview {
        background-image: url(../images/viewlayer.png);
        background-size: cover;
        width: 87%;
        height: 190px;
        background-repeat: no-repeat;
        font-size: 22px;
        font-weight: bold;
        position: relative;
    }

        .verifyCardview p {
            top: 38%;
            position: absolute;
            text-align: center;
            width: 100%;
        }

    .printingCard img {
        background: none !important;
        width: 100px;
    }

    .modal-dialog {
        width: 450px;
    }

    .modal-header {
        border: none;
    }

    .modal-body button {
        padding: 10px 0;
        border-radius: 4px;
    }

    .cancelButton {
        z-index: 9;
    }

    .carousel-control {
        opacity: 0;
    }
</style>
<div class="container">
    <div class="PrintCard">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#printCard" role="tab">
                        <i class="ion-printer"></i>
                        Print Card
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#superviseeDetails" role="tab">
                        <i class="ion-information-circled"></i>
                        Supervisee Details
                    </a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="printCard" role="tabpanel">
                    <div class="createNewSupervisee">
                        <div class="createNewSuperviseeTitle">
                            <h5>Create New Supervisee</h5>
                        </div>
                        <div id="createNewSupervisee" class="row carousel slide" data-ride="carousel" data-interval="false">
                            <div class="newSuperviseeProcess col-8 offset-2 carousel-indicators">
                                <div class="newSupervisee col-3 takePhotos active" data-target="#createNewSupervisee" data-slide-to="0">
                                    <div class="newSuperviseeStep"><span>1</span></div>
                                    <div class="newSuperviseeStepname">Take Photos</div>
                                </div>
                                <div class="newSupervisee col-3 getFingerPrints" data-target="#createNewSupervisee" data-slide-to="1">
                                    <div class="newSuperviseeStep"><span>2</span></div>
                                    <div class="newSuperviseeStepname">Get Fingerprints</div>

                                </div>
                                <div class="newSupervisee col-3 verifyCard" data-target="#createNewSupervisee" data-slide-to="2">
                                    <div class="newSuperviseeStep"><span>3</span></div>
                                    <div class="newSuperviseeStepname">Verify Card</div>
                                </div>
                                <div class="newSupervisee col-3 PrintCard" data-target="#createNewSupervisee" data-slide-to="3">
                                    <div class="newSuperviseeStep"><span>4</span></div>
                                    <div class="newSuperviseeStepname">Print Card</div>
                                </div>
                            </div>
                            <div class="cancelButton col-2 ml-auto">
                                <button onclick="api.server.LoadListSupervisee();">CLICK TO CANCEL</button>
                            </div>


                            <div class="newSuperviseeContent carousel-inner ">
                                <div class="carousel-item col-8 offset-2 active">
                                    <div class="newSuperviseeContentWrapper row">
                                        <div class="col-6">
                                            <br/ >
                                            <img id="image1" src="../images/icon-takepicture.png" class="img-fluid"><br />
                                            <a href="javascript:;" onclick="api.server.OpenPictureCaptureForm('1')">Take Picture 1</a>
                                        </div>
                                        <div class="col-6">
                                            <br/ >
                                            <img id="image2" src="../images/icon-takepicture.png" class="img-fluid"><br />
                                            <a href="javascript:;" onclick="api.server.OpenPictureCaptureForm('2')">Take Picture 2</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-8 offset-2">
                                    <div class="newSuperviseeContentWrapper row">
                                        <div class="col-6">
                                            <div><strong id="leftProcessMessage">Place left thumb onto scanner.</strong></div>
                                            <div class="row col-10 offset-1">
                                                <div class="col-12"><img src='../images/leftthumb.png'></div>
                                                <div class="scan col-6 ml-auto"><a href="" data-target="#fingerPrint" data-toggle="modal" id="leftThumbScanBtn" onclick="ActionScanFingerPrint(false)">Scan</a></div>
                                                <div class="clear col-6 mr-auto"><a href="" id="leftThumbClearBtn">Clear</a></div>
                                            </div><br />
                                            <div>Left Thumb-Fingerprint Preview</div>
                                        </div>
                                        <div class="col-6">
                                            <div><strong id="rightProcessMessage">Place right thumb onto scanner.</strong></div>
                                            <div class="row col-10 offset-1">
                                                <div class="col-12"><img src='../images/rightthumb.png'></div><br />
                                                <div class="scan col-6 ml-auto"><a href="" data-target="#fingerPrint" data-toggle="modal" id="rightThumbScanBtn" onclick="ActionScanFingerPrint(true)">Scan</a></div>
                                                <div class="clear col-6 mr-auto"><a href="" id="rightThumbClearBtn">Clear</a></div>
                                            </div><br />
                                            <div>Right Thumb-Fingerprint Preview</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-8 offset-2">
                                    <div class="newSuperviseeContentWrapper row">
                                        <div class="col-6">
                                            <br/ >
                                            <div class="verifyCardview" data-target="#printSmartCard" data-toggle="modal">
                                                <p>
                                                    <div style="z-index:1;color:#000;">
                                                        <div style="position:absolute;font-size: 15px;font-weight: bold;font-style: italic;top: 10px;left: 20px;">
                                                            CNB Supervisee Card
                                                        </div>
                                                        <div style="height:95px;width:75px;position:absolute;top:40px;left:20px;text-align:center;padding:1px;border-radius:5px;">
                                                            <img src="../images/usr-default.jpg" id="verifyPhoto" style="height:100%;max-width:100%;border-radius:5px;" />
                                                        </div>
                                                        <img src="../images/central_narco_logo.png" style="position:absolute;height: 35px;top: 119px;left: 40px;z-index: 1;">
                                                        <div style="position:absolute;top:40px;left: 110px;font-size: 12px;font-weight: bold;line-height: 16px;">
                                                            <div><span name="verifyName"></span></div>
                                                            <div><span name="verifyNRIC"></span></div>
                                                            <div style="clear:both"></div>
                                                        </div>
                                                        <div style="position:absolute;width:auto;left:110px;bottom:45px;background-color:#FFF;border-radius:5px;padding:5px;">
                                                            <img name="verifyBarcode" />
                                                        </div>
                                                        <div style="position:absolute;right:15px;bottom:10px;text-align:right;font-size:10px;font-weight:bold;">
                                                            <span name="verifyCardNumber"></span>
                                                        </div>
                                                    </div>
                                                </p>

                                            </div><br /><br />
                                        </div>
                                        <div class="col-6">
                                            <br/ >
                                            <div class="verifyCardview" data-target="#printSmartCard" data-toggle="modal">
                                                <p>
                                                    <div style="bottom:15px;left:15px;z-index:1;color:#000;">
                                                        <div style="font-size: 12px;font-weight: bold;">
                                                            <div>Date of Issue: <span name="issueDate"></span></div>
                                                        </div>
                                                        <div style="margin-top:10px;font-size: 8px;font-weight: bold;">
                                                            “If this card is found, please return to any Police Station or to:<br />
                                                            <span name="verifyCompanyName"></span><br />
                                                            <span name="verifyVenueName"></span><br />
                                                            <span name="verifyAddress"></span><br />
                                                            Contact Number: <span name="verifyContactNumber"></span><br />
                                                        </div>
                                                    </div>
                                                </p>
                                            </div><br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-8 offset-2">
                                    <div class="newSuperviseeContentWrapper row">
                                        <div class="printingCard col-12">
                                            <img src="../images/loading.gif">
                                            <p>Printing card in progress. Please wait.....</p>
                                        </div>
                                        <div class="successedPrinting col-12 d-none">
                                            <br /><br /><br />
                                            <p id="printSuccessMessage"> <!--Smart Card was printed successfully. Please collect the smart card from the printer and place on the reader to verify.--></p>
                                            <div>
                                                <button onclick="api.server.PrintSmartCard(frontCardImg, backCardImg, JSON.stringify(CardInfo));">REPRINT</button>
                                                <button>DONE</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="controlprocess">
                                <a class="carousel-control-prev" href="#createNewSupervisee" role="button" data-slide="prev">

                                    <span aria-hidden="true"><i class="fal fa fa-angle-left"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#createNewSupervisee" role="button" data-slide="next">
                                    <span aria-hidden="true"><i class="fal fa fa-angle-right"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="superviseeDetails" role="tabpanel">...</div>
            </div>

        </div>
    </div>

</div>

<!--<script>
    $('#createNewSupervisee').on('slide.bs.carousel', function () {
        alert(1);
    })
</script>-->
<!--<div style="width:100%">
    <div class="header  header-form-supervisee">
        <img class="logo" src="../images/logo.png" />
        <h3>Enrol New Supervisee</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee">
        <input class="name-supervisee" type="text" value="Enrol Supervisee" />
        <nav class="nav nav-tabs" id="myTab" role="tablist">

            <a class="nav-item nav-link active" href="javascript:;">Print Card</a>
            <a class="nav-item nav-link" href="javascript:;" onclick="api.server.EditSupervisee(userIDNew,'UpdateSupervisee');">Supervisee Details</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="print-card" role="tabpanel" aria-labelledby="nav-home-tab">
                <div id="wizard">
                    <h2>TAKE PHOTOS</h2>
                    <section>
                        <div class="row">
                            <div class="col">
                                <img id="image1" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('1')">Take Picture 1</button>
                            </div>
                            <div class="col">
                                <img id="image2" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('2')">Take Picture 2</button>
                            </div>

                        </div>
                    </section>

                    <h2>GET FINGERPRINTS</h2>
                    <section>
                        <div class="row">
                            <div class="col" id="leftThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="leftProcessMessage">Place left thumb onto scanner</div>
                                <div><button style="float:left" class="btn-form" id="leftThumbScanBtn" onclick="ActionScanFingerPrint(false)">Scan</button><button style="float:right;" id="leftThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="leftFingerprint" style="max-width:35%;" /></div>
                                <br />
                                <div style="border:1px solid #000000">Left Fingerprint Preview</div>
                            </div>
                            <div class="col" id="rightThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="rightProcessMessage">Place right thumb onto scanner</div>
                                <div><button style="float:left" class="btn-form" id="rightThumbScanBtn" onclick="ActionScanFingerPrint(true)">Scan</button><button style="float:right;" id="rightThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="rightFingerprint" style="max-width:35%" /></div>
                                <br />
                                <div style="border:1px solid #000000">Right Fingerprint Preview</div>
                            </div>
                        </div>
                    </section>

                    <h2>VERIFY CARD</h2>
                    <section>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;overflow:hidden;border-radius:5px;font-family:Arial;" id="frontCard">
                                        <img src="../images/background-smart-card.png" style="position:absolute;z-index:0;left:0px;top:0px;height:100%;width:100%;" />
                                        <div style="z-index:1;color:#FFF;">
                                            <div style="position:absolute;font-size: 15px;font-weight: bold;font-style: italic;top: 10px;left: 20px;">
                                                CNB Supervisee Card
                                            </div>
                                            <div style="height:95px;width:75px;position:absolute;top:40px;left:20px;text-align:center;padding:1px;border-radius:5px;background-color:#FFF;">
                                                <img src="../images/usr-default.jpg" id="verifyPhoto" style="height:100%;max-width:100%;border-radius:5px;" />
                                            </div>
                                            <img src="../images/central_narco_logo.png" style="position:absolute;height: 35px;top: 119px;left: 40px;z-index: 1;">
                                            <div style="position:absolute;top:40px;left: 110px;font-size: 12px;font-weight: bold;line-height: 16px;">
                                                <div><span name="verifyName"></span></div>
                                                <div><span name="verifyNRIC"></span></div>
                                                <div style="clear:both"></div>
                                            </div>
                                            <div style="position:absolute;width:auto;left:110px;bottom:45px;background-color:#FFF;border-radius:5px;padding:5px;">
                                                <img name="verifyBarcode" />
                                            </div>
                                            <div style="position:absolute;right:15px;bottom:10px;text-align:right;font-size:10px;font-weight:bold;">
                                                <span name="verifyCardNumber"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;overflow:hidden;border-radius:5px;font-family:Arial;" id="backCard">
                                        <img src="../images/background-smart-card.png" style="position:absolute;z-index:0;left:0px;top:0px;height:100%;width:100%;" />

                                        <div style="position:absolute;bottom:15px;left:15px;z-index:1;color:#FFF;">
                                            <div style="font-size: 12px;font-weight: bold;">
                                                <div>Date of Issue: <span name="issueDate"></span></div>
                                            </div>
                                            <div style="margin-top:10px;font-size: 8px;font-weight: bold;text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;">
                                                “If this card is found, please return to any Police Station or to:<br />
                                                <span name="verifyCompanyName"></span><br />
                                                <span name="verifyVenueName"></span><br />
                                                <span name="verifyAddress"></span><br />
                                                Contact Number: <span name="verifyContactNumber"></span><br />
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </section>

                    <h2>PRINT CARD</h2>
                    <section>
                        <div class="row">
                            <div class="col" style="text-align:center">
                                <div style="width:100%;border:1px solid #000000;font-size:15px;display:none" id="printSuccessMessage"></div>
                                <div style="text-align:center;margin-top:10px;display:none;" id="rePrinter">
                                    <input type="button" value="Reprint" onclick="api.server.PrintSmartCard(frontCardImg, backCardImg, JSON.stringify(CardInfo));" />
                                </div>
                                <div style="margin:10px auto;display:none;text-align:center;" id="reCheckSCard">
                                    <img src="" style="margin-left:10px;" id="frontCardImg" />
                                    <img src="" style="margin-left:10px;" id="backCardImg" />
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

            </div>


        </div>
    </div>
</div>-->

<script>

    jQuery(function ($) {

        // Carousel not allow for cycle
        $('.carousel').carousel({
            wrap: false
        })

        carouselControl();

        $('.carousel').on('slid.bs.carousel', function () {
            $('.carousel').find('.carousel-control').show();
            carouselControl();
        })

        function carouselControl() {
            if ($('.carousel-inner .carousel-item:first-child').hasClass('active')) {
                $('.carousel').find('.carousel-control-prev.carousel-control').css('opacity', '0');
                $('.carousel').find('.carousel-control-next.carousel-control').css('opacity', '1');
            }
            else if ($('.carousel-inner .carousel-item:last-child').hasClass('active')) {
                $('.carousel').find('.carousel-control-prev.carousel-control').css('opacity', '1');
                $('.carousel').find('.carousel-control-next.carousel-control').css('opacity', '0');
            }
        }

    });
    var userIDNew = '';
    api.ready(function (model) {
        userIDNew = model.User.UserId;
    });
    function setImg(number, src) {
        image = document.getElementById('image' + number);
        image.src = src;
    }


    $(document).ready(function () {

        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');


    });
    function ActionScanFingerPrint(isRight) {
        if (isRight) {
            $('#leftThumbDiv').find('button').attr('disabled', 'disabled');
        } else {
            $('#rightThumbDiv').find('button').attr('disabled', 'disabled');
        }
        api.server.CaptureFingerPrint(isRight);
    }
    //$('#leftThumbScanBtn').click(function () {
    //    $('#rightThumbDiv').find('button').attr('disabled', 'disabled');
    //    api.server.CaptureFingerPrint(false);

    //});

    //$('#rightThumbScanBtn').click(function () {
    //    $('#leftThumbDiv').find('button').attr('disabled', 'disabled');
    //    api.server.CaptureFingerPrint(true);
    //});

    function enableClearBtnServerCall(isRight) {

        $('#rightThumbClearBtn').removeAttr('disabled');
        $('#leftThumbScanBtn').removeAttr('disabled');
        $('#leftThumbClearBtn').removeAttr('disabled');
        $('#rightThumbScanBtn').removeAttr('disabled');



    }

    function changeMessageServerCall(isRight, message, color) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    function setFingerprintImage(isRight, base64String) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    $('#leftThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#leftFingerprint').attr('src', '');
        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#leftThumbScanBtn').removeAttr('disabled');
        $('#leftProcessMessage').text('Place left thumb onto scanner').css('color', '#000');

    });
    $('#rightThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#rightFingerprint').attr('src', '');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbScanBtn').removeAttr('disabled');
        $('#rightProcessMessage').text('Place right thumb onto scanner').css('color', '#000');
    });

    function setBase64FingerprintOnloadServerCall(leftFinger, rightFinger) {
        if (leftFinger != "") {
            $('#leftFingerprint').attr('src', 'data:image/png;base64,' + leftFinger);
            $('#verifyLeftFinger').attr('src', 'data:image/png;base64,' + leftFinger);
        }
        if (rightFinger != "") {
            $('#rightFingerprint').attr('src', 'data:image/png;base64,' + rightFinger);
            $('#verifyRightFinger').attr('src', 'data:image/png;base64,' + rightFinger);

        }

    }

    function setAvatar(base64Str1, base64Str2) {
        if (base64Str1 != "") {
            $('#image1').attr('src', 'data:image/jpg;base64,' + base64Str1);
            $('#verifyPhoto').attr('src', 'data:image/jpg;base64,' + base64Str1);
        }
        if (base64Str2 != "") {
            $('#image2').attr('src', 'data:image/jpg;base64,' + base64Str2);
            $('#verifyPhoto2').attr('src', 'data:image/jpg;base64,' + base64Str2);
        }
    }
</script>
<script>

    var frontCardImg = null;
    var backCardImg = null;
    var CardInfo = null;
    var countPrinterSmartCard = 0;

    //sliding
    $('#createNewSupervisee').on('slide.bs.carousel', function (data) {
        if (data.to == 2) {
            api.server.loadDataVerify(function (dataRe) {

                var model = dataRe[0];
                CardInfo = dataRe[1];

                $('[name="issueDate"]').text(CardInfo.Date_Of_Issue_Txt);
                $('[name="verifyCardNumber"]').text(CardInfo.CardNumberFull);

                $('[name="verifyCompanyName"]').text(CardInfo.CompanyName);
                $('[name="verifyVenueName"]').text(CardInfo.VenueName);
                $('[name="verifyAddress"]').text(CardInfo.Address);
                $('[name="verifyContactNumber"]').text(CardInfo.ContactNumber);

                $('[name="verifyName"]').text(model.User.Name);
                if (model.UserProfile.DOB != null) {
                    $('[name="verifyDOB"]').text(model.UserProfile.DOBTxt);
                }

                $('[name="verifyNRIC"]').text(model.User.NRIC);
                $('[name="verifyGender"]').text(model.UserProfile.Gender == null ? '' : model.UserProfile.Gender);
                $('[name="verifyNation"]').text(model.UserProfile.Nationality);
                //if (model.UserProfile.DateOfIssue != null) {

                //    $('[name="issueDate"]').text(model.UserProfile.DateOfIssueTxt);
                //    $('[name="issueDateBack"]').text(model.UserProfile.DateOfIssueTxt);
                //}
                //if (model.UserProfile.Expired_Date != null) {
                //    $('[name="expireDate"]').text(model.UserProfile.Expired_DateTxt);
                //}
                $('[name="verifyRace"]').text(model.UserProfile.Race == null ? '' : model.UserProfile.Race);
                frontCardImg = null;
                backCardImg = null;
                JsBarcode('[name="verifyBarcode"]', model.User.NRIC, { height: 20, fontSize: 8, width: 1, margin: 0, font: "Arial" });
            });
        } else if (data.to == 3) {
            //if (frontCardImg == null && backCardImg == null) {

            //    return false;
            //}

            if (frontCardImg == null || backCardImg == null) {
                html2canvas($('#frontCard'), {
                    onrendered: function (froncanvas) {
                        html2canvas($('#backCard'), {
                            onrendered: function (backcanvas) {

                                frontCardImg = froncanvas.toDataURL("image/png");
                                backCardImg = backcanvas.toDataURL("image/png");
                                
                                api.server.UpdateSuperviseeBiodata(frontCardImg, backCardImg, JSON.stringify(CardInfo));
                                //$('.actions > ul > li > a[href="#next"]').click();
                            }
                        });
                    }
                });

            } else {
                //api.loading(false);
                if (frontCardImg == null) {
                    frontCardImg = '';
                }
                if (backCardImg == null) {
                    backCardImg = '';
                }
                api.server.UpdateSuperviseeBiodata(frontCardImg, backCardImg, JSON.stringify(CardInfo));
            }
        }
        $("input[type='image']").click(function () {
            $("input[id='my_file']").click();
        });
    });

    //$(function () {

    //    var isUpdated = false;
    //    $("#wizard").steps({
    //        headerTag: "h2",
    //        bodyTag: "section",
    //        transitionEffect: "slideLeft",
    //        loading: "Processing ...",
    //        enableCancelButton: true,

    //        onStepChanging: function (event, currentIndex, newIndex) {


    //            if (newIndex == 2) {
    //                api.server.loadDataVerify(function (dataRe) {

    //                    var model = dataRe[0];
    //                    CardInfo = dataRe[1];

    //                    $('[name="issueDate"]').text(CardInfo.Date_Of_Issue_Txt);
    //                    $('[name="verifyCardNumber"]').text(CardInfo.CardNumberFull);

    //                    $('[name="verifyCompanyName"]').text(CardInfo.CompanyName);
    //                    $('[name="verifyVenueName"]').text(CardInfo.VenueName);
    //                    $('[name="verifyAddress"]').text(CardInfo.Address);
    //                    $('[name="verifyContactNumber"]').text(CardInfo.ContactNumber);

    //                    $('[name="verifyName"]').text(model.User.Name);
    //                    if (model.UserProfile.DOB != null) {
    //                        $('[name="verifyDOB"]').text(model.UserProfile.DOBTxt);
    //                    }

    //                    $('[name="verifyNRIC"]').text(model.User.NRIC);
    //                    $('[name="verifyGender"]').text(model.UserProfile.Gender == null ? '' : model.UserProfile.Gender);
    //                    $('[name="verifyNation"]').text(model.UserProfile.Nationality);

    //                    $('[name="verifyRace"]').text(model.UserProfile.Race == null ? '' : model.UserProfile.Race);
    //                    frontCardImg = null;
    //                    backCardImg = null;
    //                    JsBarcode('[name="verifyBarcode"]', model.User.NRIC, { height: 20, fontSize: 8, width: 1, margin: 0, font: "Arial" });
    //                });
    //            } else if (newIndex == 3) {

    //                if (frontCardImg == null || backCardImg == null) {
    //                    html2canvas($('#frontCard'), {
    //                        onrendered: function (froncanvas) {
    //                            html2canvas($('#backCard'), {
    //                                onrendered: function (backcanvas) {
    //                                    frontCardImg = froncanvas.toDataURL("image/png");
    //                                    backCardImg = backcanvas.toDataURL("image/png");
    //                                    $('.actions > ul > li > a[href="#next"]').click();
    //                                }
    //                            });
    //                        }
    //                    });
    //                    api.loading(true);
    //                    return false;
    //                } else {
    //                    api.loading(false);
    //                }
    //            }
    //            return true;
    //        },
    //        onStepChanged: function (event, currentIndex, priorIndex) {
    //            //0 - photo
    //            //1 - fingerprint
    //            //2 - verify
    //            //3 - print

    //            if (currentIndex == 3) {

    //                if (frontCardImg == null) {
    //                    frontCardImg = '';
    //                }
    //                if (backCardImg == null) {
    //                    backCardImg = '';
    //                }
    //                api.server.UpdateSuperviseeBiodata(frontCardImg, backCardImg, JSON.stringify(CardInfo));
    //            }
    //        },
    //        onFinished: function (event, currentIndex) {
    //            api.server.LoadListSupervisee();
    //        },
    //        onCanceled: function (event) {
    //            api.server.LoadListSupervisee();
    //        }
    //    });



    //    $("input[type='image']").click(function () {
    //        $("input[id='my_file']").click();
    //    });
    //});

    $(document).ready(function () {
        countPrinterSmartCard = 0;
    });

    function showPrintMessage(status, message) {
        if (status != null) {
            if (status) {
                $('#rePrinter').css('display', 'none');
                $('#reCheckSCard').css('display', 'block');
                $('.actions > ul > li:first-child').attr('style', 'display:none');

            } else {
                $('#rePrinter').css('display', 'block');
                $('#reCheckSCard').css('display', 'none');
                countPrinterSmartCard++;
                if (countPrinterSmartCard >= 3) {
                    alert('Unable to print Smart Card');
                }
            }
        }
        $('#printSuccessMessage').text(message).show();
    }

    function showCardImages() {
        $('#frontCardImg').attr('src', frontCardImg);
        $('#backCardImg').attr('src', backCardImg);
    }
    function showMessageFingerprintFalse3() {
        alert('Unable to print Fingerprint');
    }
</script>
