<style>
    .link-grey {
        color: #dee2e6;
    }

        .link-grey:hover {
            color: #1CACF6;
        }
</style>
<div class="title-border-red border-bottom">
    <h5>Update photos</h5>
</div>
<div class="tab-content" style="margin-top:50px;">
    <div class="tab-pane active" id="superviseeDetails" role="tabpanel">
        <div class="container">
            <form class="form-material">
                <div class="w-75 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 px-5">
                            <img src="../images/avatar-demo.jpg" alt="avatar"
                                 class="img-fluid" id="userPhoto1" />
                            <br />
                            <!--<a href="#" class="text-center d-block" id="updatePhoto1" onclick="api.server.OpenPictureCaptureForm('1')">
                                Take Picture 1
                            </a>-->
                            <button href="#" class="btn btn-default" id="updatePhoto1" onclick="OpenCaptureForm(1);" >
                                Take Picture 1
                            </button>
                        </div>
                        <div class="col-md-6 col-sm-12 px-5">
                            <img src="../images/avatar-demo.jpg" alt="avatar"
                                 class="img-fluid" id="userPhoto2" />
                            <br />
                            <!--<a href="#" class="text-center d-block" id="updatePhoto2" onclick="api.server.OpenPictureCaptureForm('2')">
                                Take Picture 2
                            </a>-->
                            <button href="#" class="btn btn-default" id="updatePhoto2" onclick="OpenCaptureForm(2);">
                                Take Picture 2
                            </button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-2 col-md-4 col-sm-12">
                            <button  href="#" class="btn btn-light btn-block" id="cancelBtn" onclick="api.server.CancelUpdatePicture();">Cancel</button>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary btn-block" id="SaveBtn">Update</button>
                           
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div style="width:100%;">
    <div class="header header-form-supervisee">
        <img class="logo" src="../images/logo.png" />
        <h3>Edit Supervisee</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee">
        <form id="superviseeFrm">
            <input class="name-supervisee" type="text" value="Update Photo" disabled="disabled" />
            <div class="tab-content" id="nav-tabContent">
                <input type="hidden" name="userId" class="userId"  />
                <div class="tab-pane fade show active" id="supervisee-details" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row updateSuperviseePhoto">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <img class="avatar" id="userPhoto1" src="../images/usr-default.jpg" />
                            <button type="button" class="btn-form" id="updatePhoto2" onclick="api.server.OpenPictureCaptureForm('1')">Take Picture 1</button>
                        </div>
                        <div class="col-4">
                            <img class="avatar" id="userPhoto2" src="../images/usr-default.jpg" />
                            <button type="button" class="btn-form" id="updatePhoto2" onclick="api.server.OpenPictureCaptureForm('2')">Take Picture 2</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn-form" id="SaveBtn" >Update</button>
                <button type="button" class="btn-form" onclick="api.server.CancelCapturePicture();">Cancel</button>
            </div>
        </form>
    </div>
</div>-->

<script>
    function OpenCaptureForm(id) {
        api.server.OpenPictureCaptureForm(''+id+'','edit');
    }
    //$('#updatePhoto1').click(function () {
    //    api.server.OpenPictureCaptureForm('1');
    //});
    //$('#updatePhoto2').click(function () {
    //    api.server.OpenPictureCaptureForm('2');
    //});

    $(function () {
        $('.s_label').click(function () {
            $(this).next().fadeToggle(200);
        });
        if (api.model != null) {
            $('.userId').val(api.model.User.UserId);
            // NextOfKin
            $('.nok_name').val(api.model.UserProfile.NextOfKin_Name);
            $('.nok_contact_number').val(api.model.UserProfile.NextOfKin_Contact_Number);
            $('.nok_relationship').val(api.model.UserProfile.NextOfKin_Relationship);
            $('.nok_blkhousr_number').val(api.model.UserProfile.NextOfKin_BlkHouse_Number);
            $('.nok_flrunit_number').val(api.model.UserProfile.NextOfKin_FlrUnit_Number);
            $('.nok_street_name').val(api.model.UserProfile.NextOfKin_Street_Name);
            $('.nok_country').val(api.model.UserProfile.NextOfKin_Country);
            $('.nok_postalcode').val(api.model.UserProfile.NextOfKin_PostalCode);
            // Employment
            $('.e_name').val(api.model.UserProfile.Employment_Name);
            $('.e_contact_number').val(api.model.UserProfile.Employment_Contact_Number);
            $('.e_company_name').val(api.model.UserProfile.Employment_Company_Name);
            $('.e_job_title').val(api.model.UserProfile.Employment_Job_Title);
            $('.e_start_date').val(api.model.UserProfile.Employment_Start_Date);
            $('.e_end_date').val(api.model.UserProfile.Employment_End_Date);
            $('.e_remarks').val(api.model.UserProfile.Employment_Remarks);
            // Residential Address
            $('.address_ID').val(api.model.UserProfile.Residential_Addess_ID);
            $('.other_Address_ID').val(api.model.UserProfile.Other_Address_ID);
            $('.street_Name').val(api.model.Addresses.Street_Name);
            $('.blkHouse_Number').val(api.model.Addresses.BlkHouse_Number);
            $('.flrUnit_Number').val(api.model.Addresses.FlrUnit_Number);
            $('.country').val(api.model.Addresses.Country);
            $('.postal_Code').val(api.model.Addresses.Postal_Code);
            // Other Address
        }

    });

    $("#SaveBtn").click(function () {
        api.server.EditSupervisee(api.model.User.UserId);
    });
    //$("#cancelBtn").click(function () {
    //  api.server.CancelUpdatePicture();
    //});
    //function setAvatar(base64Str1, base64Str2) {
    //    if (base64Str1 != "") {
    //        $('#userPhoto1').attr('src', 'data:image/jpg;base64,' + base64Str1);
    //    }
    //    if (base64Str2 != "") {
    //        $('#userPhoto2').attr('src', 'data:image/jpg;base64,' + base64Str2);
    //    }
    //}
</script>