<div>
    <div class="header">
        <img class="logo" src="../images/logo.png" />
        <h3>Edit Supervisee</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee" style="overflow:hidden;position:relative;margin-top:0px;">
        <input class="name-supervisee" type="text" value="Update Fingerprint" disabled="disabled" />
        <div class="row" style="position: fixed;left: 10px;top: 120px;height: calc(100% - 170px);width: calc(100% - -10px);">
            <div id="leftThumbDiv" style="position:absolute;width:calc(50% - 20px);height:100%;left:15px;top:0px;">
                <div style="border:1px solid #000000;color:#000;margin-bottom:5px" id="leftProcessMessage" capturefingerprint-message="0">Place left thumb onto scanner</div>
                <div>
                    <button style="float:left" class="btn-form" onclick="api.server.CaptureFingerprint(0)">Scan</button>
                    <button style="float:right;" class="btn-form" onclick="clearFingerprint(0)">Clear</button>
                </div>
                <br />
                <div style="text-align:center;position:absolute;height: calc(100% - 95px);width:100%;left:0px;top: 65px;overflow: hidden;">
                    <img class="avatar" style="max-height:100%;width: auto !important;max-width:100%;" src="../images/fingerprint.png" capturefingerprint-img="0" soure="" data-fingerprint="" />
                </div>
                <br />
                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('1')">Left Fingerprint Preview</button>-->
                <div style="border:1px solid #000000;text-align:center;position: absolute;bottom: 0px;width: 100%;">Left Fingerprint Preview</div>
            </div>
            <div id="rightThumbDiv" style="position:absolute;width:calc(50% - 20px);height:100%;right:15px;top:0px;">
                <div style="border:1px solid #000000;color:#000;margin-bottom:5px" id="rightProcessMessage" capturefingerprint-message="1">Place right thumb onto scanner</div>
                <div>
                    <button style="float:left" class="btn-form" onclick="api.server.CaptureFingerprint(1)">Scan</button>
                    <button style="float:right;" class="btn-form" onclick="clearFingerprint(1)">Clear</button>
                </div>
                <br />
                <div style="text-align:center;position:absolute;height: calc(100% - 95px);width:100%;left:0px;top: 65px;overflow: hidden;">
                    <img class="avatar" style="max-height:100%;width: auto !important;max-width:100%;" src="../images/fingerprint.png" capturefingerprint-img="3" soure="" data-fingerprint="" />
                </div>
                <br />
                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('2')">Right Fingerprint Preview</button>-->
                <div style="border:1px solid #000000;text-align:center;position: absolute;bottom: 0px;width: 100%;">Right Fingerprint Preview</div>
            </div>
        </div>
        <div class="btn-group" style="position: fixed;bottom: 10px;right: 10px;">
            <button type="button" class="btn-form" onclick="SubmitUpdateFingerprints();">Update</button>
            <button type="button" class="btn-form" onclick="api.server.CancelUpdateFingerprints();">Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    clearFingerprint(0);
    clearFingerprint(1);
    function clearFingerprint(LeftOrRight) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('src', api.model[LeftOrRight] == null ? '../images/fingerprint.png' : 'data:image/png;base64,' + api.model[LeftOrRight]).attr('soure', '').attr('data-fingerprint', '');
    }
    function captureFingerprintMessage(LeftOrRight, Message, color) {
        $('[capturefingerprint-message="' + LeftOrRight + '"]').text(Message).css('color', color);
    }
    function setImageFingerprint(LeftOrRight,img) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('src', 'data:image/png;base64,' + img).attr('soure', img);
    }
    function setDataFingerprint(LeftOrRight, base) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('data-fingerprint', base);
    }
    function SubmitUpdateFingerprints() {
        var left = $('[capturefingerprint-img="0"]').attr('data-fingerprint');
        var right = $('[capturefingerprint-img="1"]').attr('data-fingerprint');
        if (left.length > 0 || right.length > 0) {
            api.server.SubmitUpdateFingerprints(left, $('[capturefingerprint-img="0"]').attr('soure'), right, $('[capturefingerprint-img="1"]').attr('soure'));
        } else {
            alert('No data updated');
        }
    }
    function moreThan3Fingerprint() {
        alert('Supervisee has failed more than 3 times in finger prints!');
        api.server.CancelUpdateFingerprints();
    }
</script>