
<div style="width:100%">
    <div class="header  header-form-supervisee">
        <img class="logo" src="../images/logo.png" />
        <h3>Enrol New Supervisee</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee">
        <input class="name-supervisee" type="text" value="Enrol Supervisee" />
        <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#print-card" role="tab" aria-controls="nav-home" aria-selected="true">Print Card</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#supervisee-details" role="tab" aria-controls="nav-profile" aria-selected="false">Supervisee Details</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="print-card" role="tabpanel" aria-labelledby="nav-home-tab">
                <div id="wizard">
                    <h2>TAKE PHOTOS</h2>
                    <section>
                        <div class="row">
                            <div class="col">
                                <img id="image1" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('1')">Take Picture 1</button>
                            </div>
                            <div class="col">
                                <img id="image2" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('2')">Take Picture 2</button>
                            </div>
                            <!--<div class="col">
                                <img class="avatar" src="../images/usr-default.jpg" />

                                <button type="button">Get Image</button>
                            </div>-->
                        </div>
                    </section>

                    <h2>GET FINGERPRINTS</h2>
                    <section>
                        <div class="row">
                            <div class="col" id="leftThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="leftProcessMessage">Place left thumb onto scanner</div>
                                <div><button style="float:left" class="btn-form" id="leftThumbScanBtn">Scan</button><button style="float:right;" id="leftThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="leftFingerprint" style="max-width:35%;" /></div>
                                <br />
                                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('1')">Left Fingerprint Preview</button>-->
                                <div style="border:1px solid #000000">Left Fingerprint Preview</div>
                            </div>
                            <div class="col" id="rightThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="rightProcessMessage">Place right thumb onto scanner</div>
                                <div><button style="float:left" id="rightThumbScanBtn" class="btn-form">Scan</button><button style="float:right;" id="rightThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="rightFingerprint" style="max-width:35%" /></div>
                                <br />
                                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('2')">Right Fingerprint Preview</button>-->
                                <div style="border:1px solid #000000">Right Fingerprint Preview</div>
                            </div>
                        </div>
                    </section>

                    <h2>VERIFY CARD</h2>
                    <section>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div style="width:300px;height:180px;border:1px solid #000;float:right">
                                        <div style="float:left">
                                            <img src="../images/usr-default.jpg" width="80" height="100" id="verifyPhoto" />
                                        </div>
                                        <div>Name :<span id="verifyName"></span></div>
                                        <div>NRIC :<span id="verifyNRIC"></span></div>
                                        <div>DOB :<span id="verifyDOB"></span></div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="width:300px;height:180px;border:1px solid #000">
                                        <div style="float:left">
                                            <div>
                                                <img src="../images/fingerprint.png" width="40" height="60" id="leftFingerThumb" />
                                            </div>
                                            <br />
                                            <div>
                                                <img src="../images/fingerprint.png" width="40" height="60" id="rightFingerThumb" />
                                            </div>
                                        </div>
                                        <div> Issue date  <span id="issueDate"></span>  </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h2>PRINT CARD</h2>
                    <section>
                        <div class="row">
                            <div class="col" style="text-align:center">
                                <div style="width:100%;border:1px solid #000000;font-size:15px">Smart Card was printed successfully. Please collect the smart card from printer and place on the reader to verify.</div>
                                <div style="width:250px;height:150px;border:1px solid #000; margin:10px auto">
                                    Smart card Information
                                </div>
                            </div>
                            <!--<button type="submit" class="btn-form">Save</button>-->

                        </div>
                    </section>
                </div>

            </div>


        </div>
    </div>
</div>
<script>
    function setImg(number, src) {
        image = document.getElementById('image' + number);
        image.src = src;
    }
    $(document).ready(function () {
        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');


        //alert(leftFingerPrintData);


    });
    $('#leftThumbScanBtn').click(function () {
        $('#rightThumbDiv').find('button').attr('disabled', 'disabled');
        api.server.CaptureFingerPrint(false);

    });

    $('#rightThumbScanBtn').click(function () {
        $('#leftThumbDiv').find('button').attr('disabled', 'disabled');
        api.server.CaptureFingerPrint(true);
    });
    function enableClearBtnServerCall(isRight) {

        if (isRight) {
            $('#rightThumbClearBtn').removeAttr('disabled');
            $('#rightThumbScanBtn').attr('disabled', 'disabled');
            $('#leftThumbScanBtn').removeAttr('disabled');
        }
        else {
            $('#leftThumbClearBtn').removeAttr('disabled');
            $('#leftThumbScanBtn').attr('disabled', 'disabled');
            $('#rightThumbScanBtn').removeAttr('disabled');

        }

    }

    function changeMessageServerCall(isRight, message, color) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    function setFingerprintImage(isRight, base64String) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    $('#leftThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#leftFingerprint').attr('src', '');
        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#leftThumbScanBtn').removeAttr('disabled');
        $('#leftProcessMessage').text('Place left thumb onto scanner').css('color', '#000');

    });
    $('#rightThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#rightFingerprint').attr('src', '');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbScanBtn').removeAttr('disabled');
        $('#rightProcessMessage').text('Place right thumb onto scanner').css('color', '#000');
    });

    function setBase64FingerprintOnloadServerCall(isRight, fingerPrintData) {
        if (isRight) {
            $('#rightFingerprint').attr('src', 'data:image/png;base64,' + fingerPrintData);
        }
        else {
            $('#leftFingerprint').attr('src', 'data:image/png;base64,' + fingerPrintData);
        }



    }

    function setAvatar(base64Str1, base64Str2) {
        if (base64Str1!="") {
            $('#image1').attr('src', 'data:image/jpg;base64,' + base64Str1);
        }
        if (base64Str2 != "") {
            $('#image2').attr('src', 'data:image/jpg;base64,' + base64Str2);
        }
    }
</script>
<script>
    
    $(function () {
        var isUpdated = false;
        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            loading: "Processing ...",
            enableCancelButton: true,
            //onInit: function (event, currentIndex) {
            //    var cancelA = $("<a>").attr("href", "#").attr("onclick", "api.server.LoadListSupervisee()").addClass("cancelBtn").text("Cancel");
            //    var cancelBtn = $("<li>").attr("aria-disabled", false).append(cancelA);

            //    $(document).find(".actions ul").prepend(cancelBtn)

            //},
            //onContentLoaded: function (event, currentIndex) {

            //},
            //onStepChanging: function (event, currentIndex, newIndex) {
                
               
                

            //    return true;
            //},
            onStepChanged: function (event, currentIndex, priorIndex) {
                //0 - photo
                //1 - fingerprint
                //2 - verify
                //3 - print
                if (currentIndex == 3) {
                    //update to db
                    if (isUpdated === false) {
                        api.server.UpdateSuperviseeBiodata();
                        isUpdated = true;
                    }
                    
                }
            },
            onFinished: function (event, currentIndex) {
                api.server.LoadListSupervisee();
            },
            onCanceled: function (event) {
                api.server.LoadListSupervisee();
            }
        });
       


        $("input[type='image']").click(function () {
            $("input[id='my_file']").click();
        });
    });

    $(document).ready(function () {
        $('#verifyName').text(api.model.User.Name);
       // var dob = api.model.UserProfile.DOB.replace("T00:00:00", "");
        $('#verifyDOB').text(api.model.UserProfile.DOB);
        $('#verifyNRIC').text(api.model.User.NRIC);
        if (api.model.UserProfile.User_Photo1 != "") {
            $('#verifyPhoto').attr('src', 'data:image/jpg;base64,' + api.model.UserProfile.User_Photo1);
        }
        if (api.model.UserProfile.DateOfIssue != "") {

            $('#issueDate').text(api.model.UserProfile.DateOfIssue);
        }

        if (api.model.UserProfile.LeftThumbImage != "") {
            $('#leftFingerThumb').attr('src', 'data:image/jpg;base64,' + api.model.UserProfile.LeftThumbImage);
        }
        if (api.model.UserProfile.RightThumbImage != "") {
            $('#rightFingerThumb').attr('src', 'data:image/jpg;base64,' + api.model.UserProfile.RightThumbImage);
        }
    });
</script>