
<div style="width:100%">
    <div class="header  header-form-supervisee">
        <img class="logo" src="../images/logo.png" />
        <h3>Enrol New Supervisee</h3>
        <div class="clear"></div>
    </div>
    <div class="form-supervisee">
        <input class="name-supervisee" type="text" value="Enrol Supervisee" />
        <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#print-card" role="tab" aria-controls="nav-home" aria-selected="true">Print Card</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#supervisee-details" role="tab" aria-controls="nav-profile" aria-selected="false">Supervisee Details</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="print-card" role="tabpanel" aria-labelledby="nav-home-tab">
                <div id="wizard">
                    <h2>TAKE PHOTOS</h2>
                    <section>
                        <div class="row">
                            <div class="col">
                                <img id="image1" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('1')">Take Picture 1</button>
                            </div>
                            <div class="col">
                                <img id="image2" class="avatar" src="../images/usr-default.jpg" style="width:44%;height:auto" />
                                <br />
                                <button type="button" onclick="api.server.OpenPictureCaptureForm('2')">Take Picture 2</button>
                            </div>
                            <!--<div class="col">
                                <img class="avatar" src="../images/usr-default.jpg" />

                                <button type="button">Get Image</button>
                            </div>-->
                        </div>
                    </section>

                    <h2>GET FINGERPRINTS</h2>
                    <section>
                        <div class="row">
                            <div class="col" id="leftThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="leftProcessMessage">Place left thumb onto scanner</div>
                                <div><button style="float:left" class="btn-form" id="leftThumbScanBtn" onclick="ActionScanFingerPrint(false)">Scan</button><button style="float:right;" id="leftThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="leftFingerprint" style="max-width:35%;" /></div>
                                <br />
                                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('1')">Left Fingerprint Preview</button>-->
                                <div style="border:1px solid #000000">Left Fingerprint Preview</div>
                            </div>
                            <div class="col" id="rightThumbDiv">
                                <div style="border:1px solid #000000;color:#000000" id="rightProcessMessage">Place right thumb onto scanner</div>
                                <div><button style="float:left" id="rightThumbScanBtn" class="btn-form" onclick="ActionScanFingerPrint(true)">Scan</button><button style="float:right;" id="rightThumbClearBtn" class="btn-form">Clear</button></div>
                                <br />
                                <div> <img class="avatar" id="rightFingerprint" style="max-width:35%" /></div>
                                <br />
                                <!--<button type="button" onclick="api.server.OpenFingerprintCaptureForm('2')">Right Fingerprint Preview</button>-->
                                <div style="border:1px solid #000000">Right Fingerprint Preview</div>
                            </div>
                        </div>
                    </section>

                    <h2>VERIFY CARD</h2>
                    <section>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;" id="frontCard">
                                        <div style="height:87px;width:100px;position:absolute;top:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;">
                                            <img src="../images/usr-default.jpg" id="verifyPhoto" style="height:100%;max-width:100%;" />
                                        </div>
                                        <div style="height:87px;width:100px;position:absolute;bottom:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;">
                                            <img src="../images/usr-default.jpg" id="verifyPhoto2" style="height:100%;max-width:100%;" />
                                        </div>
                                        <div style="margin-left:100px;padding:10px;font-size:12px;">
                                            <div><b>Name : </b><span name="verifyName"></span></div>
                                            <div><b>NRIC : </b><span name="verifyNRIC"></span></div>
                                            <div><b>Issue date: </b><span name="issueDate"></span></div>
                                            <div><b>Expire date: </b><span name="expireDate"></span></div>
                                            <!--<div><b>Serial Number: </b><span name="serialNumber"></span></div>-->
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="width:300px;height:182px;border:1px solid #000;float:right;position:relative;" id="backCard">
                                        <div style="height:87px;width:100px;position:absolute;top:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;display:none;">
                                            <img src="../images/fingerprint.jpg" id="verifyLeftFinger" style="height:100%;max-width:100%;" />
                                        </div>
                                        <div style="height:87px;width:100px;position:absolute;bottom:2px;left:2px;border:1px solid #CCC;text-align:center;padding:1px;display:none;">
                                            <img src="../images/fingerprint.jpg" id="verifyRightFinger" style="height:100%;max-width:100%;" />
                                        </div>
                                        <div style="margin-left:0px;padding:10px;font-size:12px;">
                                            <div><b>Name : </b><span name="verifyName"></span></div>
                                            <div><b>NRIC : </b><span name="verifyNRIC"></span></div>
                                            <div><b>Date of Birth : </b><span name="verifyDOB"></span></div>
                                            <div><b>Sex : </b><span name="verifyGender"></span></div>
                                            <div><b>Nationality : </b><span name="verifyNation"></span></div>
                                            <div><b>Race : </b><span name="verifyRace"></span></div>
                                            <div><b>Issue date: </b><span name="issueDate"></span></div>
                                            <div><b>Expire date: </b><span name="expireDate"></span></div>
                                            <!--<div><b>Serial Number: </b><span name="serialNumber"></span></div>-->
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>

                        </div>
                    </section>

                    <h2>PRINT CARD</h2>
                    <section>
                        <div class="row">
                            <div class="col" style="text-align:center">
                                <div style="width:100%;border:1px solid #000000;font-size:15px;display:none" id="printSuccessMessage"></div>
                                <div style="text-align:center;margin-top:10px;display:none;" id="rePrinter">
                                    <input type="button" value="Reprint" onclick="api.server.PrintSmartCart(frontCardImg, backCardImg);" />
                                </div>
                                <div style="margin:10px auto;display:none;text-align:center;" id="reCheckSCard">
                                    <img src="" style="margin-left:10px;" id="frontCardImg" />
                                    <img src="" style="margin-left:10px;" id="backCardImg" />
                                </div>
                            </div>
                            <!--<button type="submit" class="btn-form">Save</button>-->

                        </div>
                    </section>
                </div>

            </div>


        </div>
    </div>
</div>
<script>

    function setImg(number, src) {
        image = document.getElementById('image' + number);
        image.src = src;
    }

    function Test() {

    }
    $(document).ready(function () {
        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');

    });
    function ActionScanFingerPrint(isRight) {
        if (isRight) {
            $('#leftThumbDiv').find('button').attr('disabled', 'disabled');
        } else {
            $('#rightThumbDiv').find('button').attr('disabled', 'disabled');
        }
        api.server.CaptureFingerPrint(isRight);
    }
    //$('#leftThumbScanBtn').click(function () {
    //    $('#rightThumbDiv').find('button').attr('disabled', 'disabled');
    //    api.server.CaptureFingerPrint(false);

    //});

    //$('#rightThumbScanBtn').click(function () {
    //    $('#leftThumbDiv').find('button').attr('disabled', 'disabled');
    //    api.server.CaptureFingerPrint(true);
    //});

    function enableClearBtnServerCall(isRight) {

        $('#rightThumbClearBtn').removeAttr('disabled');
        $('#leftThumbScanBtn').removeAttr('disabled');
        $('#leftThumbClearBtn').removeAttr('disabled');
        $('#rightThumbScanBtn').removeAttr('disabled');



    }

    function changeMessageServerCall(isRight, message, color) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    function setFingerprintImage(isRight, base64String) {
        if (isRight) {
            $('#rightProcessMessage').text(message).css('color', color);

        }
        else {
            $('#leftProcessMessage').text(message).css('color', color);
        }
    }

    $('#leftThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#leftFingerprint').attr('src', '');
        $('#leftThumbClearBtn').attr('disabled', 'disabled');
        $('#leftThumbScanBtn').removeAttr('disabled');
        $('#leftProcessMessage').text('Place left thumb onto scanner').css('color', '#000');

    });
    $('#rightThumbClearBtn').click(function () {
        api.server.CancelCaptureFingerprint();
        $('#rightFingerprint').attr('src', '');
        $('#rightThumbClearBtn').attr('disabled', 'disabled');
        $('#rightThumbScanBtn').removeAttr('disabled');
        $('#rightProcessMessage').text('Place right thumb onto scanner').css('color', '#000');
    });

    function setBase64FingerprintOnloadServerCall(leftFinger, rightFinger) {
        if (leftFinger != "") {
            $('#leftFingerprint').attr('src', 'data:image/png;base64,' + leftFinger);
            $('#verifyLeftFinger').attr('src', 'data:image/png;base64,' + leftFinger);
        }
        if (rightFinger != "") {
            $('#rightFingerprint').attr('src', 'data:image/png;base64,' + rightFinger);
            $('#verifyRightFinger').attr('src', 'data:image/png;base64,' + rightFinger);

        }

    }

    function setAvatar(base64Str1, base64Str2) {
        if (base64Str1 != "") {
            $('#image1').attr('src', 'data:image/jpg;base64,' + base64Str1);
            $('#verifyPhoto').attr('src', 'data:image/jpg;base64,' + base64Str1);
        }
        if (base64Str2 != "") {
            $('#image2').attr('src', 'data:image/jpg;base64,' + base64Str2);
            $('#verifyPhoto2').attr('src', 'data:image/jpg;base64,' + base64Str2);
        }
    }
</script>
<script>
    var frontCardImg = null;
    var backCardImg = null;
    var countPrinterSmartCard = 0;
    $(function () {
        var isUpdated = false;
        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            loading: "Processing ...",
            enableCancelButton: true,
            //onInit: function (event, currentIndex) {
            //    var cancelA = $("<a>").attr("href", "#").attr("onclick", "api.server.LoadListSupervisee()").addClass("cancelBtn").text("Cancel");
            //    var cancelBtn = $("<li>").attr("aria-disabled", false).append(cancelA);

            //    $(document).find(".actions ul").prepend(cancelBtn)

            //},
            //onContentLoaded: function (event, currentIndex) {

            //},
            onStepChanging: function (event, currentIndex, newIndex) {


                if (newIndex == 2) {
                    api.server.loadDataVerify(function (model) {
                        $('[name="verifyName"]').text(model.User.Name);
                        if (model.UserProfile.DOB != null) {
                            $('[name="verifyDOB"]').text(model.UserProfile.DOBTxt);
                        }

                        $('[name="verifyNRIC"]').text(model.User.NRIC);
                        $('[name="serialNumber"]').text(model.UserProfile.Serial_Number);
                        $('[name="serialNumberBack"]').text(model.UserProfile.Serial_Number);
                        $('[name="verifyGender"]').text(model.UserProfile.Gender == null ? '' : model.UserProfile.Gender);
                        $('[name="verifyNation"]').text(model.UserProfile.Nationality);
                        if (model.UserProfile.DateOfIssue != null) {

                            $('[name="issueDate"]').text(model.UserProfile.DateOfIssueTxt);
                            $('[name="issueDateBack"]').text(model.UserProfile.DateOfIssueTxt);
                        }
                        if (model.UserProfile.Expired_Date != null) {
                            $('[name="expireDate"]').text(model.UserProfile.Expired_DateTxt);
                        }
                        $('[name="verifyRace"]').text(model.UserProfile.Race == null ? '' : model.UserProfile.Race);
                        frontCardImg = null;
                        backCardImg = null
                    });
                } else if (newIndex == 3) {
                    //if (frontCardImg == null && backCardImg == null) {

                    //    return false;
                    //}
                    if (frontCardImg == null || backCardImg == null) {
                        html2canvas($('#frontCard'), {
                            onrendered: function (froncanvas) {
                                html2canvas($('#backCard'), {
                                    onrendered: function (backcanvas) {
                                        frontCardImg = froncanvas.toDataURL("image/png");
                                        backCardImg = backcanvas.toDataURL("image/png");
                                        $('.actions > ul > li > a[href="#next"]').click();
                                    }
                                });
                            }
                        });
                        api.loading(true);
                        return false;
                    } else {
                        api.loading(false);
                    }
                }
                return true;
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                //0 - photo
                //1 - fingerprint
                //2 - verify
                //3 - print

                if (currentIndex == 3) {
                    //update to db
                    //api.server.UpdateSuperviseeBiodata(function () {
                    //    $('#frontCardImg').attr('src', frontCardImg);
                    //    $('#backCardImg').attr('src', backCardImg);
                    //    api.server.PrintSmartCart(frontCardImg, backCardImg);
                    //});
                    if (frontCardImg == null) {
                        frontCardImg = '';
                    }
                    if (backCardImg == null) {
                        backCardImg = '';
                    }
                    api.server.UpdateSuperviseeBiodata(frontCardImg, backCardImg);
                }
            },
            onFinished: function (event, currentIndex) {
                api.server.LoadListSupervisee();
            },
            onCanceled: function (event) {
                api.server.LoadListSupervisee();
            }
        });



        $("input[type='image']").click(function () {
            $("input[id='my_file']").click();
        });
    });

    $(document).ready(function () {
        countPrinterSmartCard = 0;
    });

    function showPrintMessage(status, message) {
        if (status != null) {
            if (status) {
                $('#rePrinter').css('display', 'none');
                $('#reCheckSCard').css('display', 'block');
                $('.actions > ul > li:first-child').attr('style', 'display:none');

            } else {
                $('#rePrinter').css('display', 'block');
                $('#reCheckSCard').css('display', 'none');
                countPrinterSmartCard++;
                if (countPrinterSmartCard >= 3) {
                    alert('Unable to print Smart Card');
                }
            }
        }
        $('#printSuccessMessage').text(message).show();
    }

    function showCardImages() {
        $('#frontCardImg').attr('src', frontCardImg);
        $('#backCardImg').attr('src', backCardImg);
    }
</script>
