<div>
    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:;">
                <i class="fa fa-info-circle"></i>Supervisee Details
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" onclick="api.server.LoadPage('ReprintSmartCard.html');">
                <i class="fa fa-address-card"></i>Issued card
            </a>
        </li>
    </ul>
</div>
<div class="title-border-red border-bottom">
    <h5>Update fingerprint</h5>
</div>
<div style="position:absolute;left: 0px;width: 100%;height: calc(100% - 185px);margin-top: 0px;overflow-x:hidden;overflow-y:auto;padding: 20px;">
    <div class="tab-content">
        <div class="tab-pane active" id="superviseeDetails" role="tabpanel">
            <div class="container">
                <div class="w-75 mx-auto">
                    <div class="row">
                        <div class="col-6">
                            <div style="margin-bottom:10px;text-align:center;"><strong id="leftProcessMessage" capturefingerprint-message="0">Place left thumb onto scanner.</strong></div>
                            <div class="row col-7 offset-1" style="margin:auto;">
                                <div class="col-12" style="padding:20px;background-color:#f1f1f1;margin:auto;text-align:center;">
                                    <img src='../images/leftthumb.png' capturefingerprint-img="0" soure="" data-fingerprint="" style="max-width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div style="margin-bottom:10px;text-align:center;"><strong id="rightProcessMessage" capturefingerprint-message="1">Place right thumb onto scanner.</strong></div>
                            <div class="row col-7 offset-1" style="margin:auto;">
                                <div class="col-12" style="padding:20px;background-color:#f1f1f1;margin:auto;text-align:center;">
                                    <img src='../images/rightthumb.png' capturefingerprint-img="1" soure="" data-fingerprint="" style="max-width:100%;">
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row col-7 offset-1" style="margin:auto;">
                                <div class="scan col-6 ml-auto" style="text-align:left;">
                                    <a href="#" class="link-blue" onclick="disBtnFingerprint(true); api.server.CaptureFingerprint(0);" capturefingerprint-btn="0">
                                        Scan
                                    </a>
                                </div>
                                <div class="clear col-6 mr-auto" style="text-align:right;">
                                    <a href="#" class="link-grey pull-right" onclick="clearFingerprint(0)" clearBtn>
                                        Clear
                                    </a>
                                </div>
                            </div>
                            <div style="margin-top:10px;text-align:center;">Left Thumb-Fingerprint Preview</div>
                        </div>
                        <div class="col-6">
                            <div class="row col-7 offset-1" style="margin:auto;">
                                <div class="scan col-6 ml-auto" style="text-align:left;">
                                    <a href="#" class="link-blue" onclick="disBtnFingerprint(true); api.server.CaptureFingerprint(1);" capturefingerprint-btn="1">
                                        Scan
                                    </a>
                                </div>
                                <div class="clear col-6 mr-auto" style="text-align:right;">
                                    <a href="#" class="link-grey pull-right" onclick="clearFingerprint(1)" clearBtn>
                                        Clear
                                    </a>
                                </div>
                            </div>
                            <div style="margin-top:10px;text-align:center;">Right Thumb-Fingerprint Preview</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position:absolute;width: 100%;height: 50px;bottom: 10px;border-top: 1px solid #CCC;">
    <div style="width: calc(100% - 80px);margin-left: 40px;text-align: center;margin-top: 11px;">
        <a href="#" class="btn btn-light" style="margin-right:20px;min-width:150px;" onclick="api.server.CancelUpdateFingerprints();">Cancel</a>
        <a href="#" class="btn btn-primary" style="min-width:150px;" onclick="SubmitUpdateFingerprints();">Save</a>
    </div>
</div>
<script type="text/javascript">
    var modelFingerprinter = null;
    api.ready(function (model) {
        modelFingerprinter = model;
        clearFingerprint(0);
        clearFingerprint(1);
    });
    function disBtnFingerprint(status) {
        if (status) {
            $('[capturefingerprint-btn]').attr('disabled', 'disabled');
        } else {
            $('[capturefingerprint-btn]').removeAttr('disabled');
        }
        $('[capturefingerprint-btn]').removeClass('link-blue')
        $('[capturefingerprint-btn]').addClass('link-grey');
        $('[clearBtn]').removeClass('link-grey');
        $('[clearBtn]').addClass('link-blue');
    }
    function clearFingerprint(LeftOrRight) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('src', modelFingerprinter[LeftOrRight] == null ? '../images/fingerprint.png' : 'data:image/png;base64,' + modelFingerprinter[LeftOrRight]).attr('soure', '').attr('data-fingerprint', '');
        $('[capturefingerprint-btn="' + LeftOrRight + '"]').removeClass('link-grey')
        $('[capturefingerprint-btn="' + LeftOrRight + '"]').addClass('link-blue');
    }
    function captureFingerprintMessage(LeftOrRight, Message, color) {
        $('[capturefingerprint-message="' + LeftOrRight + '"]').text(Message).css('color', color);
    }
    function setImageFingerprint(LeftOrRight, img) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('src', 'data:image/png;base64,' + img).attr('soure', img);
    }
    function setDataFingerprint(LeftOrRight, base) {
        $('[capturefingerprint-img="' + LeftOrRight + '"]').attr('data-fingerprint', base);
    }
    function SubmitUpdateFingerprints() {
        var left = $('[capturefingerprint-img="0"]').attr('data-fingerprint');
        var right = $('[capturefingerprint-img="1"]').attr('data-fingerprint');
        if ($('[capturefingerprint-img="0"]').attr('src').indexOf('thumb') > 0 || $('[capturefingerprint-img="1"]').attr('src').indexOf('thumb') > 0) {
            alert('You need to provide 2 fingerprint.');
        }
        else {
            if (left.length > 0 || right.length > 0) {
                api.server.SubmitUpdateFingerprints(left, $('[capturefingerprint-img="0"]').attr('soure'), right, $('[capturefingerprint-img="1"]').attr('soure'));
            } else {
                alert('No data updated');
            }
        }

    }
    function moreThan3Fingerprint() {
        alert('Supervisee has failed more than 3 times in finger prints!');
        api.server.CancelUpdateFingerprints();
    }
</script>