<style>
    .go-to {
        text-transform: uppercase;
    }

    button {
        /*border:none;
        cursor:pointer;
        background-color:none;
        color:#0094ff;*/
    }
</style>

<h5 class="text-center" style="margin-top:30px;">
    Please position your face within the frame and click the camera
</h5>
<div class="my-5">
    <button class="go-to btn btn-default" onclick="api.server.CancelUpdatePicture();">Click to go back</button>

</div>

<div style="width:100%; position:fixed; bottom: 10px;  margin: auto;">
    <div class="text-center">
        <div id="capture">
            <div>
                <button style="background-color:none;border:none;" onclick="api.server.CapturePicture();"><i class="fa fa-camera" style="font-size:50px;color:red"></i></button>

            </div>
        </div>
        <div id="confirm" style="display:none">
            <div>
                <button href="#" onclick="api.server.ConfirmCapturePicture();" class="btn btn-success">Confirm</button>

                <button href="#" onclick="api.server.CancelConfirmCapturePicture();" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>

</div>
<script>
    function confirmMode() {
        document.getElementById('capture').style.display = 'none';
        document.getElementById('confirm').style.display = 'block';
    }
    function captureMode() {
        document.getElementById('capture').style.display = 'block';
        document.getElementById('confirm').style.display = 'none';
    }
</script>
