<style>
    .go-to {
        text-transform: uppercase;
    }

    button {
        /*border:none;
        cursor:pointer;
        background-color:none;
        color:#0094ff;*/
    }
</style>

<h5 class="text-center" style="margin-top:30px;">
    Please position your face within the frame and click the camera
</h5>
<div class="my-5">
    <button class="go-to btn btn-default" id="btnBack">Click to go back</button>

</div>


<div style="width:100%; position:fixed; bottom: 10px;  margin: auto;">

    <div class="text-center">
        <div id="capture">
            <div>
                <a href="#" id="btnCapture"><i class="fa fa-camera" style="font-size:50px;color:red"></i></a>

            </div>
        </div>
        <div id="confirm" style="display:none">
            <div>
                <a href="#" id="btnConfirm" onclick="" class="btn btn-success">Confirm</a>

                <a href="#" id="btnCancel" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>

</div>
<script>
   
    $('#btnCapture').click(function () {
        api.server.CapturePicture();
    });
    $('#btnConfirm').click(function () {
        api.server.ConfirmCapturePicture();
    });
    $('#btnCancel').click(function () {
        api.server.CancelConfirmCapturePicture();
    });
    $('#btnBack').click(function () {
        api.server.CancelUpdatePicture();
    });

</script>
<script>
    function confirmMode() {
        document.getElementById('capture').style.display = 'none';
        document.getElementById('confirm').style.display = 'block';
    }
    function captureMode() {
        document.getElementById('capture').style.display = 'block';
        document.getElementById('confirm').style.display = 'none';
    }
</script>
