<span style="display: inline-block;font-size:20px;border:1px solid #CCC;background-color:#FFF;padding:10px;border-bottom:none;">Book Appointment</span>
    </br>
<span style="display: inline-block;font-size:15px;border:1px solid #CCC;background-color:#FFF;padding:5px;">You next Book Appointment will be on : <span app-date></span> <span app-time></span></span>

<div style="max-width:100%;padding:10px;border:1px solid #CCC;margin-top:10px;" add-time>
</div>
<style type="text/css">
    .input-group-addon {
        padding: 10px;
    }

    [item-select-time] {
        display: inline-block;
        width: calc(25% - 24px);
        margin: 5px 10px;
        border: 1px solid #CCC;
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
    }

        [item-select-time]:hover {
            background-color:#CCC;
        }

        [item-select-time][selected="true"] {
            background-color: deepskyblue !important;
            pointer-events: none;
        }

        [item-select-time][availble="false"] {
            background-color: #999;
            pointer-events: none;
        }
</style>
<button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;left:10px;" onclick="window.external.LoadPage('Supervisee.html');">Back</button>

<script type="text/javascript">
    $(document).ready(function () {
        $('[app-date]').text(api.model[0].GetDateTxt);
        $.each(api.model[1], function (index, item) {
            $('[add-time]').append('<span item-select-time availble="' + item.IsAvailble + '" selected="' + item.IsSelected + '">' + item.StartTime + ' to ' + item.EndTime + '</span>');
        });
    });
</script>