<div class="tab-conten" BookAppointment>
    <div>
        <div>
            <span class="input-group-addon" style="width:100px">Book Appointment</span>
        </div>
        <div>
            <span>You next Book Appointment will be on : thursday,20 july 2018 HH:MM xm  </span>
        </div>
    </div>
    <div class="input-group-addon">
        <div class="input-group-addon">
            <div class="input-group-addon">
                <span class="input-group-addon">MORNING</span>
            </div>
            <br />
            <div class="input-group-addon">
                <div class="input-group-addon">
                    <span class="input-group">HH:MM xm to HH:MM xm</span>
                </div>
                <br />
                <div class="input-group-addon">
                    <span class="input-group">HH:MM xm to HH:MM xm</span>
                </div>
                <br />
                <div class="input-group-addon">
                    <span class="input-group">HH:MM xm to HH:MM xm</span>
                </div>
            </div>
    </div>
    <div class="input-group-addon">
        <div class="input-group-addon">
            <div class="input-group">
                <span class="input-group-addon">AFTERN00N</span>
            </div>
        </div>
        <br />
        <div class="input-group-addon">
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
            <br />
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
            <br />
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
        </div>
    </div>
    <div class="input-group-addon">
        <div class="input-group-addon">
            <span class="input-group-addon">EVENING</span>
        </div>
        <br />
        <div class="input-group-addon">
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
            <br />
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
            <br/>
            <div class="input-group-addon">
                <span class="input-group">HH:MM xm to HH:MM xm</span>
            </div>
         </div>
       </div>
        <br />
        <div class="input-group">
            <div class="input-group">
                <span class="input-group">Legends</span>
            </div>
            <br />
        </div>
            <div class="input-group-addon">
                <div class="input-group-addon">
                    <span style="border:inherit">Available</span>
                </div>
                <div class="input-group-addon">
                    <span>Selecter</span>
                </div>
                <div class="input-group-addon" style="border-spacing:10px" >
                    <span class="container-1">Full Booked</span>
                </div>
            </div> 
</div>
    </div>'
<style type="text/css">
    
    [BookAppointment] {
         border: 1px solid #EDEDED;
        border-top: none;
        padding: 20px;
    }
    .container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
</style>
<button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;left:10px;" onclick="window.external.LoadPage('Supervisee.html');">Back</button>