<div class="status-text">
</div>
<div class="box-shadow" style="position:absolute;width:100%;height:calc(100% - 45px);background-image:url('../img/DocumentScan.png');background-position:center center;background-repeat:no-repeat;background-size:contain;">
</div>

<style type="text/css">
    .status-text {
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #334352;
    }
</style>

<script type="text/javascript">
    $('#header[right-show]').attr('right-show', '');
</script>