<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/lib.js"></script>

</head>
<body>
    <div id="header">
        <div class="logo" title="logo"></div>
        <div class="logout glyphicon glyphicon-log-out" title="Logout" onclick="confirm('Are you sure you want to logout?') == true ? api.server.LogOut() : null" id="btn-logout"></div>
    </div>
    <div id="parent-content">
        <div id="content">

        </div>
    </div>
    
    <div class="loading">
        <span class="loader"></span>
    </div>
</body>
</html>