<div class="modal" role="dialog" id="PopupScanDocument">
    <div class="modal-dialog" style="height:calc(100% - 60px);width:1000px;max-width: calc(100% - 20px);">
        <div class="modal-content" style="height:100%;">
            <div class="modal-body">
                <div class="contentMesg">
                    <div style="position:absolute;width:calc(100%);height:calc(100% - 60px);left:0px;top:0px;">
                        <video autoplay loop style="position:absolute;width:100%;height:100%;left:0px;top:0px;">
                            <source src="../img/ThumbDocumentScanner.mp4" type="video/mp4">
                        </video>
                    </div>
                    <!--<div style="position:absolute;width:calc(100% - 320px);height:calc(100% - 60px);left:0px;top:0px;">
                        <video autoplay loop style="position:absolute;width:100%;height:100%;left:0px;top:0px;">
                            <source src="../img/ThumbDocumentScanner.mp4" type="video/mp4">
                        </video>
                    </div>-->
                    <!--<div style="position:absolute;width:300px;height:calc(100% - 60px);top:0px;right:0px;overflow-y:auto;overflow-x:visible;border:1px solid #DDD;">
                        <div item-scan="">
                            <div item-img="before" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-img="after" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-remove=""></div>
                        </div>
                        <div item-scan="">
                            <div item-img="before" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-img="after" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-remove=""></div>
                        </div>
                        <div item-scan="">
                            <div item-img="before" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-img="after" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-remove=""></div>
                        </div>
                        <div item-scan="">
                            <div item-img="before" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-img="after" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-remove=""></div>
                        </div>
                        <div item-scan="">
                            <div item-img="before" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-img="after" style="background-image:url('file:///C:/Users/thangnv1/Desktop/imgpsh_fullsize.jpg')"></div>
                            <div item-remove=""></div>
                        </div>
                    </div>-->
                </div>
                <div style="position:absolute;bottom:0px;width:100%;left:0px;">
                    <div style="float:left;width:calc(50% - 25px);">
                        <button type="button" class="btn btn-primary" btn-cancel>Cancel</button>
                    </div>
                    <div style="float:right;width:calc(50% - 25px);">
                        <button type="button" class="btn btn-primary" btn-scan>Scan</button>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var functioncallsuccess = null;
    function showImgScanDocument(img) {
        $('#PopupScanDocument').modal('toggle');

        api.server.LoadPopupHtml("PopupShowImageScan.html", img, function () {
            $('#PopupShowImageScan').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#PopupShowImageScan button[btn-ok]').click(function () {
                $('#PopupShowImageScan').modal('toggle');
                eval(functioncallsuccess)(img);
            });
            $('#PopupShowImageScan button[btn-cancel]').click(function () {
                $('#PopupShowImageScan').modal('toggle');
            });
        });

    }
    api.ready(function (_functioncallsuccess) {
        functioncallsuccess = _functioncallsuccess;
        $('#PopupScanDocument').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#PopupScanDocument [btn-cancel]').click(function () {
            $('#PopupScanDocument').modal('toggle');
        });
        $('#PopupScanDocument [btn-scan]').click(function () {
            $('#PopupScanDocument [btn-cancel],#PopupScanDocument [btn-scan]').css('display', 'none');
            api.server.StartScanDocument();
        });
    });
</script>
<style type="text/css">
    /*Modal Layout*/

    .modal-content {
        border-radius: 0px !important;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        min-width: 350px;
    }

    .modal-content {
        padding: 20px;
    }

    .modal-body .title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .modal-body .contentMesg {
        text-align: center;
        padding: 10px 0 20px 0;
    }

    .modal-body button {
        width: 100%;
        background-color: #1CACF6;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    [btn-cancel] {
        background-color: #FFF !important;
        color: #333 !important;
        border: 1px solid #CCC !important;
    }

    /*[item-scan] {
        height: 200px;
        position: relative;
        margin-bottom: 0px;
        border-bottom: 1px solid #DDD;
        box-sizing: border-box;
        background-color:#FFF;
        overflow:hidden;
    }

        [item-scan]::after {
            margin-bottom: 0px;
            border-bottom: 0px solid #DDD;
        }

        [item-scan] [item-img] {
            position: absolute;
            height: calc(100% - 20px);
            width: calc(50% - 15px);
            top: 10px;
            background-color: #EEE;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            border:2px solid #DDD;
        }

        [item-scan] [item-img="before"] {
            left: 10px;
        }

        [item-scan] [item-img="after"] {
            right: 10px;
        }
        [item-scan] [item-remove]{
            position:absolute;
            z-index:2;
            width:50px;
            height:50px;
            border-radius:50%;
            border:1px solid #CCC;
            left:-20px;
            top:-20px;
            background-color:#FFF;
        }
        [item-scan] [item-remove]::after{

        }*/
</style>
