<div class="modal" role="dialog" id="PopupScanDocument">
    <div class="modal-dialog" style="height:calc(100% - 60px);width:1000px;max-width: calc(100% - 20px);">
        <div class="modal-content" style="height:100%;">
            <div class="modal-body">
                <div class="contentMesg">
                    <div style="position:absolute;width:calc(100% - 230px);height:calc(100% - 60px);left:0px;top:0px;">
                        <video autoplay loop style="position:absolute;width:100%;height:100%;left:0px;top:0px;">
                            <source src="../img/ThumbDocumentScanner.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div style="position:absolute;width:200px;height:100%;top:0px;right:0px;background-color:red;"></div>
                </div>
                <div style="position:absolute;bottom:0px;width:100%;left:0px;">
                    <div style="float:left;width:calc(50% - 25px);">
                        <button type="button" class="btn btn-primary" btn-cancel>Cancel</button>
                    </div>
                    <div style="float:right;width:calc(50% - 25px);">
                        <button type="button" class="btn btn-primary" btn-scan>Scan</button>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var functioncallsuccess = null;
    function showImgScanDocument(img) {
        $('#PopupScanDocument').modal('toggle');

        api.server.LoadPopupHtml("PopupShowImageScan.html", img, function () {
            $('#PopupShowImageScan').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#PopupShowImageScan button[btn-ok]').click(function () {
                $('#PopupShowImageScan').modal('toggle');
                eval(functioncallsuccess)(img);
            });
            $('#PopupShowImageScan button[btn-cancel]').click(function () {
                $('#PopupShowImageScan').modal('toggle');
            });
        });
        
    }
    api.ready(function (_functioncallsuccess) {
        functioncallsuccess = _functioncallsuccess;
        $('#PopupScanDocument').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#PopupScanDocument [btn-cancel]').click(function () {
            $('#PopupScanDocument').modal('toggle');
        });
        $('#PopupScanDocument [btn-scan]').click(function () {
            $('#PopupScanDocument [btn-cancel],#PopupScanDocument [btn-scan]').css('display', 'none');
            api.server.StartScanDocument();
        });
    });
</script>
<style type="text/css">
    /*Modal Layout*/

    .modal-content {
        border-radius: 0px !important;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        min-width: 350px;
    }

    .modal-content {
        padding: 20px;
    }

    .modal-body .title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .modal-body .contentMesg {
        text-align: center;
        padding: 10px 0 20px 0;
    }

    .modal-body button {
        width: 100%;
        background-color: #1CACF6;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
    [btn-cancel] {
        background-color: #FFF !important;
        color: #333 !important;
        border: 1px solid #CCC !important;
    }
</style>
