<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Particulars">Particulars</a></li>
    <li><a data-toggle="tab" href="#Addresses">Addresses</a></li>
    <li><a data-toggle="tab" href="#Next-Of-Kin-Details">Next-Of-Kin Details</a></li>
    <li><a data-toggle="tab" href="#Employment-Details">Employment Details</a></li>
</ul>

<div class="tab-content" profile>
    <div id="Particulars" class="tab-pane fade in active">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input id="msg" type="text" class="form-control" name="msg">
        </div>
        <br />
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">NRIC NO</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Date of birth</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
        </div>
        <br />
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Nationlality</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Marital Status</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
        </div>
        <br />
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Primari Contac</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Secondary Contact</span>
                <input id="msg" type="text" class="form-control" name="msg">
            </div>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Primari Email</span>
            <input id="msg" type="text" class="form-control" name="msg">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Secondary Email</span>
            <input id="msg" type="text" class="form-control" name="msg">
        </div>
        <br />

    </div>
        <div id="Addresses" class="tab-pane fade">
            <div class="input-group">
                <span class="input-group-addon">House Number</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Unit Number</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Street Name</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Country</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
        </div>
       
    <div id="Next-Of-Kin-Details" class="tab-pane fade">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Contact Number</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Relationship</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">House Number</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Unit Number</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Street Name</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Country</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
    </div>
    <div id="Employment-Details" class="tab-pane fade">
            <div class="input-group">
                <span class="input-group-addon">Employer Name</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Employer Contact</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Company Name</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Job Title</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Start Date</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">End Date and Remarks</span>
                <input id="msg" type="text" class="form-control" name="msg" />
            </div>

    </div>
</div>
<style type="text/css">
    [profile] {
        border: 1px solid #EDEDED;
        border-top: none;
        padding: 20px;
    }
</style>
<button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;left:10px;" onclick="api.server.LoadPage('Supervisee.html');">Back</button>