<style type="text/css">
    [profile] {
        border: 1px solid #EDEDED;
        border-top: none;
        padding: 20px;
    }

    button {
        z-index: 100;
    }

    .highlight {
        border-color: red;
    }
</style>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Particulars">Particulars</a></li>
    <li><a data-toggle="tab" href="#Addresses">Addresses</a></li>
    <li><a data-toggle="tab" href="#Next-Of-Kin-Details">Next-Of-Kin Details</a></li>
    <li><a data-toggle="tab" href="#Employment-Details">Employment Details</a></li>
</ul>
<form id="profileFrm">
    <div class="tab-content" profile>
        <input type="hidden" id="activeTab" value="Particulars" />
        <input type="hidden" name="UserId" id="UserId" />
        <input type="hidden" name="LastLoginTime" id="LastLoginTime" />
        <input type="hidden" name="EnrolledDate" id="EnrolledDate" />
        <input type="hidden" name="Role" id="Role" />
        <input type="hidden" name="SmartCardId" id="SmartCardId" />
        <input type="hidden" name="Fingerprint" id="Fingerprint" />
        <input type="hidden" name="UserStatus" id="UserStatus" />
        <div id="Particulars" class="tab-pane fade in active" onclick="activeTab('Particulars');" style="height:350px;overflow:auto;">
            <div class="input-group">
                <span class="input-group-addon"><span style="color:red">*</span>Name</span>
                <input id="ParticularsName" type="text" class="form-control pri" name="ParticularsName" placeholder="Name">
            </div>
            <br />
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><span style="color:red">*</span>NRIC NO</span>
                    <input id="NRIC" type="text" class="form-control pri" name="NRIC">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span style="color:red">*</span>Date of birth</span>
                    <input id="DOB" type="text" class="form-control pri" name="DOB">
                </div>
            </div>
            <br />
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><span style="color:red">*</span>Nationality</span>
                    <input id="Nationality" type="text" class="form-control pri" name="Nationality">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span style="color:red">*</span>Marital Status</span>
                    <input id="MaritalStatus" type="text" class="form-control pri" name="MaritalStatus">
                </div>
            </div>
            <br />
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon">Primary Contact</span>
                    <input id="PrimaryContact" type="text" class="form-control" name="PrimaryContact">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Secondary Contact</span>
                    <input id="SecondaryContact" type="text" class="form-control" name="SecondaryContact">
                </div>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Primary Email</span>
                <input id="PrimaryEmail" type="text" class="form-control" name="PrimaryEmail">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Secondary Email</span>
                <input id="SecondaryEmail" type="text" class="form-control" name="SecondaryEmail">
            </div>
            <br />

        </div>
        <div id="Addresses" class="tab-pane fade" onclick="activeTab('Addresses');"style="height:350px;overflow:auto;">

            <input type="hidden" name="Residential_Addess_ID" id="Residential_Addess_ID" />
            <input type="hidden" name="Other_Address_ID" id="Other_Address_ID" />
            <input type="hidden" name="Postal_Code" id="Postal_Code" />
            <div class="input-group">
                <span class="input-group-addon">House Number</span>
                <input id="AddressHouseNumber" type="text" class="form-control" name="AddressesHouseNumber" disabled="disabled" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Unit Number</span>
                <input id="AddressUnitNumber" type="text" class="form-control" name="UnitNumber" disabled="disabled" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Street Name</span>
                <input id="AddressStreetName" type="text" class="form-control" name="StreetName" disabled="disabled" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Country</span>
                <input id="AddressCountry" type="text" class="form-control" name="Country" disabled="disabled" />
            </div>
        </div>

        <div id="Next-Of-Kin-Details" class="tab-pane fade" onclick="activeTab('Next-Of-Kin-Details');"style="height:350px;overflow:auto;">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input id="NextOfKinDetailsName" type="text" class="form-control" name="NextOfKinDetailsName" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Contact Number</span>
                <input id="NextOfKinDetailsContactNumber" type="text" class="form-control" name="ContactNumber" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Relationship</span>
                <input id="NextOfKinDetailsRelationship" type="text" class="form-control" name="Relationship" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">House Number</span>
                <input id="NextOfKinDetailsHouseNumber" type="text" class="form-control" name="NextOfKinDetailsHouseNumber" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Unit Number</span>
                <input id="NextOfKinDetailsUnitNumber" type="text" class="form-control" name="NextOfKinDetailsUnitNumber" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Street Name</span>
                <input id="NextOfKinDetailsStreetName" type="text" class="form-control" name="NextOfKinDetailsStreetName" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Postal Code</span>
                <input id="NextOfKinDetailsPostalCode" type="text" class="form-control" name="NextOfKinDetailsPostalCode" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Country</span>
                <input id="NextOfKinDetailsCountry" type="text" class="form-control" name="NextOfKinDetailsCountry" />
            </div>
            <br />
        </div>
        <div id="Employment-Details" class="tab-pane fade" onclick="activeTab('Employment-Details');"style="height:350px;overflow:auto;">
            <div class="input-group">
                <span class="input-group-addon">Employer Name</span>
                <input id="EmployerName" type="text" class="form-control" name="EmployerName" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Employer Contact</span>
                <input id="EmployerContact" type="text" class="form-control" name="EmployerContact" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Company Name</span>
                <input id="CompanyName" type="text" class="form-control" name="CompanyName" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Job Title</span>
                <input id="JobTitle" type="text" class="form-control" name="JobTitle" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Start Date</span>
                <input id="StartDate" type="text" class="form-control" name="StartDate" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">End Date </span>
                <input id="EndDate" type="text" class="form-control" name="EndDate" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Remarks</span>
                <input id="Remarks" type="text" class="form-control" name="Remarks" />
            </div>
        </div>
        <div>

            <div style="display:none;" id="divError"><span class="text-danger">Following input must not null!</span></div>
            <div style="float:left;" id="noticeMess"><span class="text-danger">* Supporting documents required </span></div>
        </div>
    </div>
    
    <div style="display:none;float:right;" id="divSupportDocument">
        <button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;right:150px;" id="btnScan">Scan documents</button>
        <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;left:10px;float:left;" onclick="api.server.LoadPage('Supervisee.html');">Back</button>
    </div>
    <!--<div style="float:right;" id="tempSupportDocument">
        <button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;right:150px;" id="btnScan">Scan documents</button>

    </div>-->
    <div style="display:none;float:right;" id="divConfirm">
        <p style="position:fixed;z-index:100;bottom:45px;right:10px;"><strong>Are you sure ?</strong></p>
        <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;right:60px; float:right;" id="btnCancel">Cancel</button>
        <button type="submit" class="btn btn-success" style="position:fixed;bottom:10px;right:10px; float:right;" id="btnOK">OK</button>
    </div>
    <div style="display:block;float:right;" id="divSave">
        <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;left:10px;" onclick="api.server.LoadPage('Supervisee.html');">Back</button>
        <button type="button" class="btn btn-success" style="position:fixed;bottom:10px;right:10px; float:right;" id="SaveBtn">Save</button>
    </div>
</form>
<script type="text/javascript">
    var _particularName, _nric, _dob, _nationality, _maritalStatus = "";
    $(document).ready(function myfunction() {

        _particularName = api.model.User.Name;
        _nric = api.model.User.NRIC;
        _dob = api.model.UserProfile.DOB;
        _nationality = api.model.UserProfile.Nationality;
        _maritalStatus = api.model.UserProfile.Maritial_Status;

        $('#UserId').val(api.model.User.UserId);
        $('#Fingerprint').val(api.model.User.Fingerprint);
        $('#UserStatus').val(api.model.User.Status);
        //user inforation
        $('#ParticularsName').val(api.model.User.Name);
        $('#NRIC').val(api.model.User.NRIC);
        $('#DOB').val(api.model.UserProfile.DOB);
        $('#LastLoginTime').val(api.model.User.LastLoginTime);
        $('#EnrolledDate').val(api.model.User.EnrolledDate);
        $('#Role').val(api.model.User.Role);
        $('#SmartCardId').val(api.model.User.SmartCardId);
        // profile
        $('#Nationality').val(api.model.UserProfile.Nationality);
        $('#MaritalStatus').val(api.model.UserProfile.Maritial_Status);
        $('#PrimaryContact').val(api.model.UserProfile.Primary_Phone);
        $('#SecondaryContact').val(api.model.UserProfile.Secondary_Phone);
        $('#PrimaryEmail').val(api.model.UserProfile.Primary_Email);
        $('#SecondaryEmail').val(api.model.UserProfile.Secondary_Email);
        if (api.model.Addresses != null) {

        //address information
        $('#Residential_Addess_ID').val(api.model.Addresses.Address_ID);
        $('#Other_Address_ID').val(api.model.Addresses.Address_ID);
        $('#AddressHouseNumber').val(api.model.Addresses.BlkHouse_Number);
        $('#AddressUnitNumber').val(api.model.Addresses.FlrUnit_Number);
        $('#AddressStreetName').val(api.model.Addresses.Street_Name);
        $('#AddressCountry').val(api.model.Addresses.Country);
        $('#Postal_Code').val(api.model.Addresses.Postal_Code);
        }
        //next of kin information
        $('#NextOfKinDetailsName').val(api.model.UserProfile.NextOfKin_Name);
        $('#NextOfKinDetailsContactNumber').val(api.model.UserProfile.NextOfKin_Contact_Number);
        $('#NextOfKinDetailsRelationship').val(api.model.UserProfile.NextOfKin_Relationship);
        $('#NextOfKinDetailsHouseNumber').val(api.model.UserProfile.NextOfKin_BlkHouse_Number);
        $('#NextOfKinDetailsUnitNumber').val(api.model.UserProfile.NextOfKin_FlrUnit_Number);
        $('#NextOfKinDetailsStreetName').val(api.model.UserProfile.NextOfKin_Street_Name);
        $('#NextOfKinDetailsCountry').val(api.model.UserProfile.NextOfKin_Country);
        $('#NextOfKinDetailsPostalCode').val(api.model.UserProfile.NextOfKin_PostalCode);

        //employee details information
        $('#EmployerName').val(api.model.UserProfile.Employment_Name);
        $('#EmployerContact').val(api.model.UserProfile.Employment_Contact_Number);
        $('#CompanyName').val(api.model.UserProfile.Employment_Company_Name);
        $('#JobTitle').val(api.model.UserProfile.Employment_Job_Title);
        $('#StartDate').val(api.model.UserProfile.Employment_Start_Date);
        $('#EndDate').val(api.model.UserProfile.Employment_End_Date);
        $('#Remarks').val(api.model.UserProfile.Employment_Remarks);

    });

    function activeTab(name) {
        $('#activeTab').val(name);
        $('#divError').hide();
        if (name!="Particulars") {
            $('#noticeMess').hide();
        }
      
    }

    $("#profileFrm").submit(function (e) {

        var $form = $("#profileFrm");
        var data = getFormData($form);
        var json = JSON.stringify(data);

        //for testing purpose
        api.server.SaveProfile(json, true);

        //api.server.SaveProfile(json, false);

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

    $('#btnScan').click(function () {
        var $form = $("#profileFrm");
        var data = getFormData($form);
        var json = JSON.stringify(data);
        api.server.LoadScanDocument(json);
    });
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    $('#SaveBtn').click(function () {

     
        if ($('#ParticularsName').val() != _particularName || $('#NRIC').val() != _nric || $('#DOB').val() != _dob || $('#Nationality').val() != _nationality || $('#MaritalStatus').val() != _maritalStatus) {
            //$('#divSave').hide();
            //$('#divError').show();
            $('#divSupportDocument').fadeIn(1000);
            $("input[class='form-control pri']").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass("highlight");
                }
                else {
                    $(this).removeClass("highlight");

                }
            });
        }
        else {
            $('#divSupportDocument').hide();
            var activeTab = $('#activeTab').val();
            var empty = $('#' + activeTab).find("input[class='form-control pri']").filter(function () {
                return this.value.trim() === "";
            });
            if (empty.length>0) {
                //At least one input is empty
                $("input[class='form-control pri']").each(function () {
                    if ($(this).val()== "") {
                        $(this).addClass("highlight");
                    }
                    else {
                        $(this).removeClass("highlight");

                    }
                });
                $('#divError').show();
            }
            else {
                $('#divError').hide();
                $('#divConfirm').show();
                $('#divSave').hide();
            }

        }

    });

    $('#btnCancel').click(function () {
        $('#divSave').show();
        $('#divConfirm').hide();
    });

   
    $('input[class="form-control"]').keyup(function () {
        $('#btnCancel').trigger('click');
        //if ($(this).val() != "") {
        //    $(this).removeClass('highlight');
          
        //}
        //else {
        //    $(this).addClass('highlight');
           
        //}
    });
   

    
    $('input[class="form-control pri"]').keyup(function () {
        $('#divSave').show();
        if ($('#ParticularsName').val() != _particularName || $('#NRIC').val() != _nric || $('#DOB').val() != _dob || $('#Nationality').val() != _nationality || $('#MaritalStatus').val() != _maritalStatus) {
            $('#divSupportDocument').fadeIn(1000);
        }
        else {
            $('#divSupportDocument').fadeOut(500);
        }
        
        if ($(this).val() != "") {
            $(this).removeClass('highlight');

        }
        else {
            $(this).addClass('highlight');

        }
    });
    
    var listTab = ["Particulars", "Addresses", "Next-Of-Kin-Details", "Employment-Details"];
    //function disableOtherTab(thisTab) {

    //    for (var i = 0; i < listTab.length; i++) {
    //        if (thisTab == listTab[i]) {
    //            continue;
    //        }
    //        else {
                
    //                $('#' + listTab[i]).unbind('mouseenter mouseleave');
    //        }
    //    }
    //}
    //function enableAllTab() {
    //    for (var i = 0; i < listTab.length; i++) {

    //        $('#' + listTab[i]).bind('mouseenter mouseleave');

    //    }
    //}
</script>