
<style>
    .z-depth-2 {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }

    .red-underline {
        border-bottom: 2px solid #ff005a;
        padding-bottom: 10px;
    }

    .profile-tabs {
        position: relative;
    }

    .profile-tabs {
        height: 60px;
        position: relative;
    }

        .profile-tabs .nav-item {
            max-width: 25%;
        }

        .profile-tabs .nav-link {
            height: 60px;
            line-height: 20px;
            font-size: 0.9rem;
            font-weight: bold;
            border-radius: 0;
            position: relative;
            margin-right: 5px;
            padding: 0.5rem 2rem;
            border-color: #dee2e6;
            color: #1cacf6;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            /*border-bottom: 4px solid #fff;*/
            z-index: 0;
            background: #fff;
        }

            .profile-tabs .nav-link.active:after {
                position: absolute;
                content: '';
                bottom: -10px;
                border-bottom: 10px solid #fff;
                z-index: 0;
                left: 0;
                width: 100%;
            }

        .profile-tabs .nav-item:last-of-type .nav-link {
            margin-right: 0;
        }

    .profile-tab-content {
        z-index: 1;
    }

        .profile-tab-content .tab-pane {
            padding: 2rem;
        }

    .btn-font-size {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        font-weight: bold;
        padding: .75rem;
        margin-bottom: 2rem;
        color: #1cacf6 !important;
    }

        .btn-font-size:hover, .btn-font-size:focus {
            border-color: #334352;
            color: #fff !important;
            background-color: #334352;
        }

        .btn-font-size.font-small {
            font-weight: normal;
        }

    .group-button-right {
        float: right;
    }

        .group-button-right .btn {
            text-transform: uppercase;
        }

    .btn-primary {
        background: #1cacf6;
        color: #fff;
    }

        .btn-primary:hover, .btn-primary:focus {
            background: #1e87c3;
            color: #fff;
        }

    .form-material input::-webkit-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input::-moz-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input:-ms-input-placeholder {
        font-style: italic;
        color: #ccc;
    }

    .form-material input {
        font-size: 100%;
    }

    .form-material .input-group-prepend {
        min-width: 35%;
        font-size: 100%;
    }

    .form-material .input-group .input-group-text {
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: #209CDD;
        font-size: 100%;
    }

        .form-material .input-group .input-group-text span, .form-select .form-label span {
            padding-left: 5px;
            color: red;
            font-size: 100%;
        }

    .form-material .btn {
        background: #1CACF6;
        color: #fff;
        text-transform: uppercase;
    }

        .form-material .btn.btn-light {
            background-color: transparent;
            color: #1CACF6;
        }

    .form-group {
        margin-bottom: 1rem;
        position: relative;
        min-height: 50px;
    }

    .form-select {
        width: 100%;
        float: left;
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
    }

        .form-select .input-group-select {
            min-width: 35%;
        }

        .form-select .form-label {
            border: 0;
            border-radius: 0;
            background-color: transparent;
            color: #209CDD;
            padding: .375rem .75rem;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.5;
            position: absolute;
            font-size: 100%;
        }

        .form-select select {
            padding: .375rem .75rem;
            line-height: 1.5;
            color: #495057;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            text-indent: 1px;
            text-overflow: '';
            border: 0;
            position: relative;
            font-size: 100%;
            height: inherit !important;
        }

            .form-select select + label {
                float: right;
                margin-top: 8px;
                margin-right: 5px;
                pointer-events: none;
                background-color: #fff;
                padding-right: 5px;
                color: #209CDD;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 90%;
            }

            .form-select select::-ms-expand {
                display: none;
            }

        .form-select .select-wrap {
            position: relative;
            width: 100%;
        }

    .line-center {
        display: block;
        margin-top: 10px;
    }

    @media (min-width: 769px) {
        .line-center-large {
            display: block;
            margin-top: 10px;
        }
    }

    .panel-font-size {
        position: relative;
        width: 100%;
    }

        .panel-font-size .font-size {
            display: inline-block;
            float: right;
        }

        .panel-font-size .link {
            position: absolute;
            width: 100%;
        }

            .panel-font-size .link .wrap {
                padding: 1rem;
                display: inline-block;
                float: right;
            }

        .panel-font-size.active .link .wrap {
            background: #fff;
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        .panel-font-size .panel {
            display: none;
            position: absolute;
            width: 100%;
            background: #fff;
            top: 61px;
            z-index: 9999;
            padding: 2rem;
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        .panel-font-size.active .panel {
            display: block;
        }

    a.font-size {
        font-size: 1.25rem;
        color: #1cacf6;
        font-weight: bold;
        display: block;
        position: relative;
        padding-right: 10px;
        text-decoration: none;
    }

        a.font-size:after {
            position: absolute;
            font-size: 12px;
            top: 5px;
            right: 0;
            content: "\f10d";
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        a.font-size:before {
            position: absolute;
            font-size: 12px;
            top: 12px;
            right: 0;
            content: "\f104";
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

    .profile-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

        .profile-content .profile-wrap {
            width: 100%;
            height: calc(100% - 210px);
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
        }

    .profile-action {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .input-group-prepend label{
        width: 100%;
    }
</style>


<div id="header" style="background-color:#FFF;margin-top:20px;">
    <div class="logo"></div>
    <div style="float:right;width:20%;position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);">
        <a href="javascript:;" onclick="api.server.LoadSupervisee()"><b class="ion-navicon-round" style="font-size:21px;color:#1cacf6;">Back to Main menu</b></a>
    </div>
</div>
<div class="p-3">
    <div class="panel-font-size pull-right" id="panel_font_size">
        <div class="link">
            <div class="wrap">
                <a href="#" class="font-size"
                   onclick="document.getElementById('panel_font_size').classList.toggle('active')">Aa</a>
            </div>
        </div>
        <div class="panel">
            <p>Font size adjustment</p>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-font-size font-small btn-block">
                        Aa <i class="ion-arrow-down-b"></i>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-font-size font-large btn-block">
                        Aa <i class="ion-arrow-up-b"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block text-center">
        <h4 class="d-inline-block red-underline my-3"><b>Update profile</b></h4>
    </div>
</div>
<!--<div name-page="Update profile" style=""></div>-->
<ul class="profile-tabs nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="particulars-tab" data-toggle="tab" href="#particulars"
           role="tab"
           aria-controls="particulars" aria-selected="true">
            <span class="line-center">Particulars</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab"
           aria-controls="addresses" aria-selected="false">
            <span class="line-center">Addresses</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="next-of-kin-tab" data-toggle="tab" href="#next-of-kin"
           role="tab"
           aria-controls="profile" aria-selected="false">
            <span class="line-center-large">Next-of-kin Details</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="employment-tab" data-toggle="tab" href="#employment" role="tab"
           aria-controls="employment" aria-selected="false"><span class="line-center-large">Employment Details</span></a>
    </li>
</ul>

<div class="profile-content">
    <form class="form-material profile-wrap z-depth-2" id="profileFrm">
        <input type="hidden" id="activeTab" value="Particulars" />
        <input type="hidden" name="UserId" id="UserId" />
        <input type="hidden" name="LastLoginTime" id="LastLoginTime" />
        <input type="hidden" name="EnrolledDate" id="EnrolledDate" />
        <input type="hidden" name="Role" id="Role" />
        <input type="hidden" name="SmartCardId" id="SmartCardId" />
        <input type="hidden" name="LeftFingerprint" id="LeftFingerprint" />
        <input type="hidden" name="RightFingerprint" id="RightFingerprint" />
        <input type="hidden" name="User_Photo1" id="User_Photo1" />
        <input type="hidden" name="User_Photo2" id="User_Photo2" />
        <input type="hidden" name="UserStatus" id="UserStatus" />
        <input type="hidden" name="Residential_Addess_ID" id="Residential_Addess_ID" />
        <input type="hidden" name="Other_Address_ID" id="Other_Address_ID" />
        <input type="hidden" name="Postal_Code" id="Postal_Code" />
        <input type="hidden" name="SerialNumber" id="SerialNumber" />
        <input type="hidden" name="DateOfIssue" id="DateOfIssue" />
        <input type="hidden" name="Gender" id="Gender" />
        <input type="hidden" name="Race" id="Race" />
        <div class="profile-tab-content bg-white tab-content">
            <div class="tab-pane fade show active" id="particulars" role="tabpanel"
                 aria-labelledby="particulars-tab">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="ParticularsName">
                                <span class="input-group-text">
                                    Name <span>*</span>
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Name"
                               aria-label="house" aria-describedby="house" id="ParticularsName" name="ParticularsName">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NRIC">
                                <span class="input-group-text">
                                    NRIC No. <span>*</span>
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter NRIC No."
                               aria-label="house" aria-describedby="house" id="NRIC" name="NRIC">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="DOB">
                                <span class="input-group-text">
                                    Date of Birth <span>*</span>
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="DD/MM/YYYY"
                               aria-label="house" aria-describedby="house" id="DOB" name="DOB">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="form-select">
                        <div class="input-group-select">
                            <label for="Nationality">
                                <span class="form-label">
                                    Nationality  <span>*</span>
                                </span>
                            </label>
                           
                        </div>
                        <div class="select-wrap">
                            <select title="Nationality" class="form-control" id="Nationality" name="Nationality">
                                <option>Singaporean</option>
                                <option>Malaysian</option>
                            </select>
                            <label for="Nationality">
                                <i class="ion-chevron-down"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-select">
                        <div class="input-group-select">
                            <label for="MaritalStatus">
                                <span class="form-label">
                                    Marital Status <span>*</span>
                                </span>
                            </label>
                            
                        </div>
                        <div class="select-wrap">
                            <select title="Marital Status" class="form-control" id="MaritalStatus" name="MaritalStatus">
                                <option>Single</option>
                                <option>Married</option>
                            </select>
                            <label for="year">
                                <i class="ion-chevron-down"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="PrimaryContact">
                                <span class="input-group-text">
                                    Primary Contact No.
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" id="PrimaryContact" name="PrimaryContact">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryContact">
                                <span class="input-group-text">
                                    Secondary Contact No.
                                </span>
                            </label>
                          
                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" id="SecondaryContact" name="SecondaryContact">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="PrimaryEmail">
                                <span class="input-group-text">
                                    Primary Email
                                </span>
                            </label>
                       
                        </div>
                        <input type="text" class="form-control"
                               placeholder="email@email.com"
                               aria-label="house" aria-describedby="house" id="PrimaryEmail" name="PrimaryEmail">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="SecondaryEmail">
                                <span class="input-group-text">
                                    Secondary Email
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="email@email.com"
                               aria-label="house" aria-describedby="house" id="SecondaryEmail" name="SecondaryEmail">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="tab-pane fade show " id="addresses" role="tabpanel"
                 aria-labelledby="particulars-tab">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="AddressesHouseNumber">
                                <span class="input-group-text">
                                    House Number
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter House Number"
                               aria-label="house" aria-describedby="house" id="AddressesHouseNumber" name="AddressesHouseNumber" disabled="disabled">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="AddressUnitNumber">
                                <span class="input-group-text">
                                    Unit Number
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Unit Number"
                               aria-label="house" aria-describedby="house" id="AddressUnitNumber" name="UnitNumber" disabled="disabled">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="AddressStreetName">
                                <span class="input-group-text">
                                    Street Name
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Street Name"
                               aria-label="house" aria-describedby="house" id="AddressStreetName" name="StreetName" disabled="disabled">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="AddressCountry">
                                <span class="input-group-text">
                                    Country
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Country"
                               aria-label="house" aria-describedby="house" id="AddressCountry" name="Country" disabled="disabled">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane fade show " id="next-of-kin" role="tabpanel"
                 aria-labelledby="particulars-tab">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Name">
                                <span class="input-group-text">
                                    Name
                                </span>
                            </label>
                          
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Name"
                               aria-label="house" aria-describedby="house" id="NextOfKin_Name" name="NextOfKin_Name">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Contact_Number">
                                <span class="input-group-text">
                                    Contact Number
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="eg. 98764324"
                               aria-label="house" aria-describedby="house" id="NextOfKin_Contact_Number" name="NextOfKin_Contact_Number">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Relationship">
                                <span class="input-group-text">
                                    Relationship
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Relationship"
                               aria-label="house" aria-describedby="house" id="NextOfKin_Relationship" name="NextOfKin_Relationship">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_BlkHouse_Number">
                                <span class="input-group-text">
                                    House Number
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter House Number"
                               aria-label="house" aria-describedby="house" id="NextOfKin_BlkHouse_Number" name="NextOfKin_BlkHouse_Number">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_FlrUnit_Number">
                                <span class="input-group-text">
                                    Unit Number
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Unit Number"
                               aria-label="house" aria-describedby="house" id="NextOfKin_FlrUnit_Number" name="NextOfKin_FlrUnit_Number">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Street_Name">
                                <span class="input-group-text">
                                    Street Name
                                </span>
                            </label>
                          
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Street Name"
                               aria-label="house" aria-describedby="house" id="NextOfKin_Street_Name" name="NextOfKin_Street_Name">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_PostalCode">
                                <span class="input-group-text">
                                    Postal Code
                                </span>
                            </label>
                          
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Postal Code"
                               aria-label="house" aria-describedby="house" id="NextOfKin_PostalCode" name="NextOfKin_PostalCode">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="NextOfKin_Country">
                                <span class="input-group-text">
                                    Country
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Country"
                               aria-label="house" aria-describedby="house" id="NextOfKin_Country" name="NextOfKin_Country">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane fade show " id="employment" role="tabpanel"
                 aria-labelledby="particulars-tab">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Name">
                                <span class="input-group-text">
                                    Employer Name
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Name"
                               aria-label="house" aria-describedby="house" id="Employment_Name" name="Employment_Name">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Contact_Number">
                                <span class="input-group-text">
                                    Employer Contact
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Employer Contact"
                               aria-label="house" aria-describedby="house" id="Employment_Contact_Number" name="Employment_Contact_Number">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Company_Name">
                                <span class="input-group-text">
                                    Company Name
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Company Name"
                               aria-label="house" aria-describedby="house" id="Employment_Company_Name" name="Employment_Company_Name">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Job_Title">
                                <span class="input-group-text">
                                    Job Title
                                </span>
                            </label>
                           
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Job Tittle"
                               aria-label="house" aria-describedby="house" id="Employment_Job_Title" name="Employment_Job_Title">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Start_Date">
                                <span class="input-group-text">
                                    Start Date
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Start Date eg:YYYY-MM-DD"
                               aria-label="house" aria-describedby="house" id="Employment_Start_Date" name="Employment_Start_Date">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_End_Date">
                                <span class="input-group-text">
                                    End Date
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter End Date eg:YYYY-MM-DD"
                               aria-label="house" aria-describedby="house" id="Employment_End_Date" name="Employment_End_Date">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="Employment_Remarks">
                                <span class="input-group-text">
                                    Remarks
                                </span>
                            </label>
                            
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Enter Employment_Remarks"
                               aria-label="house" aria-describedby="house" id="Employment_Remarks" name="Employment_Remarks">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <button type="submit" style="display:none" id="btnSubmit"></button>
    </form>
</div>
<div class="profile-action">

    <div class="mt-4">
        <!--<p class="pull-left">
            <span class="text-danger">*</span> Supporting documents required
        </p>
        <div class="group-button-right">
            <button class="btn btn-primary-flat">
                Cancel
            </button>
            <button class="btn btn-primary">
                Confirm
            </button>

        </div>-->

        <div style="display:none;float:right;" id="divSupportDocument">
            <button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;right:170px;" id="btnScan">Scan documents</button>
        </div>
        <div style="display:none;float:right;" id="divConfirm">
            <p style="position:fixed;z-index:100;bottom:45px;right:10px;"><strong>Are you sure ?</strong></p>
            <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;right:60px; float:right;" id="btnCancel">Cancel</button>
            <input type="button" class="btn btn-success" style="position:fixed;bottom:10px;right:10px; float:right;" id="btnOK" value="OK">
        </div>
        <div class="noticeMessage">
            <div style="display:none;" id="divError"><span class="text-danger">Following input must not null!</span></div>
            <div id="noticeMess"><span class="text-danger">* Supporting documents required </span></div>
        </div>
        <div style="display:block;float:right;" id="divSave">
            <!--<button type="button" class="btn btn-dark" onclick="api.server.LoadPage('Supervisee.html');">Back</button>-->
            <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;right:90px; float:right;" onclick="api.server.LoadSupervisee()">Cancel</button>
            <button type="button" class="btn btn-success" style="position:fixed;bottom:10px;right:10px; float:right;" id="SaveBtn">Update</button>
        </div>
    </div>
</div>


<!--<div class="titles"><span>Update Profile</span></div><br />
<div class="formWrapper">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Particulars">Particulars</a></li>
        <li><a data-toggle="tab" href="#Addresses">Addresses</a></li>
        <li><a data-toggle="tab" href="#Next-Of-Kin-Details">Next-Of-Kin Details</a></li>
        <li><a data-toggle="tab" href="#Employment-Details">Employment Details</a></li>
    </ul>
    <form id="profileFrm">
        <div class="
    " profile>
            <input type="hidden" id="activeTab" value="Particulars" />
            <input type="hidden" name="UserId" id="UserId" />
            <input type="hidden" name="LastLoginTime" id="LastLoginTime" />
            <input type="hidden" name="EnrolledDate" id="EnrolledDate" />
            <input type="hidden" name="Role" id="Role" />
            <input type="hidden" name="SmartCardId" id="SmartCardId" />
            <input type="hidden" name="LeftFingerprint" id="LeftFingerprint" />
            <input type="hidden" name="RightFingerprint" id="RightFingerprint" />
            <input type="hidden" name="User_Photo1" id="User_Photo1" />
            <input type="hidden" name="User_Photo2" id="User_Photo2" />
            <input type="hidden" name="UserStatus" id="UserStatus" />
            <div id="Particulars" class="tab-pane fade in active" onclick="activeTab('Particulars');">
                <div class="input-group">
                    <span class="input-group-addon">Name<span style="color:red">*</span></span>
                    <input id="ParticularsName" type="text" class="form-control pri" name="ParticularsName" placeholder="Name">
                </div>
                <br />
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon">NRIC NO<span class="validation">*</span></span>
                        <input id="NRIC" type="text" class="form-control pri" name="NRIC">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Date of birth<span class="validation">*</span></span>
                        <input id="DOB" type="text" class="form-control pri" name="DOB">
                    </div>
                </div>
                <br />
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon">Nationality<span class="validation">*</span></span>
                        <input id="Nationality" type="text" class="form-control pri" name="Nationality">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Marital Status<span class="validation">*</span></span>
                        <input id="MaritalStatus" type="text" class="form-control pri" name="MaritalStatus">
                    </div>
                </div>
                <br />
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon">Primary Contact</span>
                        <input id="PrimaryContact" type="text" class="form-control" name="PrimaryContact">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Secondary Contact</span>
                        <input id="SecondaryContact" type="text" class="form-control" name="SecondaryContact">
                    </div>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Primary Email</span>
                    <input id="PrimaryEmail" type="text" class="form-control" name="PrimaryEmail">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Secondary Email</span>
                    <input id="SecondaryEmail" type="text" class="form-control" name="SecondaryEmail">
                </div>
                <br />

            </div>
            <div id="Addresses" class="tab-pane fade" onclick="activeTab('Addresses');">

                <input type="hidden" name="Residential_Addess_ID" id="Residential_Addess_ID" />
                <input type="hidden" name="Other_Address_ID" id="Other_Address_ID" />
                <input type="hidden" name="Postal_Code" id="Postal_Code" />
                <div class="input-group">
                    <span class="input-group-addon">House Number</span>
                    <input id="AddressHouseNumber" type="text" class="form-control" name="AddressesHouseNumber" disabled="disabled" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Unit Number</span>
                    <input id="AddressUnitNumber" type="text" class="form-control" name="UnitNumber" disabled="disabled" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Street Name</span>
                    <input id="AddressStreetName" type="text" class="form-control" name="StreetName" disabled="disabled" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Country</span>
                    <input id="AddressCountry" type="text" class="form-control" name="Country" disabled="disabled" />
                </div>
            </div>

            <div id="Next-Of-Kin-Details" class="tab-pane fade" onclick="activeTab('Next-Of-Kin-Details');">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input id="NextOfKinDetailsName" type="text" class="form-control" name="NextOfKinDetailsName" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Contact Number</span>
                    <input id="NextOfKin_Contact_Number" type="text" class="form-control" name="ContactNumber" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Relationship</span>
                    <input id="NextOfKin_Relationship" type="text" class="form-control" name="Relationship" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">House Number</span>
                    <input id="NextOfKin_BlkHouse_Number" type="text" class="form-control" name="NextOfKin_BlkHouse_Number" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Unit Number</span>
                    <input id="NextOfKin_FlrUnit_Number" type="text" class="form-control" name="NextOfKin_FlrUnit_Number" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Street Name</span>
                    <input id="NextOfKin_Street_Name" type="text" class="form-control" name="NextOfKin_Street_Name" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Postal Code</span>
                    <input id="NextOfKin_PostalCode" type="text" class="form-control" name="NextOfKin_PostalCode" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Country</span>
                    <input id="NextOfKin_Country" type="text" class="form-control" name="NextOfKin_Country" />
                </div>
                <br />
            </div>
            <div id="Employment-Details" class="tab-pane fade" onclick="activeTab('Employment-Details');">
                <div class="input-group">
                    <span class="input-group-addon">Employer Name</span>
                    <input id="Employment_Name" type="text" class="form-control" name="Employment_Name" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Employer Contact</span>
                    <input id="Employment_Contact_Number" type="text" class="form-control" name="Employment_Contact_Number" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Company Name</span>
                    <input id="Employment_Company_Name" type="text" class="form-control" name="Employment_Company_Name" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Job Title</span>
                    <input id="Employment_Job_Title" type="text" class="form-control" name="Employment_Job_Title" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Start Date</span>
                    <input id="Employment_Start_Date" type="text" class="form-control" name="Employment_Start_Date" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">End Date </span>
                    <input id="Employment_End_Date" type="text" class="form-control" name="Employment_End_Date" />
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Employment_Remarks</span>
                    <input id="Employment_Remarks" type="text" class="form-control" name="Employment_Remarks" />
                </div>
            </div>

        </div>

        <div style="display:none;float:right;" id="divSupportDocument">
            <button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;right:150px;" id="btnScan">Scan documents</button>
            <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;left:10px;float:left;" onclick="api.server.LoadPage('Supervisee.html');">Back</button>
        </div>

        <div style="display:none">
            <input type="text" name="SerialNumber" id="SerialNumber" />
            <input type="text" name="DateOfIssue" id="DateOfIssue" />
            <input type="text" name="Gender" id="Gender" />
            <input type="text" name="Race" id="Race" />
        </div>
        <div style="display:none;float:right;" id="divConfirm">
            <p style="position:fixed;z-index:100;bottom:45px;right:10px;"><strong>Are you sure ?</strong></p>
            <button type="button" class="btn btn-dark" style="position:fixed;bottom:10px;right:60px; float:right;" id="btnCancel">Cancel</button>
            <input type="submit" class="btn btn-success" style="position:fixed;bottom:10px;right:10px; float:right;" id="btnOK" value="OK">
        </div>
        <div class="noticeMessage">
            <div style="display:none;" id="divError"><span class="text-danger">Following input must not null!</span></div>
            <div id="noticeMess"><span class="text-danger">* Supporting documents required </span></div>
        </div>
        <div style="display:block;float:right;" id="divSave">
            <button type="button" class="btn btn-dark" onclick="api.server.LoadSupervisee()">Cancel</button>
            <button type="button" class="btn btn-success" id="SaveBtn">Update</button>
        </div>
    </form>
</div>-->

<script type="text/javascript">

    var jsonFormData = null;
    var _particularName, _nric, _dob, _nationality, _maritalStatus = "";
    api.ready(function (model) {
        _particularName = model.User.Name;
        _nric = model.User.NRIC;



        $('#UserId').val(model.User.UserId);
        $('#LeftFingerprint').val(model.User.LeftThumbFingerprint);
        $('#RightFingerprint').val(model.User.RightThumbFingerprint);
        $('#User_Photo1').val(model.User.User_Photo1);
        $('#User_Photo2').val(model.User.User_Photo2);
        $('#UserStatus').val(model.User.Status);
        //user inforation
        $('#ParticularsName').val(model.User.Name);
        $('#NRIC').val(model.User.NRIC);
        $('#LastLoginTime').val(model.User.LastLoginTime);
        $('#EnrolledDate').val(model.User.EnrolledDate);
        $('#Role').val(model.User.Role);
        $('#SmartCardId').val(model.User.SmartCardId);
        // profile
        if (model.UserProfile != null) {

            _dob = model.UserProfile.DOB;
            _nationality = model.UserProfile.Nationality;
            _maritalStatus = model.UserProfile.Maritial_Status;
            $('#DOB').val(model.UserProfile.DOBAsString);
            $('#Nationality').val(model.UserProfile.Nationality);
            $('#SerialNumber').val(model.UserProfile.SerialNumber);
            $('#DateOfIssue').val(model.UserProfile.DateOfIssue);
            $('#Gender').val(model.UserProfile.Gender);
            $('#Race').val(model.UserProfile.Race);
            $('#MaritalStatus').val(model.UserProfile.Maritial_Status);
            $('#PrimaryContact').val(model.UserProfile.Primary_Phone);
            $('#SecondaryContact').val(model.UserProfile.Secondary_Phone);
            $('#PrimaryEmail').val(model.UserProfile.Primary_Email);
            $('#SecondaryEmail').val(model.UserProfile.Secondary_Email);

            //next of kin information
            $('#NextOfKin_Name').val(model.UserProfile.NextOfKin_Name);
            $('#NextOfKin_Contact_Number').val(model.UserProfile.NextOfKin_Contact_Number);
            $('#NextOfKin_Relationship').val(model.UserProfile.NextOfKin_Relationship);
            $('#NextOfKin_BlkHouse_Number').val(model.UserProfile.NextOfKin_BlkHouse_Number);
            $('#NextOfKin_FlrUnit_Number').val(model.UserProfile.NextOfKin_FlrUnit_Number);
            $('#NextOfKin_Street_Name').val(model.UserProfile.NextOfKin_Street_Name);
            $('#NextOfKin_Country').val(model.UserProfile.NextOfKin_Country);
            $('#NextOfKin_PostalCode').val(model.UserProfile.NextOfKin_PostalCode);

            //employee details information
            $('#Employment_Name').val(model.UserProfile.Employment_Name);
            $('#Employment_Contact_Number').val(model.UserProfile.Employment_Contact_Number);
            $('#Employment_Company_Name').val(model.UserProfile.Employment_Company_Name);
            $('#Employment_Job_Title').val(model.UserProfile.Employment_Job_Title);
            $('#Employment_Start_Date').val(model.UserProfile.Employment_Start_Date_Text);
            $('#Employment_End_Date').val(model.UserProfile.Employment_End_Date_Text);
            $('#Employment_Remarks').val(model.UserProfile.Employment_Employment_Remarks);
        }

        if (model.Addresses != null) {
            //address information
            $('#Residential_Addess_ID').val(model.Addresses.Address_ID);
            $('#Other_Address_ID').val(model.OtherAddress.Address_ID);
            $('#AddressHouseNumber').val(model.Addresses.BlkHouse_Number);
            $('#AddressUnitNumber').val(model.Addresses.FlrUnit_Number);
            $('#AddressStreetName').val(model.Addresses.Street_Name);
            $('#AddressCountry').val(model.Addresses.Country);
            $('#Postal_Code').val(model.Addresses.Postal_Code);
        }


    });

    function activeTab(name) {
        $('#activeTab').val(name);
        $('#divError').hide();
        if (name != "Particulars") {
            $('#noticeMess').hide();
        }

    }

    $('#btnScan').click(function () {
        $("#profileFrm").trigger('submit');
        if (jsonFormData.length > 0) {
            api.server.LoadScanDocument(jsonFormData);
            jsonFormData = null;
        }

    });

    $('#btnOK').click(function () {
        // $('#btnSubmit').trigger('click');
        $("#profileFrm").trigger('submit');
        if (jsonFormData.length > 0) {
            api.server.SaveProfile(jsonFormData, true);
            jsonFormData = null;
        }
    });

    $("#profileFrm").submit(function (e) {
        var $form = $("#profileFrm");
        var data = getFormData($form);
        if (data.DOB.length > 0) {

            var dobtxt = data.DOB.split('/');
            data.DOB = dobtxt[2] + '-' + dobtxt[1] + '-' + dobtxt[0];
        }

        jsonFormData = JSON.stringify(data);

        //api.server.SaveProfile(json, false);

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });



    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    $('#SaveBtn').click(function () {


        if ($('#ParticularsName').val() != _particularName || $('#NRIC').val() != _nric || $('#DOB').val() != _dob || $('#Nationality').val() != _nationality || $('#MaritalStatus').val() != _maritalStatus) {
            //$('#divSave').hide();
            //$('#divError').show();
            $('#divSupportDocument').fadeIn(1000);
            $("input[class='form-control pri']").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass("highlight");
                }
                else {
                    $(this).removeClass("highlight");
                }
            });

            if (empty > 0) {
                $('#divError').show();
            } else {

                $('#divError').hide();
                $('#divConfirm').show();
                $('#divSave').hide();
            }
        }
        else {
            $('#divSupportDocument').hide();
            var activeTab = $('#activeTab').val();
            var empty = $('#' + activeTab).find("input[class='form-control pri']").filter(function () {
                return this.value.trim() === "";
            });
            if (empty.length > 0) {
                //At least one input is empty
                $("input[class='form-control pri']").each(function () {
                    if ($(this).val() == "") {
                        $(this).addClass("highlight");
                    }
                    else {
                        $(this).removeClass("highlight");

                    }
                });
                $('#divError').show();
            }
            else {
                $('#divError').hide();
                $('#divConfirm').show();
                $('#divSave').hide();
            }
        }
    });

    $('#btnCancel').click(function () {
        $('#divSave').show();
        $('#divConfirm').hide();
    });


    $('input[class="form-control"]').keyup(function () {
        $('#btnCancel').trigger('click');
        //if ($(this).val() != "") {
        //    $(this).removeClass('highlight');

        //}
        //else {
        //    $(this).addClass('highlight');

        //}
    });



    $('input[class="form-control pri"]').keyup(function () {
        $('#divSave').show();
        if ($('#ParticularsName').val() != _particularName || $('#NRIC').val() != _nric || $('#DOB').val() != _dob || $('#Nationality').val() != _nationality || $('#MaritalStatus').val() != _maritalStatus) {
            $('#divSupportDocument').fadeIn(1000);
        }
        else {
            $('#divSupportDocument').fadeOut(500);
        }

        if ($(this).val() != "") {
            $(this).removeClass('highlight');

        }
        else {
            $(this).addClass('highlight');

        }
    });

    var listTab = ["Particulars", "Addresses", "Next-Of-Kin-Details", "Employment-Details"];
    //function disableOtherTab(thisTab) {

    //    for (var i = 0; i < listTab.length; i++) {
    //        if (thisTab == listTab[i]) {
    //            continue;
    //        }
    //        else {

    //                $('#' + listTab[i]).unbind('mouseenter mouseleave');
    //        }
    //    }
    //}
    //function enableAllTab() {
    //    for (var i = 0; i < listTab.length; i++) {

    //        $('#' + listTab[i]).bind('mouseenter mouseleave');

    //    }
    //}
</script>