<div show-queue class="box">
</div>
<div show-queue-list>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.each(api.model, function (index,item) {
            if (index == 0) {
                $('[show-queue]').text(item.QueueNumber);
            }
            else {
                $('[show-queue-list]').append('<span>' + item.QueueNumber + ' - ' + index + '</span>');
            }
        })
    });
</script>

<style type="text/css">
    [show-queue] {
        position: fixed;
        width: calc(100% - 20px);
        height: calc(100% - 180px);
        left: 10px;
        top: 80px;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #CCC;
        box-sizing: border-box;
    }
    [show-queue-list] {
        position: fixed;
        width: calc(100% - 20px);
        height:70px;
        bottom: 10px;
        text-align:left;
        overflow:hidden;
    }
        [show-queue-list] span {
            display: inline-block;
            min-width: 100px;
            height: 70px;
            margin-right: 10px;
            border: 1px solid #CCC;
            box-sizing: border-box;
            padding: 0px 10px;
            text-align:justify;
            line-height:65px;
        }
</style>