<div class="tab-content" wap-area>
    <div>
        <div class="">
            <strong class="header" style="width:100px">
                Absence Reporting
            </strong>
        </div>
    </div>
    <br />
    <div class="form-border">
        <div class="form-border" style="display:table-cell">
            You have been absent for <span id="countdate"></span> reporting date.<br />
            Select date:
        </div>
        <div id="choosedate">
        </div>
        <div class="form-border" style="display:table-cell;padding: 5px !important;">
            Reason for absence:
        </div>
        <div id="reason-area" style="margin:10px 0px;">


            <div class="btn btn-default reason">Medical CertificateInput</div>
            <div class="btn btn-default reason">Medical CertificateInput</div>
            <div class="btn btn-default reason">Medical CertificateInput</div>
            <div class="btn btn-default reason">Medical CertificateInput</div>
            <div class="btn btn-default reason">Medical CertificateInput</div>
            <!--don't change it-->
            <div class="btn btn-default reason">No Supporting Document</div>

        </div>
    </div>
</div>
<style type="text/css">
    [wap-area] {
        padding: 40px;
        font-weight: bold;
    }

    .header {
        border: 1px solid black;
        padding: 10px;
        margin-top: 10px;
        font-size: 26px;
    }

    .form-border {
        border: 1px solid black;
        padding: 10px;
    }

    .reason {
        width: 245px;
        border: 1px solid black;
        display: inline-block;
        padding: 5px;
        margin-left: 5px;
        border-radius: 7px;
        margin: 5px 5px !important;
    }
</style>
<button type="button" class="btn btn-danger" style="position:fixed;bottom:10px;left:10px;" onclick="window.external.LoadPage('Supervisee.html');">Back</button>
<button type="button" id="saveReason" class="btn btn-danger" style="position:fixed;bottom:10px;right:10px;">Save</button>

<script type="text/javascript">
    $(document).ready(function () {
        $("#countdate").text(api.model.length);
        $.each(api.model, function (index, item) {
            $('#choosedate').append(' <input type="checkbox" id="dateChoice' + (index + 1) + '" value= "dateChoice' + (index + 1) + '" > <label for="dateChoice' + (index + 1)  + '">' + item.GetDateTxt + '</label>');
        });
    });
    $('.reason').click(function () {
        $(this).removeClass("btn-default").addClass("btn-primary");
    });
    

    $("#saveReason").click(function () {
        api.server.SaveReasonForQueue(JSON.stringify(api.model), "reasontest");
    });
</script>