<div class="row" sup>
    <div class="col-sm-3" id="NRIC-login">
        <div class="thumbnail">
            <a href="javascript:;"  onclick="api.server.ReportingForQueueNumber();">
                <img src="../img/Reporting-Icon-300x300.png">
                <div class="caption">
                    <p title-queue>Reporting for Queue Number</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <a href="javascript:;" onclick="api.server.LoadProfile();">
                <img src="../img/refresh-512.png">
                <div class="caption">
                    <p>Update Profile</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <a href="javascript:;" onclick="api.server.BookAppointment();">
                <img src="../img/Calendar-Clock-Icon.jpeg">
                <div class="caption">
                    <p>Book Appointment</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <a href="javascript:;" onclick="api.server.LoadNotications();">
                <img src="../img/Notification-512.png">
                <div class="caption">
                    <p>Notication</p>
                    <span class="badge" notinumber></span>
                </div>
            </a>
        </div>
    </div>
</div>

<style type="text/css">
    [sup] .caption {
        text-align: center;
    }
    [sup] img {
        width: 100px;
        height: auto;
    }
    [sup]{
        text-align:center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('[notinumber]').text(api.countNoti == 0 ? '' : api.countNoti);

        api.server.GetCountMyAbsence(function (count) {
            if (count == 0) {
                $('p[title-queue]').text('Get Queue Number');
            } else {
                $('p[title-queue]').text('Reporting for Queue Number');
            }
        });
    });

    function alertBookAppointment(message) {
        alert(message);

    }
</script>