<div style="font-size:28px;font-weight:bold;margin-top:30px;text-align:center;">Please select what you wish to do</div>
<div style="position: absolute; height: calc(100% - 130px); width: 100%; margin-top: 30px;text-align:center;">
    <div style="position: absolute; width: 100%; height: calc(50% - 5px); top: 0px;" item-first="false">
        <span item="Queue Number" style="background-image:url('../img/queuenumber.png');" onclick="api.server.ReportingForQueueNumber();" title-queue></span>
        <span item="Book Appointment" style="background-image:url('../img/bookappointment.png');" onclick="api.server.BookAppointment();"></span>
    </div>
    <div style="position: absolute; width: 100%; height: calc(50% - 5px); bottom: 0px;" item-last="false">
        <span item="Update Profile" style="background-image:url('../img/updateprofile.png');" onclick="api.server.LoadProfile();"></span>
        <span item="Notifications" style="background-image:url('../img/Notification.png');" onclick="api.server.LoadNotications();"></span>
    </div>
</div>
<script type="text/javascript">
    //show menu logout or back main
    $('#header[right-show]').attr('right-show', 'logout');
    $('#content').css('font-size', 'unset');
</script>
<script type="text/javascript">
    api.ready(function () {
        //$('[notinumber]').text(api.countNoti == 0 ? '' : api.countNoti);

        api.server.GetMyAbsencesCount(function (count) {
            if (count == 0) {
                $('[title-queue]').attr('item', 'Queue Number');
            } else {
                $('[title-queue]').attr('item', 'Reporting for Queue Number');
            }
        });
    });
    function IsDutyOfficer(status) {
        $('[item-first]').attr('item-first', status);
        $('[item-last]').attr('item-last', status);
    }
    function alertBookAppointment(message) {
        alert(message);

    }
</script>
<style type="text/css">
    [item-first="true"] {
        top: calc(50% - ((70% - 5px) / 2)) !important;
    }

        [item-first="true"] [item="Book Appointment"] {
            display: none;
        }

    [item-last="true"] {
        display: none;
    }

    [item] {
        width: calc(50% - 8px);
        height: 100%;
        max-width: 420px;
        display: inline-block;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        margin: 3px;
        background-color: #FFF;
        position: relative;
        background-repeat: no-repeat;
        background-position: center calc(50% - 20px);
    }

        [item]::before {
            content: attr(item);
            font-weight: bold;
            font-size: 32px;
            color: #1cacf6;
            text-align: center;
            bottom: 10px;
            position: absolute;
            left: 0px;
            width: 100%;
        }
</style>