<div class="modal" role="dialog" id="PopupMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="title"></div>
                <div class="contentMesg">
                </div>
                <div>
                    <button type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    api.ready(function (response) {
        response = JSON.parse(response);
        if (response.title == 0) {
            $('#PopupMessage .title').css('display', 'none');
        } else {
            $('#PopupMessage .title').html(response.title);
        }
        $('#PopupMessage .contentMesg').html(response.message);
        $('#PopupMessage button').click(function () {
            if (response.id.length > 0) {
                api.server.ExitWaitPopupMessage(response.id,true, function () {
                    $('#PopupMessage').modal('toggle');
                });
            } else {
                $('#PopupMessage').modal('toggle');
            }
        });
    });
</script>
<style type="text/css">
    /*Modal Layout*/
    #PopupMessage {
        z-index: 99999;
    }
    .modal-content {
        border-radius: 0px !important;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        min-width: 350px;
    }

    .modal-content {
        padding: 20px;
    }

    .modal-body .title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .modal-body .contentMesg {
        text-align: center;
        padding: 10px 0 20px 0;
    }

    .modal-body button {
        width: 100%;
        background-color: #1CACF6;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid #1CACF6;
    }
</style>
