<div>
    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:;">
                <i class="fa fa-info-circle"></i>Supervisee Details
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" onclick="api.server.LoadPage('ReprintSmartCard.html');">
                <i class="fa fa-address-card"></i>Issued card
            </a>
        </li>
    </ul>
</div>
<div class="title-border-red border-bottom">
    <h5>Update photos</h5>
</div>
<div style="position:absolute;left: 0px;width: 100%;height: calc(100% - 185px);margin-top: 0px;overflow-x:hidden;overflow-y:auto;padding: 20px;">
    <div class="tab-content">
        <div class="tab-pane active" id="superviseeDetails" role="tabpanel">
            <div class="container">
                <form class="form-material">
                    <div class="w-75 mx-auto">
                        <div class="row" style="text-align:center;">
                            <div class="col-6">
                                <img id="userPhoto1" src="../images/avatar-demo.jpg" class="img-fluid" style="height:300px;width:auto;">
                            </div>
                            <div class="col-6">
                                <img id="userPhoto2" src="../images/avatar-demo.jpg" class="img-fluid" style="height:300px;width:auto;">
                            </div>
                            <div class="col-6" style="margin-top:5px;">
                                <a href="#" style="color:#1CACF6;" id="updatePhoto1" onclick="OpenCaptureForm(1);">Take Picture 1</a>
                            </div>
                            <div class="col-6" style="margin-top:5px;">
                                <a href="#" style="color:#1CACF6;" id="updatePhoto2" onclick="OpenCaptureForm(2);">Take Picture 2</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="position:absolute;width: 100%;height: 50px;bottom: 10px;border-top: 1px solid #CCC;">
    <div style="width: calc(100% - 80px);margin-left: 40px;text-align: center;margin-top: 11px;">
        <a href="#" class="btn btn-light" style="margin-right:20px;min-width:150px;" onclick="api.server.CancelUpdatePicture();">Cancel</a>
        <a href="#" class="btn btn-primary" style="min-width:150px;" onclick="api.server.EditSupervisee(UserIDUpdatePhoto);">Update</a>
    </div>
</div>
<script>
    var UserIDUpdatePhoto = null;
    function OpenCaptureForm(id) {
        api.server.OpenPictureCaptureForm(id.toString(), 'edit');
    }
    api.ready(function (model) {
        UserIDUpdatePhoto = model.User.UserId;

    });
</script>