<!--Api http://bootstrap-table.wenzhixin.net.cn/documentation/ -->

<style>
    .tableContent {
        text-align: center;
    }
    .error{
        color: red;
    }
    .notification{
        color: blue;
    }
    .caution{
        color: yellow;
    }
    .row_unread {
        font-size: 15px;
        font-weight: bold;
    }
    .row_readed {
        font-size: 14px;
        font-weight: normal;
    }
    .row_even {
        background-color: white;
    }
    .row_odd {
        background-color: #F5F5F5;
    }
    /*.table-hover tbody tr:hover > td {
        cursor: pointer;
    }*/
    .table-hover tbody tr:hover td {
        background-color: inherit;
    }
</style>

<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Alerts and Notifications</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries">entries per page</div>
        </div>
        <table id="alertNotificationTable" class="tableContent"></table>

    </div>
</div>

<script type="text/javascript">
    activemenu('Alerts');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var $table = $('#alertNotificationTable');

    var dataSource = [];

    function getNotificationInCurrentTab(notification){
        var objNotify = JSON.parse(notification);
        dataSource.unshift({
                    source: objNotify.Source,
                    type: objNotify.Type,
                    dateTime: objNotify.Date,
                    message: objNotify.Subject,
                    content: objNotify.ContentTextarea,
                    notificationId: objNotify.NotificationID,
                });
        $table.bootstrapTable('load', dataSource);
        getRealtimeNotificationServer();
    }
    

    api.server.getAlertsSendToDutyOfficer(function (data) {
        getRealtimeNotificationServer();
        var Type = {
            error: "Error",
            notification: "Notification",
            caution: "Caution"
        };

        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    source: element.Source,
                    type: element.Type,
                    dateTime: element.Date,
                    message: element.Subject,
                    isReaded : element.IsRead,
                    notificationId: element.NotificationID,
                    content: element.ContentTextarea
                });
            });
        }

        var rowStyle = function (row, index) {
            var type = row.type;
            if (index % 2 == 0) {
                return {
                    classes: row.isReaded ? "row_even row_readed" : "row_even row_unread"
                };
            } else {
                return {
                    classes: row.isReaded ? "row_odd row_readed" : "row_odd row_unread"
                };
            };
            return {};
        }

        $('#pageSize').change(function () {
            pageSize = $("#pageSize option:selected").text();
            $table.bootstrapTable('refreshOptions', {
                pagination: true,
                pageSize: pageSize,
                search: true,
            });
        });

        $table.bootstrapTable({
            pagination: true,
            search: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            columns: [{
                field: 'source',
                title: 'Source',
                sortable: true,
                searchable: true,
                halign: "center"
            }, {
                field: 'type',
                title: 'Type',
                sortable: true,
                halign: "center",
                formatter: function (value, row, index, field) {
                    switch (value.toLowerCase()) {
                        case Type.error.toLowerCase():
                            return '<span style="color:red;display:inline-block;">' + value.charAt(0).toUpperCase() + value.slice(1) + '</span>';
                        case Type.notification.toLowerCase():
                            return '<span style="color:black;display:inline-block;">' + value.charAt(0).toUpperCase() + value.slice(1) + '</span>';
                        case Type.caution.toLowerCase():
                            return '<span style="color:#FFCC00;display:inline-block;">' + value.charAt(0).toUpperCase() + value.slice(1) + '</span>';
                        default:
                            return "";
                    }
                }
            }, {
                field: 'dateTime',
                title: 'Date/Time',
                sortable: true,
                searchable: true,
                halign: "center",
                formatter: function (value, row, index, field) {
                    if (value) {
                        return formatDate(value);
                    }
                    return "";
                }
            }, {
                field: 'message',
                sortable: true,
                title: 'Message',
                halign: "center",
                formatter: function (value, row, index, field) {
                    return '<div style="text-decoration:underline; color:dodgerblue;cursor: pointer;">' + value + '</div>';
                }
            }],
            onClickCell: function (field, value, row, $element) {
                if (field == "message") {
                    $element.removeClass("row_unread");
                    $element.addClass("row_readed");
                    var index = $element.closest('tr').data('index');
                    api.server.LoadPopupAlert(JSON.stringify(row), function () {
                        var notificationId = row.notificationId;
                        if (notificationId) {
                            if (!row.isReaded) {
                                api.server.updateReadedStatus(notificationId, function (isUpdateSuccessed) {
                                    $('#alertPopup').modal();
                                    $table.bootstrapTable('updateRow', {
                                        index: index,
                                        row: {
                                            isReaded: true
                                        }
                                    });
                                });
                            } else {
                                $('#alertPopup').modal();
                            }
                        }
                    });
                }
            },
            data: dataSource,
            rowStyle: rowStyle
        });

        function onRowDblClick(rowData, $element, field) {
            var data = JSON.stringify(rowData);
            if ($element && !data.isReaded) {
                $element.removeClass("row_unread");
                $element.addClass("row_readed");
                var index = $element.closest('tr').data('index');
                $table.bootstrapTable('updateRow', {
                    index: index,
                    row: {
                        isReaded : true
                    }
                });
                api.server.LoadPopupAlert(data, function () {
                    var notificationId = rowData.notificationId;
                    if (notificationId){
                         api.server.updateReadedStatus(notificationId, function(isUpdateSuccessed){
                             // if(isUpdateSuccessed){
                                 $('#alertPopup').modal();
                             // }
                         });
                    }
                });
            }
            
        }

        function formatDate(strDate) {
            var date = new Date(Date.parse(strDate)),
                year = date.getFullYear(),
                month = (date.getMonth() + 1).toString(),
                formatedMonth = (month.length === 1) ? ("0" + month) : month,
                day = date.getDate().toString(),
                formatedDay = (day.length === 1) ? ("0" + day) : day,
                hour = date.getHours().toString(),
                formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
                minute = date.getMinutes().toString(),
                formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
                second = date.getSeconds().toString(),
                formatedSecond = (second.length === 1) ? ("0" + second) : second;
            return formatedDay + "/" + formatedMonth + "/" + year + " " + formatedHour + ':' + formatedMinute;
        }
    });

    
</script>