<!--Api http://bootstrap-table.wenzhixin.net.cn/documentation/ -->

<style>
    .tableContent {
        text-align: center
    }
    .error{
        background-color: red
    }
    .notification{
        background-color: #66ff33
    }
    .caution{
        background-color: yellow
    }
    .table-hover tbody tr:hover > td {
        cursor: pointer;
    }
    .table-hover tbody tr:hover td {
        background-color: inherit;
    }
</style>

<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>Alerts</b></span>
    <div class="form-inline" style="position: absolute; right: 200px; top: 30px">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">entries</div>
    </div>
</div>

<table id="alertNotificationTable" class="tableContent"></table>

<script type="text/javascript">

    var $table = $('#alertNotificationTable');

    api.server.getAlertsSendToDutyOfficer();

    function getDataCallback(response) {
        var data = JSON.parse(response);
        var dataSource = [];
        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    source: element.Source,
                    type: element.Type,
                    dateTime: element.Date,
                    message: element.Content
                });
            });
        }
        var Type = {
            error : "Error",
            notification : "Notification",
            caution : "Caution"
        };

        var rowStyle = function (row, index) {
            var type = row.type;
            switch (type) {
                case Type.error:
                    return {
                        classes: "error"
                    };
                case Type.notification:
                    return {
                        classes: "notification"
                    };
                case Type.caution:
                    return {
                        classes: "caution"
                    };
            }
            return {};
        }

        $('#pageSize').change(function () {
            pageSize = $("#pageSize option:selected").text();
            $table.bootstrapTable('refreshOptions', {
                pagination: true,
                //search: true,
                pageSize: pageSize
            });
        });

        $table.bootstrapTable({
            pagination: true,
            search: true,
            pageSize: 10,
            columns: [{
                field: 'source',
                title: 'Source',
                sortable: true,
                halign: "center"
            }, {
                field: 'type',
                title: 'Type',
                sortable: true,
                halign: "center",
                sortable : true,
                formatter : function (value, row, index, field) {
                    switch (value) {
                        case Type.error:
                            return Type.error;
                        case Type.notification:
                            return Type.notification;
                        case Type.caution:
                            return Type.caution;
                        default :
                            return "";
                    }
                }
            }, {
                field: 'dateTime',
                title: 'Date/Time',
                sortable: true,
                halign: "center",
                formatter : function(value, row, index, field){
                    if(value){
                        return formatDate(value);
                    }
                    return "";
                }
            }, {
                field: 'message',
                sortable : true,
                title: 'Message',
                sortable: false,
                halign: "center"
            }],
            data: dataSource,
            rowStyle: rowStyle,
            onDblClickRow: onRowDblClick
        });

        function onRowDblClick(row, index) {
            var data = JSON.stringify(row);
            api.server.LoadPopupAlert(data, function () {
                $('#alertPopup').modal();
            });
        }

        function formatDate(strDate) {
            var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day,
            hour = date.getHours().toString(),
            formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
            minute = date.getMinutes().toString(),
            formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
            second = date.getSeconds().toString(),
            formatedSecond = (second.length === 1) ? ("0" + second) : second;
            return formatedMonth + "/" + formatedDay + "/" + year + " " + formatedHour + ':' + formatedMinute;
        }
    };
    activemenu('Alerts');

</script>