<!--Api http://bootstrap-table.wenzhixin.net.cn/documentation/ -->

<style>
    .tableContent {
        text-align: center
    }
    .error{
        background-color: red
    }
    .notification{
        background-color: #66ff33
    }
    .caution{
        background-color: yellow
    }
    .table-hover tbody tr:hover > td {
        cursor: pointer;
    }
    .table-hover tbody tr:hover td {
        background-color: inherit;
    }
</style>

<table id="alertNotificationTable" class="tableContent"></table>

<script type="text/javascript">

    var dataSource;

    $(document).ready(function() {
        dataSource = api.model;
        if (dataSource == null) {
            dataSource = [
                {
                    source : "ESP",
                    type: "ERROR",
                    dateTime: "11/01/2018 14:31",
                    message : "Leakage detected on UB1"
                },
                {
                    source: "UHP",
                    type: "Notification",
                    dateTime: "11/01/2018 14:31",
                    message: "Rack A is ready for collection"
                },
                {
                    source: "ESP",
                    type: "Caution",
                    dateTime: "11/01/2018 14:31",
                    message: "Out of plastic wrapper"
                },
                {
                    source: "Result",
                    type: "Caution",
                    dateTime: "11/01/2018 14:31",
                    message: "Supervisee tested postive"
                }
            ];
        }

        var Type = {
            error : "ERROR",
            notification : "Notification",
            caution : "Caution"
        };

        var rowStyle = function (row, index) {
            var type = row.type;
            switch (type) {
            case Type.error:
                return {
                    classes : "error"
                };
            case Type.notification:
                return {
                    classes : "notification"
                };
            case Type.caution:
                return {
                    classes : "caution"
                };
            }
            return {};
        }

        $('#alertNotificationTable').bootstrapTable({
            pagination: true,
            search: true,
            pageSize: 10,
            columns: [{
                field: 'source',
                title: 'Source',
                sortable: true,
                halign : "center"
            }, {
                field: 'type',
                title: 'Type',
                sortable: true,
                halign: "center"
            }, {
                field: 'dateTime',
                title: 'Date/Time',
                sortable: true,
                halign: "center"
            }, {
                field: 'message',
                title: 'Message',
                sortable: false,
                halign: "center"
            }],
            data: dataSource,
            rowStyle: rowStyle
        });
    });
    activemenu('Alerts');

</script>