<div class="modal fade" role="dialog" id="alertPopup" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <label type="text" placeholder="Message Soure">Message Source</label>
                        <span id="valMessageSource" ></span>
                    </div>
                    <div class="input-group">
                        <label type="text" placeholder="Date / Time">Date / Time</label>
                        <span id="valDateTime"></span>
                    </div>
                    <div class="input-group">
                        <label type="text" placeholder="Status">Status</label>
                        <span id="valType"></span>
                    </div>
                    <div>
                        <label class="textarea" type="text" placeholder="Details:">Details:</label>
                        <textarea class="col-12" name="" cols="30" rows="10" id="valContent" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Type = {
        error : "Error",
        notification : "Notification",
        caution : "Caution"
    };
    
    api.ready(function (model) {
        var data = JSON.parse(model);
        if(data){
            $("#valMessageSource").text(data.source);
            $("#valDateTime").text(formatDate(data.dateTime));
            $("#valContent").val(data.content);
            switch(data.type){
                case Type.error :
                    $("#valType").text(Type.error);
                    $("#valType").css("color", "red" );
                    break;
                case Type.notification:
                    $("#valType").text(Type.notification);
                    $("#valType").css("color", "blue");
                    break;
                case Type.caution:
                    $("#valType").text(Type.caution);
                    $("#valType").css("color", "yellow" );
                    break;
            }
        }
        function formatDate(strDate) {
            var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day,
            hour = date.getHours().toString(),
            formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
            minute = date.getMinutes().toString(),
            formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
            second = date.getSeconds().toString(),
            formatedSecond = (second.length === 1) ? ("0" + second) : second;
            return formatedMonth + "/" + formatedDay + "/" + year + " " + formatedHour + ':' + formatedMinute;
        }
    });

</script>
