<!--<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>Appointments</b></span>
    <br/>
    <div class="form-inline" style="right:10px; float:right; padding-bottom:10px;">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">Entries</div>
        <select class="form-control" id="period" style="width:170px; display:inline-block; margin-left:20px;">
            <option>All Day</option>
            <option>Morning</option>
            <option>Afternoon</option>
            <option>Evening</option>
        </select>
        <div style="display:inline-block;">Period</div>
        <select class="form-control" id="timeslot" style="width:220px; display:inline-block; margin-left:20px;">
            <option>All</option>
        </select>
        <div style="display:inline-block;">Timeslot</div>
        <div style="display:inline-block; margin-left:20px;">
            <div class="input-group date" id="datetimepicker" style="width:180px;">
                <input type='text' class="form-control" id="dateSearch" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div style="display:inline-block;">Date</div>
    </div>
</div>
<br />
<table id="table"></table>-->
<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Appointments</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formFilter float-left">
            <div class="filters"><b>Filter by:</b></div>

            <div class="filters">Period</div>
            <select class="form-control" id="period">
                <option>All Day</option>
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening</option>
            </select>

            <div class="filters">Timeslot</div>
            <select class="form-control" id="timeslot">
                <option>All</option>
            </select>

            <div class="filters">Date</div>
            <div class="filters">
                <div class="input-group date" id="datetimepicker">
                    <input type='text' class="form-control" id="dateSearch" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="table"></table>
    </div>
</div>
<script type="text/javascript">
    activemenu('Appointments');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var dataSource = [];
    var searchSource = [];
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = mm + '/' + dd + '/' + yyyy;
    $('#dateSearch').val(today);

    $(document).ready(function () {

        var pageSize = $('#pageSize');
        if (pageSize)
            pageSize = 10;

        $(function () {
            $('#datetimepicker').datepicker();
        });

        api.server.GetAllAppoinments(function (data) {
            if (data) {
                data.forEach(function (element, index) {                    
                    dataSource.push({
                        TimeSlot: convert24hrTo12hr(element.StartTime) + ' - ' + convert24hrTo12hr(element.EndTime),
                        NRIC: element.NRIC,
                        Name: element.Name,
                        ReportTime: element.ReportTime,
                        Status: element.Status,
                        Date: element.AppointmentDate,
                        StartTime: element.StartTime,
                        EndTime: element.EndTime,
                        Category: element.Category,
                        ReportTimeSpan: element.ReportTimeSpan
                    });

                    if (Date.parse(element.AppointmentDate) == Date.parse(today)) {
                        searchSource.push({
                            TimeSlot: convert24hrTo12hr(element.StartTime) + ' - ' + convert24hrTo12hr(element.EndTime),
                            NRIC: element.NRIC,
                            Name: element.Name,
                            ReportTime: element.ReportTime,
                            Status: element.Status,
                            Date: element.AppointmentDate,
                            StartTime: element.StartTime,
                            EndTime: element.EndTime,
                            Category: element.Category,
                            ReportTimeSpan: element.ReportTimeSpan
                        });
                    }
                });

                searchSource.forEach(function (element, index) {
                    $('#timeslot').append($('<option></option>').val(element.TimeSlot).html(element.TimeSlot));
                });
            }

            $('#table').bootstrapTable({
                pagination: true,
                pageSize: 10,
                columns: [{
                    field: 'TimeSlot',
                    title: 'Time Slot',
                    sortable: true,
                    width: '15%',
                    align: 'center'
                }, {
                    field: 'NRIC',
                    title: 'NRIC',
                    sortable: true,
                    width: '15%',
                    align: 'center'
                }, {
                    field: 'Name',
                    title: 'Name',
                    sortable: true,
                    width: '40%',
                    align: 'center'
                }, {
                    field: 'ReportTimeSpan',
                    title: 'Report Time',
                    sortable: true,
                    width: '15%',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        if (value) {
                            return convert24hrTo12hr(value);
                        }
                        return "";
                    }
                }, {
                    field: 'Status',
                    title: 'Status',
                    sortable: true,
                    width: '15%',
                    align: 'center',
                }],
                data: searchSource
            });
        });

        // For case redirected from Statistics
        api.ready(function (strDateAndStartTime) {
            if (strDateAndStartTime) {
                var splitDateAndTime = strDateAndStartTime.split(';');
                var dateAppt = splitDateAndTime[0];
                var startTimeAppt = splitDateAndTime[1];
                var endTimeAppt = splitDateAndTime[2];
                $('#dateSearch').val(dateAppt);
                getTimeslot();
                var timeslotFromStatictis = convert24hrTo12hr(startTimeAppt) + ' - ' + convert24hrTo12hr(endTimeAppt);
                $('#timeslot').val(timeslotFromStatictis);
                searchAppointment();
            };
        });
    });

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });

    $('#period').change(function () {
        searchAppointment();
    });

    $('#timeslot').change(function () {
        searchAppointment();
    });

    $('#dateSearch').change(function () {
        $('#timeslot').val('All');
        searchAppointment();
        getTimeslot();
    });

    function searchAppointment() {
        searchSource = [];
        var category = $("#period option:selected").text();
        var timeslot = $('#timeslot option:selected').text();
        var dateSearch = $('#dateSearch').val();

        for (var i = 0; i < dataSource.length; i++) {
            if ((Date.parse(dataSource[i].Date) == Date.parse(dateSearch) || dateSearch == '') && (dataSource[i].Category == category || category == 'All Day') && (dataSource[i].TimeSlot == timeslot || timeslot == 'All')) {
                searchSource.push({
                    TimeSlot: dataSource[i].TimeSlot,
                    NRIC: dataSource[i].NRIC,
                    Name: dataSource[i].Name,
                    ReportTime: dataSource[i].ReportTime,
                    Status: dataSource[i].Status,
                    Date: dataSource[i].AppointmentDate,
                    StartTime: dataSource[i].StartTime,
                    EndTime: dataSource[i].EndTime,
                    ReportTimeSpan: dataSource[i].ReportTimeSpan
                });
            }
        }
        
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            data: searchSource
        });
    };

    function getTimeslot() {
        $('#timeslot').empty();
        $('#timeslot').append($('<option></option>').val('All').html('All'));

        searchSource.forEach(function (element, index) {
            $('#timeslot').append($('<option></option>').val(element.TimeSlot).html(element.TimeSlot));
        });
    };

    function formatDate(strDate) {
        var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day,
            hour = date.getHours().toString(),
            formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
            minute = date.getMinutes().toString(),
            formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
            second = date.getSeconds().toString(),
            formatedSecond = (second.length === 1) ? ("0" + second) : second;
        return formatedMonth + "/" + formatedDay + "/" + year;
    }

    function convert24hrTo12hr(time) {
        if (time != null && time != '') {
            var hourEnd = time.indexOf(":");
            var H = +time.substr(0, hourEnd);
            var h = H % 12 || 12;
            var ampm = (H < 12 || H === 24) ? " AM" : " PM";
            time = h + time.substr(hourEnd, 3) + ampm;
        }
        return time; // return adjusted time or original string
    };
    
</script>