<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Appointments</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formFilter float-left">
            <div class="filters"><b>Filter by:</b></div>

            <div class="filters">Period</div>
            <select class="form-control" id="period">
                <option>All Day</option>
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening</option>
            </select>

            <div class="filters">Timeslot</div>
            <select class="form-control" id="timeslot">
                <option>All</option>
            </select>

            <div class="filters">Date</div>
            <div class="filters">
                <div class="input-group date" id="datetimepicker">
                    <input type='text' class="form-control" id="dateSearch"  style="border-radius: 3px;padding-right:30px;width:150px;" />
                    <span class="input-group-addon" style="z-index: 5;font-size: 16px;color: #000;position: relative;margin-left: -25px;">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

        </div>
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="tableAppointment"></table>
    </div>
</div>
<script type="text/javascript">
    activemenu('Appointments');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var dataSource = [];
    var searchSource = [];
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = dd + '/' + mm + '/' + yyyy;
    $('#dateSearch').val(today);

    $(document).ready(function () {

        var pageSize = $('#pageSize');
        if (pageSize)
            pageSize = 10;

        $(function () {
            $('#datetimepicker').datepicker({ format: 'dd/mm/yyyy'});
        });
        
        // For case redirected from Statistics
        api.ready(function (strDateAndStartTime) {            
            api.server.GetAllAppoinments(function (data) {                
                if (data) {
                    data.forEach(function (element, index) {
                        dataSource.push({
                            TimeSlot: FormatTime(element.StartTime) + ' - ' + FormatTime(element.EndTime),
                            NRIC: element.NRIC,
                            Name: element.Name,
                            ReportTime: element.ReportTime,
                            Status: element.Status,
                            Date: formatDate(element.AppointmentDate),
                            StartTime: element.StartTime,
                            EndTime: element.EndTime,
                            Category: element.Category,
                            ReportTimeSpan: element.ReportTimeSpan
                        });

                        if (Date.parse(formatDate(element.AppointmentDate)) == Date.parse(today)) {
                            searchSource.push({
                                TimeSlot: FormatTime(element.StartTime) + ' - ' + FormatTime(element.EndTime),
                                NRIC: element.NRIC,
                                Name: element.Name,
                                ReportTime: element.ReportTime,
                                Status: element.Status,
                                Date: formatDate(element.AppointmentDate),
                                StartTime: element.StartTime,
                                EndTime: element.EndTime,
                                Category: element.Category,
                                ReportTimeSpan: element.ReportTimeSpan
                            });
                        }
                    });

                    searchSource.forEach(function (element, index) {
                        $('#timeslot').append($('<option></option>').val(element.TimeSlot).html(element.TimeSlot));
                    });
                }

                $('#tableAppointment').bootstrapTable({
                    pagination: true,
                    pageSize: 10,
                    pageList: [10, 25, 50, 100],
                    columns: [{
                        field: 'TimeSlot',
                        title: 'Time Slot',
                        sortable: true,
                        width: '15%',
                        align: 'center'
                    }, {
                        field: 'NRIC',
                        title: 'NRIC',
                        sortable: true,
                        width: '15%',
                        align: 'center'
                    }, {
                        field: 'Name',
                        title: 'Name',
                        sortable: true,
                        width: '40%',
                        align: 'center'
                    }, {
                        field: 'ReportTimeSpan',
                        title: 'Report Time',
                        sortable: true,
                        width: '15%',
                        align: 'center',
                        formatter: function (value, row, index, field) {
                            if (value) {
                                return FormatTime(value);
                            }
                            return "";
                        }
                    }, {
                        field: 'Status',
                        title: 'Status',
                        sortable: true,
                        width: '15%',
                        align: 'center',
                    }],
                    data: searchSource
                });
                
                if (strDateAndStartTime) {
                    var splitDateAndTime = strDateAndStartTime.split(';');
                    var dateAppt = splitDateAndTime[0];
                    var startTimeAppt = splitDateAndTime[1];
                    var endTimeAppt = splitDateAndTime[2];
                    //var timeslotFromStatictis = convert24hrTo12hr(startTimeAppt) + ' - ' + convert24hrTo12hr(endTimeAppt);
                    var timeslotFromStatictis = startTimeAppt + ' - ' + endTimeAppt;
                    $('#dateSearch').val(dateAppt);
                    searchByDateAndTimeslot(dateAppt, timeslotFromStatictis);
                    getTimeslot();
                    $('#timeslot').val(timeslotFromStatictis);
                };
            });
        });
    });

    function reloadDataAppts() {
        api.server.GetAllAppoinments(function (data) {
            $('#tableAppointment').bootstrapTable('load', data);
            $('#tableAppointment').bootstrapTable('refreshOptions', {
                pagination: true,
                data: data
            });
        });
    };

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#tableAppointment').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });

    $('#period').change(function () {
        searchAppointment();
    });

    $('#timeslot').change(function () {
        searchAppointment();
    });

    $('#dateSearch').change(function () {
        $('#timeslot').val('All');
        searchAppointment();
        getTimeslot();
    });

    function searchAppointment() {
        searchSource = [];
        var category = $("#period option:selected").text();
        var timeslot = $('#timeslot option:selected').text();
        var dateSearch = $('#dateSearch').val();

        for (var i = 0; i < dataSource.length; i++) {
            if ((Date.parse(dataSource[i].Date) == Date.parse(dateSearch) || dateSearch == '') && (dataSource[i].Category == category || category == 'All Day') && (dataSource[i].TimeSlot == timeslot || timeslot == 'All')) {
                searchSource.push({
                    TimeSlot: dataSource[i].TimeSlot,
                    NRIC: dataSource[i].NRIC,
                    Name: dataSource[i].Name,
                    ReportTime: dataSource[i].ReportTime,
                    Status: dataSource[i].Status,
                    Date: dataSource[i].AppointmentDate,
                    StartTime: dataSource[i].StartTime,
                    EndTime: dataSource[i].EndTime,
                    ReportTimeSpan: dataSource[i].ReportTimeSpan
                });
            }
        }
        
        $('#tableAppointment').bootstrapTable('refreshOptions', {
            pagination: true,
            data: searchSource
        });
    };

    function searchByDateAndTimeslot(dateSearch, timeslot) {
        searchSource = [];
        for (var i = 0; i < dataSource.length; i++) {
            if ((Date.parse(dataSource[i].Date) == Date.parse(dateSearch) || dateSearch == '') && (dataSource[i].TimeSlot == timeslot || timeslot == 'All')) {
                searchSource.push({
                    TimeSlot: dataSource[i].TimeSlot,
                    NRIC: dataSource[i].NRIC,
                    Name: dataSource[i].Name,
                    ReportTime: dataSource[i].ReportTime,
                    Status: dataSource[i].Status,
                    Date: dataSource[i].AppointmentDate,
                    StartTime: dataSource[i].StartTime,
                    EndTime: dataSource[i].EndTime,
                    ReportTimeSpan: dataSource[i].ReportTimeSpan
                });
            }
        }

        $('#tableAppointment').bootstrapTable('refreshOptions', {
            pagination: true,
            data: searchSource
        });
    };

    function getTimeslot() {
        $('#timeslot').empty();
        $('#timeslot').append($('<option></option>').val('All').html('All'));

        searchSource.forEach(function (element, index) {
            $('#timeslot').append($('<option></option>').val(element.TimeSlot).html(element.TimeSlot));
        });
    };

    function formatDate(strDate) {
        var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day,
            hour = date.getHours().toString(),
            formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
            minute = date.getMinutes().toString(),
            formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
            second = date.getSeconds().toString(),
            formatedSecond = (second.length === 1) ? ("0" + second) : second;
        return formatedDay + "/" + formatedMonth + "/" + year;
    }

    function convert24hrTo12hr(time) {
        if (time != null && time != '') {
            var hourEnd = time.indexOf(":");
            var H = +time.substr(0, hourEnd);
            var h = H % 12 || 12;
            var ampm = (H < 12 || H === 24) ? " AM" : " PM";
            time = h + time.substr(hourEnd, 3) + ampm;
        }
        return time; // return adjusted time or original string
    };

    function FormatTime(time) {
        var hourEnd = time.indexOf(":");
        var H = +time.substr(0, hourEnd);
        time = H + time.substr(hourEnd, 3);
        return time; // return adjusted time or original string
    };
</script>