<div class="modal fade" role="dialog" id="idBlock">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unblock Supervisee</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Officer NRIC</span>
                        <input readonly="readonly" type="text" class="form-control pri" id="OfficerNRICBlock">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Officer Name</span>
                        <input readonly="readonly" type="text" class="form-control pri" id="OfficerNameBlock">
                    </div>
                    <br />
                    <span class="input-group-addon"  style="width:120px;">Reason:</span>
                    <br />
                    <textarea type="text" class="form-control pri" rows="4" id="Reason"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="UnblockBtn" class="btn btn-default" >Unblock</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    api.ready(function (model) {
        $('#OfficerNRICBlock').val(model.OfficerNRIC);
        $('#OfficerNameBlock').val(model.OfficerName);
        $("#UnblockBtn").click(function (e) {
            api.server.UnblockSuperviseeByUserId(model.UserId, $('#Reason').val());
            // Waiting 1 second to update DB then refresh
            setTimeout(function () {
                api.server.LoadPage('Blocked.html')
                $('#idBlock').modal('toggle');
            }, 1000);
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });

    

</script>