<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Blocked</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="tableBlocked"></table>
    </div>
</div>
<script type="text/javascript">
    activemenu('Blocked');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    
    var pageSize = $('#pageSize').length > 0 ? 10 : 0;

    api.server.GetAllSuperviseesBlocked(function (data) {
        dataSource = data;
        $('#tableBlocked').bootstrapTable({
            pagination: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            search: true,
            columns: [{
                field: 'NRIC',
                title: 'NRIC',
                sortable: true,
                width: '10%',
                align: 'center'
            }, {
                field: 'Name',
                title: 'Name',
                sortable: true,
                width: '40%',
                align: 'center'
            }, {
                field: 'Note',
                title: 'Reason',
                width: '40%',
                align: 'center'
            }, {
                field: 'Action',
                title: 'Action',
                width: '10%',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<button class="btn btn-info " onclick = "openPopup(\'' + row.UserId + '\');">Unblock</button> ';
                }
            }],
            data: dataSource
        });
    });

    function reloadDataBlocked() {
        api.server.GetAllSuperviseesBlocked(function (data) {
            $('#tableBlocked').bootstrapTable('load', data);
            $('#tableBlocked').bootstrapTable('refreshOptions', {
                pagination: true,
                data: data
            });
        });
    };

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#tableBlocked').bootstrapTable('refreshOptions', {
            pagination: true,
            search: true,
            pageSize: pageSize
        });
    });

    var dataSource = [];

    function openPopup(userId) {
        api.server.LoadPopupBlock(userId, function () {
            $('#idBlock').modal();
        });
    };    
    
</script>