<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/ionicons.min.css" rel="stylesheet" />
    <link href="../materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />
    <link href="../table/bootstrap-table.css" rel="stylesheet">
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../scripts/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../materialize/js/materialize.min.js"></script>
    <script src="../table/bootstrap-table.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/lib.js"></script>
    <link href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="html2canvas/html2canvas.js"></script>
    <script src="html2canvas/jquery.plugin.html2canvas.js"></script>
</head>


<body>
    <div id="header">
        <div class="row logo" title="logo">
            <div class="logoCNB col-6">
                <img src="../img/logoCNB.png" />
            </div>
            <div class="logoGoverment col-6">
                <div class="float-right">
                    <img src="../img/logoSingov.png" />
                </div>
            </div>
        </div>
        <div class="CheckerDeviceStatus row">
            <div class="col-6">
                <div class="float-left sskStatus"><span color id="colorStatus_SSK"></span>SSK</div>
                <div class="float-left ssaStatus"><span color id="colorStatus_SSA"></span>SSA</div>
                <div class="float-left uhpStatus"><span color id="colorStatus_UHP"></span>UHP</div>
                <div class="float-left espStatus"><span color id="colorStatus_ESP"></span>ESP</div>
            </div>
            <div class="col-6 logout" title="Logout" onclick="confirm('Are you sure you want to logout?') == true ? api.server.LogOut() : null" id="btn-logout">
                <div class="float-right">
                    Logout
                </div>
            </div>
        </div>
    </div>

    <div id="menu">
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Queue.html')">
            <span class="fa fa-calendar"></span>
            <span id="Queue" item-menu="Queue"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Alerts.html')">
            <span class="fa fa-calendar"></span>
            <span id="Alerts" item-menu="Alerts"><span class="notifyCount">10+</span></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Appointments.html')">
            <span class="fa fa-calendar"></span>
            <span id="Appointments" item-menu="Appointments"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Blocked.html')">
            <span class="fa fa-calendar"></span>
            <span id="Blocked" item-menu="Blocked"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Statistics.html')">
            <span class="fa fa-calendar"></span>
            <span id="Statistics" item-menu="Statistics"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('MUBAndTTlabel.html')">
            <span class="fa fa-calendar"></span>
            <span id="MUB" item-menu="MUB/TT Lablels"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('UBlabel.html')">
            <span class="fa fa-calendar"></span>
            <span id="UB" item-menu="UB Lablels"></span>
        </div>
        <div class="col menu-item d-flex justify-content-center" onclick="api.server.LoadPage('Settings.html')">
            <span class="fa fa-calendar"></span>
            <span id="Settings" item-menu="Settings"></span>
        </div>
    </div>

        <div id="parent-content">
            <div id="content"></div>
        </div>

        <div class="loading">
            <span class="loader"></span>
        </div>
        <div id="panel-popup">
        </div>

</body>
</html>
<script type="text/javascript">
    api.ready(function () {
        api.server.GetStationClolorDevice(function (data) {
            $('#colorStatus_SSK').css("background-color", data.SSKColor);
            $('#colorStatus_SSA').css("background-color", data.SSAColor);
            $('#colorStatus_UHP').css("background-color", data.UHPColor);
            $('#colorStatus_ESP').css("background-color", data.ESPColor);
        });

        $(".notifyCount").hide();

        window.setInterval(function () {
            api.server.GetStationClolorDevice(function (data) {
                $('#colorStatus_SSK').css("background-color", data.SSKColor);
                $('#colorStatus_SSA').css("background-color", data.SSAColor);
                $('#colorStatus_UHP').css("background-color", data.UHPColor);
                $('#colorStatus_ESP').css("background-color", data.ESPColor);
            });  
        }, 900000); // Auto call this to update color station every 15 mins

        function LoadStationColorDevice() {
            api.server.GetStationClolorDevice(function (data) {
                $('#colorStatus_SSK').css("background-color", data.SSKColor);
                $('#colorStatus_SSA').css("background-color", data.SSAColor);
                $('#colorStatus_UHP').css("background-color", data.UHPColor);
                $('#colorStatus_ESP').css("background-color", data.ESPColor);
            });
        }; 
    });
</script>