<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />
    <link href="../table/bootstrap-table.css" rel="stylesheet">
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../table/bootstrap-table.js"></script>
    <script src="../scripts/lib.js"></script>
    <link href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo" title="logo"></div>
        <div class="logout glyphicon glyphicon-log-out" title="Logout" onclick="confirm('Are you sure you want to logout?') == true ? api.server.LogOut() : null" id="btn-logout"></div>
    </div>
    <div id="menu">
        <span item-menu="Queue" onclick="api.server.LoadPage('Queue.html')"></span>
        <span item-menu="Alerts" onclick="api.server.LoadPage('Alerts.html')"></span>
        <span item-menu="Appointments" onclick="api.server.LoadPage('Appointments.html')"></span>
        <span item-menu="Blocked" onclick="api.server.LoadPage('Blocked.html')"></span>
        <span item-menu="Statistics" onclick="api.server.LoadPage('Statistics.html')"></span>
        <span item-menu="MUB/TT Lablels" onclick="api.server.LoadPage('MUBAndTTlabel.html')"></span>
        <span item-menu="UB Lablels" onclick="api.server.LoadPage('UBlabel.html')"></span>
        <span item-menu="Settings" onclick="api.server.LoadPage('Settings.html')"></span>
    </div>
    <div id="parent-content">
        <div id="content"></div>
    </div>



    <div class="loading">
        <span class="loader"></span>
    </div>
    <div id="panel-popup">
    </div>

</body>
</html>