<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Manual Printing of MUB/TT Labels</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="MUBAndTTlabel" class="table">
            <thead>
                <tr>
                    <th data-field="IsMUB" class="ui-checkbox" data-formatter="cbFormatter" id="PrintMUB" data-width="100" data-align="center" data-halign="center">Print MUB</th>
                    <th data-field="IsTT" class="ui-checkbox" data-formatter="cbFormatter" id="PrintTT" data-width="100" data-align="center" data-halign="center">Print TT</th>
                    <th data-field="NRIC" data-sortable="true" data-width="150" data-align="center" data-halign="center">NRIC</th>
                    <th data-field="Name" data-sortable="true" data-align="center" data-halign="center">Name</th>
                    <th data-field="LastStation" data-width="150" data-align="center" data-halign="center">Last Station</th>
                    <!--<th data-field="UserId" class="hidden"></th>-->
                </tr>
            </thead>
        </table>
        <br />
        <div id="PrintMUBAndTTlabel" class="text-right">
            <button id="PrintMUBAndTTbutton" class="btn btn-default" style="background-color:#1CACF6;color: #FFF;padding: 9px 20px !important;min-width: 180px;text-transform: uppercase;font-size: 15px;">Print</button>
        </div>
        <ul id="output"></ul>
        <br />
    </div>
</div>
<style type="text/css">
    .fixed-table-container tbody .selected td {
        background-color: #FFF !important;
    }

    .table tr td.ui-checkbox {
        position: relative;
    }

        .table tr td.ui-checkbox input {
            width: 16px;
            height: 16px;
            opacity: 0;
            z-index: 1;
            position: relative;
        }

        .table tr td.ui-checkbox::after {
            content: "\f00c";
            position: absolute;
            top: calc(50% - 11px);
            left: calc(50% - 8px);
            height: 16px;
            width: 16px;
            background: #FFF;
            color: #FFF;
            font-family: FontAwesome;
            z-index: 0;
            border: 1px solid #DDD;
            display: block;
            font-size: 10px;
            border-radius: 3px;
        }

        .table tr td.ui-checkbox.ui-checked::after {
            background-color: #1cacf6;
            border-color: #1cacf6;
        }

        .table tr td.ui-checkbox.ui-checked::before {
            content: " ";
            width: 100%;
            position: absolute;
            border-bottom: 1px solid #DDD;
            bottom: -1px;
            left: 0px;
        }
</style>

<script type="text/javascript">

    var dataSource = [];
    $('#MUBAndTTlabel').on("change", ".ui-checkbox input:checkbox", function () {
        if ($(this).prop('checked')) {
            $(this).parent('td').addClass('ui-checked');
        } else {
            $(this).parent('td').removeClass('ui-checked');
        }
    });

    api.server.GetAllMUBAndTTlabels(function (data) {
        dataSource = data;
        $('#MUBAndTTlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            //singleSelect: true,
            data: data
        });
    });

    function reloadDataMUBAndTT() {
        api.server.GetAllMUBAndTTlabels(function (data) {
            $('#MUBAndTTlabel').bootstrapTable('load', data);
            $('#MUBAndTTlabel').bootstrapTable('refreshOptions', {
                pagination: true,
                data: data
            });
        });
    };

    function cbFormatter(value) {
        return '<input type="checkbox"' + (value == true ? " checked " : "") + '>';
    };

    function getDataCallback(response) {

        var data = JSON.parse(response);
        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    NRIC: element.NRIC,
                    Name: element.Name,
                    LastStation: element.LastStation,
                    UserId: element.UserId,
                    MarkingNo: element.MarkingNo,
                    IsMUB: element.IsMUB,
                    IsTT: element.IsTT
                });
            });
        }

        $('#MUBAndTTlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            //singleSelect: true,
            data: dataSource
        });
    }

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#MUBAndTTlabel').bootstrapTable('refreshOptions', {
            pagination: true,
            pageSize: pageSize
        });
    });

    var checkedRows = [];
    var $result = $('#eventsResult');

    $('#MUBAndTTlabel').on('check.bs.table', function (e, row) {
        $("#MUBAndTTlabel").each(function () {
            $(this).find("tr.selected td:nth-child(2)").addClass("checked");
        })
        checkedRows.push({
            NRIC: row.NRIC,
            Name: row.Name,
            LastStation: row.LastStation
        });
    })

    $('#MUBAndTTlabel').on('uncheck.bs.table', function (e, row) {
        $.each(checkedRows, function (index, value) {
            if (value.id === row.id) {
                checkedRows.splice(index, 1);
            }
        });
    });

    var model = [];


    $('#PrintMUBAndTTbutton').click(function () {
        var rows = document.getElementById('MUBAndTTlabel').rows;
        for (i = 0; i < rows.length; i++) {
            var row = rows[i];

            if (row.cells[0].firstChild.checked == true || row.cells[1].firstChild.checked == true) {
                model.push({
                    NRIC: row.cells[2].innerHTML,
                    Name: row.cells[3].innerHTML,
                    LastStation: row.cells[4].innerHTML,
                    IsMUB: row.cells[0].firstChild.checked,
                    IsTT: row.cells[1].firstChild.checked//,
                    //UserId: row.cells[5].innerHTML
                });
            };
        };

        if (model.length > 0) {
            var data = JSON.stringify(model);
            api.server.LoadPopupMUBAndTTLabel(data, function () {
                $('#popupMUBandTTLabel').modal();
            })
        }
        else {
            alert('Please choose the supervisee you want to print');
        }

    });

    activemenu('MUBLabel');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
</script>
