<!--<style>
    .formWrapper {
        display: block;
        padding: 10px;
    }

    .formHeader {
        font-size: 22px;
        position: absolute;
        left: 0;
        top: 30px;
    }

    .formEntries {
        position: absolute;
        right: 200px;
        top: 30px
    }

    #pageSize {
        width: 70px;
        display: inline-block;
    }

    #MUBAndTTlabel,
    #MUBAndTTlabel th {
        text-align: center;
    }
</style>-->
<!--<div class="formWrapper">
    <span class="formHeader"><b>MUB / TT Label</b></span>
    <div class="form-inline formEntries">
        <select class="form-control" id="pageSize">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">entries</div>
    </div>
</div>-->
<!--<table id="MUBAndTTlabel">
    <thead>
        <tr>
            <th data-field="IsMUB" data-formatter="cbFormatter" class="col-xs-1" id="PrintMUB">Print MUB</th>
            <th data-field="IsTT" data-formatter="cbFormatter" class="col-xs-1" id="PrintTT">Print TT</th>
            <th data-field="NRIC" data-sortable="true" class="col-xs-3">NRIC</th>
            <th data-field="Name" data-sortable="true" class="col-xs-5">Name</th>
            <th data-field="LastStation" class="col-xs-2">Last Station</th>-->
            <!--<th data-field="UserId" class="hidden"></th>-->
        <!--</tr>
    </thead>
</table>
<div class="alert alert-success" id="eventsResult">
</div>
<br />-->
<!--<div id="PrintMUBAndTTlabel" class="text-right">
    <button id="PrintMUBAndTTbutton" class="btn btn-default">Print</button>
</div>
<ul id="output"></ul>-->

<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>MUB / TT Label</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>2</option>
                <option>3</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="MUBAndTTlabel" class="table">
            <thead>
                <tr>
                    <th data-field="IsMUB" data-formatter="cbFormatter" class="col-xs-1" id="PrintMUB">Print MUB</th>
                    <th data-field="IsTT" data-formatter="cbFormatter" class="col-xs-1" id="PrintTT">Print TT</th>
                    <th data-field="NRIC" data-sortable="true" class="col-xs-3">NRIC</th>
                    <th data-field="Name" data-sortable="true" class="col-xs-5">Name</th>
                    <th data-field="LastStation" class="col-xs-2">Last Station</th>
                    <!--<th data-field="UserId" class="hidden"></th>-->
                </tr>
            </thead>
        </table>
        <div class="alert alert-success" id="eventsResult">
        </div>
        <br />
        <div id="PrintMUBAndTTlabel" class="text-right">
            <button id="PrintMUBAndTTbutton" class="btn btn-default">Print</button>
        </div>
        <ul id="output"></ul>
        <br />
    </div>
</div>

<script type="text/javascript">

    var dataSource = [];

    api.server.GetAllMUBAndTTlabels(function (data) {
        dataSource = data;
        $('#MUBAndTTlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            //singleSelect: true,
            data: data
        });
    });

    function cbFormatter(value) {
        return '<input type="checkbox"' + (value == true ? " checked " : "") + '>';
    };
    
    function getDataCallback(response) {

        var data = JSON.parse(response);        
        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    NRIC: element.NRIC,
                    Name: element.Name,
                    LastStation: element.LastStation,
                    UserId: element.UserId,
                    IsMUB: element.IsMUB,
                    IsTT: element.IsTT
                });
            });
        }

        $('#MUBAndTTlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            //singleSelect: true,
            data: dataSource
        });
    } 

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#MUBAndTTlabel').bootstrapTable('refreshOptions', {
            pagination: true,
            pageSize: pageSize
        });
    });

    var checkedRows = [];
    var $result = $('#eventsResult');

    $('#MUBAndTTlabel').on('check.bs.table', function (e, row) {
        $("#MUBAndTTlabel").each(function () {
            $(this).find("tr.selected td:nth-child(2)").addClass("checked");
        })
        checkedRows.push({
            NRIC: row.NRIC,
            Name: row.Name,
            LastStation: row.LastStation
        });
    })

    $('#MUBAndTTlabel').on('uncheck.bs.table', function (e, row) {
        $.each(checkedRows, function (index, value) {
            if (value.id === row.id) {
                checkedRows.splice(index, 1);
            }
        });
    });

    var model = [];
        

    $('#PrintMUBAndTTbutton').click(function () {            
        var rows = document.getElementById('MUBAndTTlabel').rows;
        for (i = 0; i < rows.length; i++) {
            var row = rows[i];
            
            if (row.cells[0].firstChild.checked == true || row.cells[1].firstChild.checked == true) {
                model.push({
                    NRIC: row.cells[2].innerHTML,
                    Name: row.cells[3].innerHTML,
                    LastStation: row.cells[4].innerHTML,
                    IsMUB: row.cells[0].firstChild.checked,
                    IsTT: row.cells[1].firstChild.checked//,
                    //UserId: row.cells[5].innerHTML
                });
            };
        } ;
        
        if (model.length > 0) {
            var data = JSON.stringify(model);
            api.server.LoadPopupMUBAndTTLabel(data, function () {
                $('#popupMUBandTTLabel').modal();
            })
        }
        else {
            alert('Please choose the supervisee you want to print');
        }

    });

    activemenu('MUB/TT Lablels');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
</script>
