<style>
    .formWrapper {
        display: block;
        padding: 10px;
    }

    .formHeader {
        font-size: 22px;
        position: absolute;
        left: 0;
        top: 30px;
    }

    .formEntries {
        position: absolute;
        right: 200px;
        top: 30px
    }

    #pageSize {
        width: 70px;
        display: inline-block;
    }

    #MUBAndTTlabel,
    #MUBAndTTlabel th {
        text-align: center;
    }
</style>
<div class="formWrapper">
    <span class="formHeader"><b>MUB / TT Label</b></span>
    <div class="form-inline formEntries">
        <select class="form-control" id="pageSize">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">Entries</div>
    </div>
</div>
<table id="MUBAndTTlabel" data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true" class="col-xs-1">Select</th>
            <th data-field="NRIC" data-sortable="true" class="col-xs-3">NRIC</th>
            <th data-field="Name" data-sortable="true" class="col-xs-6">Name</th>
            <th data-field="LastStation" class="col-xs-2">Last Station</th>
        </tr>
    </thead>
</table>
<br />
<div id="PrintMUBAndTTlabel" class="text-right">
    <button id="PrintMUBAndTTbutton" class="btn btn-default">Print</button>
</div>
<ul id="output"></ul>

<script type="text/javascript">
 

    var dataSource = [];

    api.server.GetAllMUBAndTTlabels();

    function getDataCallback(response) {

        var data = JSON.parse(response);        
        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    NRIC: element.NRIC,
                    Name: element.Name,
                    LastStation: element.LastStation,
                    UserId: element.UserId
                });
            });
        }

        $('#MUBAndTTlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            singleSelect: true,
            data: dataSource
        });
    } 


    $(window).ready(function () {

        $('#pageSize').change(function () {
            pageSize = $("#pageSize option:selected").text();
            $('#MUBAndTTlabel').bootstrapTable('refreshOptions', {
                pagination: true,
                pageSize: pageSize
            });
        });

        var checkedRows = [];

        $('#MUBAndTTlabel').on('check.bs.table', function (e, row) {
            checkedRows.push({ NRIC: row.NRIC, Name: row.Name, LastStation: row.LastStation, UserId: row.UserId });
        });

        $('#MUBAndTTlabel').on('uncheck.bs.table', function (e, row) {
            $.each(checkedRows, function (index, value) {
                if (value.id === row.id) {
                    checkedRows.splice(index, 1);
                }
            });
        });

        var model;

        $('#PrintMUBAndTTbutton').click(function () {
            $.each(checkedRows, function (index, value) {
                model = value;

            });
            if (model != null) {
                var data = JSON.stringify(model);
                api.server.LoadPopupMUBAndTTLabel(data, function () {
                    $('#popupMUBandTTLabel').modal();

                })
            }
            else {
                alert('Please choose the supervisee you want to print');
            }

        })
        activemenu('MUB/TT Lablels');
    })
    
</script>
