<div class="modal" role="dialog" id="idAddHoliday" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Non-Operational Date</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div group-input="Date">
                        <input type="text" placeholder="Date" id="HolidayDate" name="HolidayDate" maxlength="50" />
                    </div>

                    <!--<div class="input-group date">
                        <label class="input-group-addon">Date</label>
                        <select class="form-control" id="day">
                            <option>15</option>
                        </select>
                        <select class="form-control" id="month">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                        <select class="form-control" id="year">
                            <option>2018</option>
                        </select>
                    </div>
                    <br />-->
                    <div group-input="Short Description">
                        <input type="text" placeholder="Short Description" id="description" name="description" maxlength="50" />
                    </div>

                    <!--<div class="input-group description">
                        <label class="input-group-addon">Short Description</label>
                        <span><input type="text" class="form-control pri" id="description" maxlength="50"></span>
                    </div>
                    <br />-->
                    <div>
                        <label class="textarea" style="padding:0px;">Notes</label>
                        <textarea type="text" class="form-control pri col-12" rows="5" id="note" maxlength="255" style="border:1px solid #CCC;resize:none;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">CANCEL</button>
                <button type="button" id="AddBtn" class="btn btn-default">ADD</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .datepicker {
        z-index: 1060 !important;
        margin-left: 200px;
    }
</style>
<script type="text/javascript">
    //var lstDays = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"];
    //var lstMonths = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
    //var lstYears = ["2018", '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030'];

    //$('#day').empty();
    //$('#month').empty();
    //$('#year').empty();

    //$.each(lstDays, function (i, p) {
    //    $('#day').append($('<option></option>').val(p).html(p));
    //});

    //$.each(lstMonths, function (i, p) {
    //    $('#month').append($('<option></option>').val(p).html(p));
    //});

    //$.each(lstYears, function (i, p) {
    //    $('#year').append($('<option></option>').val(p).html(p));
    //});
    $('#HolidayDate').keydown(function (event) { event.preventDefault(); }).datepicker({ format: 'dd/mm/yyyy' });

    $("#AddBtn").click(function (e) {
        e.preventDefault();

        var date = api.ToDateCSharp($('#HolidayDate').val());
        var description = $('#description').val();
        var note = $('#note').val();
        var holiday = { Holiday1: date, ShortDesc: description, Notes: note };
        var data = JSON.stringify(holiday);
        if (date == null) {
            ShowMessage('Date can not be empty');
            return;
        }
        api.server.AddHoliday(data, function (status) {
            if (status){
                api.server.LoadPage('Settings.html');
                $('#idAddHoliday').modal('toggle');
            }
        });
    });

    function convertDateToUTC(date) {
        return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
    }
</script>