<div class="modal" role="dialog" id="idEditOperationalDate" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Operational Date</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 close-slots">
                Check to close slots
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-12 datetime">
                        <label class="margin-top">Date</label>
                        <select class="form-control" id="dayOfWeek">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                    </div>
                    <div id="editSlot" class="col-12">
                        <div class="formEdit row" id="sectionMorning">
                            <div class="form-header heading col-12" id="headingOne">
                                <div class="headingWrapper" data-toggle="collapse" data-target="#morningSlot" aria-expanded="false" aria-controls="morningSlot" id="morning-closed">
                                    <span class="firstIcon"><i class="fa fa-circle"></i></span>
                                    <span class="titleSlot">Morning Slots</span>
                                    <span class="secIcon"><i class="fa fa-angle-down"></i></span>
                                </div>
                            </div>
                            <div id="morningSlot" class="collapse col-12" aria-labelledby="headingOne" data-parent="#sectionMorning">
                                <div class="form-body">
                                    <div class="form-inline editSlotContent row">
                                        <div class="col-6 d-flex">
                                            <span class="control-label margin-top">Start Time</span>
                                            <select class="form-control margin" id="morning-start-HH"></select>
                                            <select class="form-control margin" id="morning-start-MM"></select>
                                            <select class="form-control margin" id="morning-start-XM"></select>
                                        </div>
                                        <div class="col-6 row">
                                            <span class="control-label margin-top">End Time</span>
                                            <select class="form-control margin" id="morning-end-HH"></select>
                                            <select class="form-control margin" id="morning-end-MM"></select>
                                            <select class="form-control" id="morning-end-XM"></select>
                                        </div>
                                    </div>
                                    <div class="form-inline editSlotContent row">
                                        <span class="control-label">Maximum Supervisee per timeslot</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-max" />-->
                                        <select class="form-control margin" id="morning-max"></select>
                                        <span class="control-label margin">Reserved for spare</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-spare" />-->
                                        <select class="form-control margin" id="morning-spare"></select>
                                        <span class="control-label margin">Intervals</span>
                                        <select class="form-control" id="morning-interval"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formEdit row" id="sectionAfternoon">
                            <div class="form-header heading col-12" id="headingSec">
                                <div class="headingWrapper" data-toggle="collapse" data-target="#afternoonSlot" aria-expanded="false" aria-controls="afternoonSlot" id="afternoon-closed">
                                    <span class="firstIcon"><i class="fa fa-circle"></i></span>
                                    <span class="titleSlot">Afternoon Slots</span>
                                    <span class="secIcon"><i class="fa fa-angle-down"></i></span>
                                </div>
                            </div>

                            <div id="afternoonSlot" class="collapse col-12" aria-labelledby="headingSec" data-parent="#sectionAfternoon">
                                <div class="form-body">
                                    <div class="form-inline editSlotContent row">
                                        <div class="col-6">
                                            <span class="control-label margin-top">Start Time</span>
                                            <select class="form-control margin" id="afternoon-start-HH"></select>
                                            <select class="form-control margin" id="afternoon-start-MM"></select>
                                            <select class="form-control margin" id="afternoon-start-XM"></select>
                                        </div>
                                        <div class="col-6 row">
                                            <span class="control-label margin-top">End Time</span>
                                            <select class="form-control margin" id="afternoon-end-HH"></select>
                                            <select class="form-control margin" id="afternoon-end-MM"></select>
                                            <select class="form-control margin" id="afternoon-end-XM"></select>
                                        </div>
                                    </div>
                                    <div class="form-inline editSlotContent row">
                                        <span class="control-label margin-top">Maximum Supervisee per timeslot</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-max" />-->
                                        <select class="form-control margin" id="afternoon-max"></select>
                                        <span class="control-label margin-top margin">Reserved for spare</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-spare" />-->
                                        <select class="form-control margin" id="afternoon-spare"></select>
                                        <span class="control-label margin-top margin">Intervals</span>
                                        <select class="form-control" id="afternoon-interval"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formEdit row" id="sectionEvening">
                            <div class="form-header heading col-12" id="headingThir">
                                <div class="headingWrapper" data-toggle="collapse" data-target="#eveningSlot" aria-expanded="false" aria-controls="eveningSlot" id="evening-closed">
                                    <span class="firstIcon"><i class="fa fa-circle"></i></span>
                                    <span class="titleSlot">Evening Slots</span>
                                    <span class="secIcon"><i class="fa fa-angle-down"></i></span>
                                </div>
                            </div>

                            <div id="eveningSlot" class="collapse col-12" aria-labelledby="headingThir" data-parent="#sectionEvening">
                                <div class="form-body">
                                    <div class="form-inline editSlotContent row">
                                        <div class="col-6">
                                            <span class="control-label margin-top">Start Time</span>
                                            <select class="form-control margin" id="evening-start-HH"></select>
                                            <select class="form-control margin" id="evening-start-MM"></select>
                                            <select class="form-control margin" id="evening-start-XM"></select>
                                        </div>
                                        <div class="col-6 row">
                                            <span class="control-label margin-top">End Time</span>
                                            <select class="form-control margin" id="evening-end-HH"></select>
                                            <select class="form-control margin" id="evening-end-MM"></select>
                                            <select class="form-control margin" id="evening-end-XM"></select>
                                        </div>
                                    </div>
                                    <div class="form-inline editSlotContent row">
                                        <span class="control-label margin-top margin">Maximum Supervisee per timeslot</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-max" />-->
                                        <select class="form-control margin" id="evening-max"></select>
                                        <span class="control-label margin-top margin">Reserved for spare</span>
                                        <!--<input type="text" class="form-control col-2" id="morning-spare" />-->
                                        <select class="form-control margin" id="evening-spare"></select>
                                        <span class="control-label margin-top margin">Intervals</span>
                                        <select class="form-control" id="evening-interval"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">CANCEL</button>
                <button type="button" id="SaveOperationBtn" class="btn btn-default">EDIT</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var optionsHH = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
    var optionsMM = ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"];
    var optionsXM = ["AM", "PM"];
    var optionsSpare = ["0", "1", "2", "3", "4", "5"];
    var optionsInterval = ["30", "45", "60"];

    $.each(optionsHH, function (i, p) {
        $('#morning-start-HH').append($('<option></option>').val(p).html(p));
        $('#morning-end-HH').append($('<option></option>').val(p).html(p));
        $('#afternoon-start-HH').append($('<option></option>').val(p).html(p));
        $('#afternoon-end-HH').append($('<option></option>').val(p).html(p));
        $('#evening-start-HH').append($('<option></option>').val(p).html(p));
        $('#evening-end-HH').append($('<option></option>').val(p).html(p));
    });

    $.each(optionsMM, function (i, p) {
        $('#morning-start-MM').append($('<option></option>').val(p).html(p));
        $('#morning-end-MM').append($('<option></option>').val(p).html(p));
        $('#afternoon-start-MM').append($('<option></option>').val(p).html(p));
        $('#afternoon-end-MM').append($('<option></option>').val(p).html(p));
        $('#evening-start-MM').append($('<option></option>').val(p).html(p));
        $('#evening-end-MM').append($('<option></option>').val(p).html(p));
    });

    $.each(optionsXM, function (i, p) {
        $('#morning-start-XM').append($('<option></option>').val(p).html(p));
        $('#morning-end-XM').append($('<option></option>').val(p).html(p));
        $('#afternoon-start-XM').append($('<option></option>').val(p).html(p));
        $('#afternoon-end-XM').append($('<option></option>').val(p).html(p));
        $('#evening-start-XM').append($('<option></option>').val(p).html(p));
        $('#evening-end-XM').append($('<option></option>').val(p).html(p));
    });

    $.each(optionsInterval, function (i, p) {
        $('#morning-interval').append($('<option></option>').val(p).html(p));
        $('#afternoon-interval').append($('<option></option>').val(p).html(p));
        $('#evening-interval').append($('<option></option>').val(p).html(p));
    });

    $.each(optionsSpare, function (i, p) {
        $('#morning-spare').append($('<option></option>').val(p).html(p));
        $('#afternoon-spare').append($('<option></option>').val(p).html(p));
        $('#evening-spare').append($('<option></option>').val(p).html(p));
    });

    var i;
    for (i = 0; i <= 20; i++) {
        $('#morning-max').append($('<option></option>').val(i).html(i));
        $('#afternoon-max').append($('<option></option>').val(i).html(i));
        $('#evening-max').append($('<option></option>').val(i).html(i));
    };

    api.ready(function (response) {
        var model = JSON.parse(response);
        switch (model.DayOfWeek) {
            case 2:
                $('#dayOfWeek').val('Monday');
                break;
            case 3:
                $('#dayOfWeek').val('Tuesday');
                break;
            case 4:
                $('#dayOfWeek').val('Wednesday');
                break;
            case 5:
                $('#dayOfWeek').val('Thursday');
                break;
            case 6:
                $('#dayOfWeek').val('Friday');
                break;
            case 7:
                $('#dayOfWeek').val('Saturday');
                break;
            case 8:
                $('#dayOfWeek').val('Sunday');
                break;
            default:
                $('#dayOfWeek').val('Monday');
                break;
        }

        if (model.Morning_Open_Time) {
            var morningStart = model.Morning_Open_Time.split(':');
            var H = +morningStart[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#morning-start-HH').val(h);
            $('#morning-start-MM').val(morningStart[1]);
            $('#morning-start-XM').val(ampm);
        }

        if (model.Morning_Close_Time) {
            var morningEnd = model.Morning_Close_Time.split(':');
            var H = +morningEnd[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#morning-end-HH').val(h);
            $('#morning-end-MM').val(morningEnd[1]);
            $('#morning-end-XM').val(ampm);
        }

        $('#morning-max').val(model.Morning_MaximumSupervisee);
        $('#morning-spare').val(model.Morning_Spare_Slots);
        $('#morning-interval').val(model.Morning_Interval);
        //$('#morning-Closed').prop('checked', model.Morning_Is_Closed);
        $('#morning-closed[aria-expanded]').attr('aria-expanded', !model.Morning_Is_Closed);
        setEnableControls('morning', model.Morning_Is_Closed);

        //Afternoon
        $('#afternoon-start-XM').val('PM');
        if (model.Afternoon_Open_Time) {
            var afternoonStart = model.Afternoon_Open_Time.split(':');
            var H = +afternoonStart[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#afternoon-start-HH').val(h);
            $('#afternoon-start-MM').val(afternoonStart[1]);
            $('#afternoon-start-XM').val(ampm);
        }

        $('#afternoon-end-XM').val('PM');
        if (model.Afternoon_Close_Time) {
            var afternoonEnd = model.Afternoon_Close_Time.split(':');
            var H = +afternoonEnd[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#afternoon-end-HH').val(h);
            $('#afternoon-end-MM').val(afternoonEnd[1]);
            $('#afternoon-end-XM').val(ampm);
        }

        $('#afternoon-max').val(model.Afternoon_MaximumSupervisee);
        $('#afternoon-spare').val(model.Afternoon_Spare_Slots);
        $('#afternoon-interval').val(model.Afternoon_Interval);
        //$('#afternoon-Closed').prop('checked', model.Afternoon_Is_Closed);
        $('#afternoon-closed[aria-expanded]').attr('aria-expanded', !model.Afternoon_Is_Closed);

        setEnableControls('afternoon', model.Afternoon_Is_Closed);

        //Evening
        $('#evening-start-XM').val('PM');
        if (model.Evening_Open_Time) {
            var eveningStart = model.Evening_Open_Time.split(':');
            var H = +eveningStart[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#evening-start-HH').val(h);
            $('#evening-start-MM').val(eveningStart[1]);
            $('#evening-start-XM').val(ampm);
        }

        $('#evening-end-XM').val('PM');
        if (model.Evening_Close_Time) {
            var eveningEnd = model.Evening_Close_Time.split(':');
            var H = +eveningEnd[0];
            var h = H % 12 || 12;
            if (h < 10) h = "0" + h;
            var ampm = (H < 12 || H === 24) ? "AM" : "PM";

            $('#evening-end-HH').val(h);
            $('#evening-end-MM').val(eveningEnd[1]);
            $('#evening-end-XM').val(ampm);
        }

        $('#evening-max').val(model.Evening_MaximumSupervisee);
        $('#evening-spare').val(model.Evening_Spare_Slots);
        $('#evening-interval').val(model.Evening_Interval);
        //$('#evening-Closed').prop('checked', model.Evening_Is_Closed);
        $('#evening-closed[aria-expanded]').attr('aria-expanded', !model.Evening_Is_Closed);

        setEnableControls('evening', model.Evening_Is_Closed);
    });

    function setEnableControls(category, isClosed) {
        if (category == 'morning') {
            if (!isClosed) {
                $('#morningSlot').addClass('show');
            }
        }
        else if (category == 'afternoon') {
            if (!isClosed) {
                $('#afternoonSlot').addClass('show');
            }
        }
        else if (category == 'evening') {
            if (!isClosed) {
                $('#eveningSlot').addClass('show');
            }
        }
    }

    $('#morning-Closed').change(function () {
        setEnableControls('morning', $('#morning-Closed').is(":checked"));
    });

    $('#afternoon-Closed').change(function () {
        setEnableControls('afternoon', $('#afternoon-Closed').is(":checked"));
    });

    $('#evening-Closed').change(function () {
        setEnableControls('evening', $('#evening-Closed').is(":checked"));
    });

    $('#morning-start-HH').change(function () {
        var morningStart = $('#morning-start-HH').val();
        var morningEnd = $('#morning-end-HH').val();
        var optionHHEndMorning = optionsHH.slice(morningStart, optionsHH.length);
        $('#morning-end-HH').empty();
        $.each(optionHHEndMorning, function (i, p) {
            $('#morning-end-HH').append($('<option></option>').val(p).html(p));
        });
        if (morningEnd > morningStart) {
            $('#morning-end-HH').val(morningEnd);
        }
    });

    $('#afternoon-start-HH').change(function () {
        var afternoonStart = $('#afternoon-start-HH').val();
        var afternoonEnd = $('#afternoon-end-HH').val();
        var optionHHEndAfternoon = optionsHH.slice(afternoonStart, optionsHH.length);
        $('#afternoon-end-HH').empty();
        $.each(optionHHEndAfternoon, function (i, p) {
            $('#afternoon-end-HH').append($('<option></option>').val(p).html(p));
        });
        if (afternoonEnd > afternoonStart) {
            $('#afternoon-end-HH').val(afternoonEnd);
        }
    });

    $('#afternoon-end-HH').change(function () {
        var afternoonEnd = $('#afternoon-end-HH').val();
        var eveningStart = $('#evening-start-HH').val();
        var eveningEnd = $('#evening-end-HH').val();
        var optionHHForEvening = optionsHH.slice(afternoonEnd, optionsHH.length);
        $('#evening-start-HH').empty();
        $('#evening-end-HH').empty();
        $.each(optionHHForEvening, function (i, p) {
            $('#evening-start-HH').append($('<option></option>').val(p).html(p));
            $('#evening-end-HH').append($('<option></option>').val(p).html(p));
        });
        if (eveningStart > afternoonEnd) {
            $('#evening-start-HH').val(eveningStart);
        };
        if (eveningEnd > afternoonEnd) {
            $('#evening-end-HH').val(eveningEnd);
        };
    });

    $('#evening-start-HH').change(function () {
        var eveningStart = $('#evening-start-HH').val();
        var eveningEnd = $('#evening-end-HH').val();
        var optionHHEndEvening = optionsHH.slice(eveningStart, optionsHH.length);
        $('#evening-end-HH').empty();
        $.each(optionHHEndEvening, function (i, p) {
            $('#evening-end-HH').append($('<option></option>').val(p).html(p));
        });
        if (eveningEnd > eveningStart) {
            $('#evening-end-HH').val(eveningEnd);
        }
    });

    var operationSetting;
    $("#SaveOperationBtn").click(function (e) {
        var dayOfWeek;
        switch ($('#dayOfWeek').val()) {
            case "Monday":
                dayOfWeek = 2;
                break;
            case "Tuesday":
                dayOfWeek = 3;
                break;
            case "Wednesday":
                dayOfWeek = 4;
                break;
            case "Thursday":
                dayOfWeek = 5;
                break;
            case "Friday":
                dayOfWeek = 6;
                break;
            case "Saturday":
                dayOfWeek = 7;
                break;
            case "Sunday":
                dayOfWeek = 8;
                break;
            default:
                dayOfWeek = 0;
        }
        
        var isClosedMorning = true;        
        if ($('#morning-closed[aria-expanded]').attr('aria-expanded') == 'true') {
            isClosedMorning = false;
        }
        var isClosedAfternoon = true;
        if ($('#afternoon-closed[aria-expanded]').attr('aria-expanded') == 'true') {
            isClosedAfternoon = false;
        }
        var isClosedEvening = true;
        if ( $('#evening-closed[aria-expanded]').attr('aria-expanded') == 'true') {
            isClosedEvening = false;
        }

        var model = {
            DayOfWeek: dayOfWeek,
            Morning_Open_Time: null,//convert12To24H(morningStart, $("#morning-start-XM").val()),
            Morning_Close_Time: null,//convert12To24H(morningEnd, $("#morning-end-XM").val()),
            Morning_MaximumSupervisee: null,//$('#morning-max').val(),
            Morning_Spare_Slots: null,//$('#morning-spare').val(),
            Morning_Interval: null,//$('#morning-interval').val(),
            Morning_Is_Closed: isClosedMorning,//$('#morning-Closed').is(":checked"),
            Afternoon_Open_Time: null,//convert12To24H(afternoonStart, $("#afternoon-start-XM").val()),
            Afternoon_Close_Time: null,//convert12To24H(afternoonEnd, $("#afternoon-end-XM").val()),
            Afternoon_MaximumSupervisee: null,//$('#afternoon-max').val(),
            Afternoon_Spare_Slots: null,//$('#afternoon-spare').val(),
            Afternoon_Interval: null,//$('#afternoon-interval').val(),
            Afternoon_Is_Closed: isClosedAfternoon,//$('#afternoon-Closed').is(":checked"),
            Evening_Open_Time: null,//convert12To24H(eveningStart, $("#evening-start-XM").val()),
            Evening_Close_Time: null,//convert12To24H(eveningEnd, $("#evening-end-XM").val()),
            Evening_MaximumSupervisee: null,//$('#evening-max').val(),
            Evening_Spare_Slots: null,//$('#evening-spare').val(),
            Evening_Interval: null,//$('#evening-interval').val(),
            Evening_Is_Closed: isClosedEvening
        };

        if (isClosedMorning == false) {
            var morningStart = $('#morning-start-HH').val() + ':' + $('#morning-start-MM').val();
            var morningEnd = $('#morning-end-HH').val() + ':' + $('#morning-end-MM').val();
            model.Morning_Open_Time = convert12To24H(morningStart, $("#morning-start-XM").val());
            model.Morning_Close_Time = convert12To24H(morningEnd, $("#morning-end-XM").val());
            model.Morning_MaximumSupervisee = $('#morning-max').val();
            model.Morning_Spare_Slots = $('#morning-spare').val();
            model.Morning_Interval = $('#morning-interval').val();
        };

        if (isClosedAfternoon == false) {
            var afternoonStart = $('#afternoon-start-HH').val() + ':' + $('#afternoon-start-MM').val();
            var afternoonEnd = $('#afternoon-end-HH').val() + ':' + $('#afternoon-end-MM').val();
            model.Afternoon_Open_Time = convert12To24H(afternoonStart, $("#afternoon-start-XM").val());
            model.Afternoon_Close_Time = convert12To24H(afternoonEnd, $("#afternoon-end-XM").val());
            model.Afternoon_MaximumSupervisee = $('#afternoon-max').val();
            model.Afternoon_Spare_Slots = $('#afternoon-spare').val();
            model.Afternoon_Interval = $('#afternoon-interval').val();
        };

        if (isClosedEvening == false) {
            var eveningStart = $('#evening-start-HH').val() + ':' + $('#evening-start-MM').val();
            var eveningEnd = $('#evening-end-HH').val() + ':' + $('#evening-end-MM').val();
            model.Evening_Open_Time = convert12To24H(eveningStart, $("#evening-start-XM").val());
            model.Evening_Close_Time = convert12To24H(eveningEnd, $("#evening-end-XM").val());
            model.Evening_MaximumSupervisee = $('#evening-max').val();
            model.Evening_Spare_Slots = $('#evening-spare').val();
            model.Evening_Interval = $('#evening-interval').val();
        };

        operationSetting = model;

        var data = JSON.stringify(model);
        api.server.CheckWarningSaveSetting(model.DayOfWeek, function (check) {
            if (check == true) {
                api.server.UpdateOperationSetting(data, function () {
                    $('#idEditOperationalDate').modal('toggle');
                });
            }
            else {
                api.server.UpdateOperationSetting(data, function () {
                    api.server.LoadPage('Settings.html');
                    $('#idEditOperationalDate').modal('toggle');
                });
            };
        });

        e.preventDefault();
    });

    function convert12To24H(time, AMPM) {
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        if (AMPM == "PM" && hours < 12) hours = hours + 12;
        if (AMPM == "AM" && hours == 12) hours = hours - 12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if (hours < 10) sHours = "0" + sHours;
        if (minutes < 10) sMinutes = "0" + sMinutes;

        return hours + ":" + sMinutes;
    };    
</script>