<table id="table-queue"></table>
<script type="text/javascript">

    $('#table-queue').bootstrapTable({
        search: true,
        pagination: true,
        pageSize: 1,
        pageList: [1, 2, 4, 6],
        onDblClickCell: function (field, value, row, $element) {
            if (field == 'Message') {
                api.server.LoadPopupQueue(function () {
                    $('#idQueue').modal();
                });
            }
        },
        columns: [
            {
                field: 'SN',
                title: 'S/N',
                align: 'center'
            },
            {
                field: 'NRIC',
                title: 'NRIC',
                align: 'center',
                sortable: true
            },
            {
                field: 'Name',
                title: 'Name',
                align: 'center',
                sortable: true
            },
            {
                field: 'APS',
                title: 'APS',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span color="' + (value ? 'blue' : 'red') + '"></span>';
                }
            },
            {
                field: 'SSK',
                title: 'SSK',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span color="' + (value ? 'blue' : 'red') + '"></span>';
                }
            },
            {
                field: 'SSA',
                title: 'SSA',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span color="' + (value ? 'blue' : 'red') + '"></span>';
                }
            },
            {
                field: 'UHP',
                title: 'UHP',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span color="' + (value ? 'blue' : 'red') + '"></span>';
                }
            },
            {
                field: 'HSA',
                title: 'HSA',
                align: 'center', formatter: function (value, row, index, field) {
                    return '<span style="display:inline-block;padding:2px 5px;border:1px solid #CCC;">' + value + '</span>';
                }
            },
            {
                field: 'ESP',
                title: 'ESP',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span color="' + (value ? 'blue' : 'red') + '"></span>';
                }
            },
            {
                field: 'Outcome',
                title: 'Outcome',
                align: 'center'
            },
            {
                field: 'Message',
                title: 'Message',
                align: 'center',
                formatter: function (value, row, index, field) {
                    return '<span>' + value.content + '</span>';
                }
            }
        ],
        data: [
            {
                SN: 'SN',
                NRIC: 'NRIC',
                Name: 'Name',
                APS: true,
                SSK: false,
                SSA: true,
                UHP: true,
                HSA: 'HSA',
                ESP: 'ESP',
                Outcome: 'Outcome',
                Message: {
                    content: 'Message',
                    status: 1
                }
            },
            {
                SN: 'SN',
                NRIC: 'NRIC1',
                Name: 'Name1',
                APS: true,
                SSK: false,
                SSA: true,
                UHP: true,
                HSA: 'HSA',
                ESP: 'ESP',
                Outcome: 'Outcome',
                Message: {
                    content: 'Message',
                    status: 1
                }
            },
            {
                SN: 'SN',
                NRIC: 'NRIC2',
                Name: 'Name2',
                APS: true,
                SSK: false,
                SSA: true,
                UHP: true,
                HSA: 'HSA',
                ESP: 'ESP',
                Outcome: 'Outcome',
                Message: {
                    content: 'Message',
                    status: 1
                }
            }
        ]
    });
    //activemenu('Queue');
</script>
<style>
    span[color] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
    }

    span[color="blue"] {
        background-color: chartreuse;
    }

    span[color="red"] {
        background-color: red;
    }
</style>
