<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Queue</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline float-left">
            <div class="currentDate" current-date></div>
        </div>
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="table-queue"></table>
    </div>
</div>
<script type="text/javascript">
    
    $('#menu').show();
    activemenu('Queue');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var today = new Date();
    var dd = today.getDate();
    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var mm = monthNames[today.getMonth()];
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    var today = dd + ' ' + mm + ' ' + yyyy;
    $('[current-date]').text(today);
    api.server.getDataQueue(function (data) {
        $('#table-queue').bootstrapTable({
            search: true,
            pagination: true,
            pageSize:10,
            pageList: [10, 25, 50, 100],
            onClickCell: function (field, value, row, $element) {
                if (field == "HSA" && $.trim(value.Text).length > 0 && row.Queue_ID != null && value.Status !='Finished') {                    
                    api.server.LoadPopupSeal(row.Date, row.UserId, row.Queue_ID, value.Text, function () {
                        $('#idQueueSeal').modal();
                    });
                }
            },
            onDblClickCell: function (field, value, row, $element) {
                if (field == 'Message' && $.trim(value.content).length > 0 && row.Queue_ID != null) {
                    api.server.LoadPopupQueue(row.Queue_ID, function () {
                        $('#idQueue').modal();
                    });
                }
            },
            columns: [
                {
                    field: 'SN',
                    title: 'No.',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'NRIC',
                    title: 'NRIC',
                    align: 'center',
                    width: '12%',
                    sortable: true
                },
                {
                    field: 'Name',
                    title: 'Name',
                    align: 'center',
                    width: '15%',
                    sortable: true
                },
                {
                    field: 'APS',
                    title: 'APS',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        return '<span color="' + value.toLowerCase()+'" style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'ARK',
                    title: 'ARK',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'ALK',
                    title: 'ALK',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'SHP',
                    title: 'SHP',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'HSA',
                    title: 'UT',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        if (value.Text == 'NEG') {
                            return '<span style="color:#33CC33;display:inline-block;padding:2px 5px;font-weight:bold;">' + value.Text + '</span>';
                        }
                        else if (value.Text == 'POS') {
                            return '<span style="color:red;display:inline-block;padding:2px 5px;font-weight:bold;">' + value.Text + '</span>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                {
                    field: 'SSP',
                    title: 'SSP',
                    align: 'center',
                    width: '5%',
                    formatter: function (value, row, index, field) {
                        return '<span color="' + value + '" style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'Outcome',
                    title: 'Outcome',
                    align: 'center',
                    width: '15%',
                },
                {
                    field: 'Message',
                    title: 'Message',
                    align: 'center',
                    width: '23%',
                    formatter: function (value, row, index, field) {
                        return '<span style="text-decoration:underline; color:dodgerblue">' + value.content + '</span>';
                    }
                }
            ],
            data: data
        });
    });

    api.server.startInstanceSmartcard();

    function reloadDataQueues() {
        api.server.getDataQueue(function (data) {
            $('#table-queue').bootstrapTable('load', data);
            $('#table-queue').bootstrapTable('refreshOptions', {
                pagination: true,
                data: data
            });
        });
    };

    function openPopupOutcome(queueId) {
        api.server.LoadPopupOutcome(queueId, function () {
            $('#idQueueOutcome').modal();
        });
    };

    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#table-queue').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });
</script>
<style>
    span[colorState] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #333;
        box-sizing: border-box;
    }

    span[color="notrequired"] {
        /*background-color: white;*/
    }

        span[color="notrequired"]::after {
            content: "X";
            color:grey;
            line-height: 0px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
        }
</style>
