<table id="table-queue"></table>
<script type="text/javascript">

    activemenu('Queue');
    api.server.getDataQueue(function (data) {
        $('#table-queue').bootstrapTable({
            search: true,
            pagination: true,
            pageSize:10,
            pageList: [10, 20, 40, 60,80,100],
            onDblClickCell: function (field, value, row, $element) {
                if (field == 'Message') {
                    api.server.LoadPopupQueue(row.Queue_ID, function () {
                        $('#idQueue').modal();
                    });
                } else if (field == "HSA" && $.trim(value).length>0) {
                    api.server.LoadDrugsTest(row.Date, row.UserId, function () {
                        $('#idQueueDrugs').modal();
                    });
                }
            },
            columns: [
                {
                    field: 'SN',
                    title: 'S/N',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'NRIC',
                    title: 'NRIC',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'Name',
                    title: 'Name',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'APS',
                    title: 'APS',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'SSK',
                    title: 'SSK',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'SSA',
                    title: 'SSA',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'UHP',
                    title: 'UHP',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span color style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'HSA',
                    title: 'HSA',
                    align: 'center', formatter: function (value, row, index, field) {
                        return '<span style="display:inline-block;padding:2px 5px;border:1px solid #CCC;">' + value + '</span>';
                    }
                },
                {
                    field: 'ESP',
                    title: 'ESP',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span color="' + value + '" style="background-color:' + value + ';"></span>';
                    }
                },
                {
                    field: 'Outcome',
                    title: 'Outcome',
                    align: 'center'
                },
                {
                    field: 'Message',
                    title: 'Message',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<span>' + value.content + '</span>';
                    }
                }
            ],
            data: data
        });
    });
</script>
<style>
    span[color] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #333;
        box-sizing: border-box;
    }

    span[color="notrequired"] {
        background-color: white;
    }

        span[color="notrequired"]::after {
            content: "X";
            line-height: 0px;
            text-align: center;
            font-size: 20px;
            font-weight: normal;
        }
</style>
