<div class="modal" role="dialog" id="idQueueOutcome" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Outcome</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="queueOutcome">
                        <div class="item">
                            <input type='radio' id='outcome1' name='typeOutcome' value='Released on bail' class="check" />
                            <span class="control-label">Released on bail</span>
                        </div>
                        <div class="item">
                            <input type='radio' id='outcome2' name='typeOutcome' value='Referred to DRC' class="check" />
                            <span class="control-label">Referred to DRC</span>
                        </div>
                        <div class="item">
                            <input type='radio' id='outcome3' name='typeOutcome' value='Referred to Investigation Division' class="check" />
                            <span class="control-label">Referred to Investigation Division</span>
                        </div>
                        <div class="item">
                            <input type='radio' id='outcome4' name='typeOutcome' value='Referred to External Agencies' class="check" />
                            <span class="control-label">Referred to External Agencies</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-default" btn-close style="padding: 9px 20px !important;min-width: 180px;text-transform: uppercase;font-size: 15px;">CANCEL</button>
                <button type="button" id="btnOutcome" class="btn btn-default" style="background-color:#1CACF6;color: #FFF;padding: 9px 20px !important;min-width: 180px;text-transform: uppercase;font-size: 15px;margin-left:20px;">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    api.ready(function (userID) {

        $('#idQueueOutcome').modal();

        $("#idQueueOutcome .check").change(function () {
            $('#idQueueOutcome .item').removeClass('selected');
            $(this).parent('.item').addClass('selected');
        });
        $('#idQueueOutcome [btn-close]').click(function () {
            $('#idQueueOutcome').modal('toggle');
        });
        $("#idQueueOutcome #btnOutcome").click(function (e) {
            var outcomeChoose = $("input:radio[name='typeOutcome']:checked").val();
            if (outcomeChoose != null) {
                api.server.SaveOutcome(userID, outcomeChoose, function () {
                    $('#idQueueOutcome').modal('toggle');
                });
            } else {
                ShowMessage('', 'Please select the outcome');
            }
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });

</script>
<style>
    #idQueueOutcome .item {
        position: relative;
    }

        #idQueueOutcome .item input {
            position: absolute;
            left: 0px;
            top: calc(50% - 8px);
            height: 16px;
            width: 100%;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }

        #idQueueOutcome .item span {
            padding-left: 30px;
        }

            #idQueueOutcome .item span::after {
                content: "\f00c";
                position: absolute;
                top: calc(50% - 8px);
                left: 0px;
                height: 16px;
                width: 16px;
                background: #FFF;
                color: #FFF;
                font-family: FontAwesome;
                z-index: 1;
                border: 1px solid #DDD;
                display: block;
                font-size: 10px;
                border-radius: 3px;
                text-align: center;
            }

        #idQueueOutcome .item.selected span::after {
            background-color: #1cacf6;
            border-color: #1cacf6;
        }
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>