<div class="modal fade" role="dialog"  id="idQueue" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Supervisee Details <em class="currentDate" current-date>15 February 2018</em> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" itemview>
                        <label type="text">NRIC No.</label>
                        <span id="supervisee_NRIC"></span>
                    </div>
                    <div class="input-group" itemview>
                        <label type="text" >Name</label>
                        <span id="supervisee_Name"></span>
                    </div>
                    <div class="input-group" itemview>
                        <label type="text">Current Station</label>
                        <span id="supervisee_CurrentStation"></span>
                    </div>
                    <div class="input-group" itemview>
                        <label type="text">Status</label>
                        <span id="supervisee_Status"></span>
                    </div>
                    <div>
                        <label class="textarea" title="Message:">Message</label>
                        <table class="table table-bordered" id="tableMessage">
                            <thead>
                                <tr>
                                    <th>Station</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    api.ready(function (model) {
        if (model != null) {
            $('#supervisee_NRIC').text(model.NRIC);
            $('#supervisee_Name').text(model.Name);
            $('#supervisee_CurrentStation').text(model.CurrentStation);
            $('#supervisee_Status').text(model.Status);

            switch (model.Status) {
                case 'Missed':
                case 'Errors':
                    $('#supervisee_Status').css('color', 'red');
                    break;
                case 'Processing':
                case 'Finished':
                    $('#supervisee_Status').css('color', 'green');
                    break;
                case 'Waiting':
                    $('#supervisee_Status').css('color', 'black');
                    break;
                default:
                    $('#supervisee_Status').css('color', 'black');
                    break;
            }

            $('#tableMessage').bootstrapTable({
                pagination: true,
                pageSize: 5,
                columns: [{
                    field: 'Station',
                    title: 'Station',
                    width: '25%',
                    align: 'left'
                }, {
                    field: 'Message',
                    title: 'Message',
                    width: '75%',
                    align: 'left'
                }],
                data: model.QueueDetail
            });
        }
        var today = new Date();
        var dd = today.getDate();
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var mm = monthNames[today.getMonth()];
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        var today = dd + ' ' + mm + ' ' + yyyy;
        $('[current-date]').text(today);
    });
</script>