<div class="table-wrapper">
    <div class="tab-header">
        <span><b>Settings</b></span>
        <br />
        <!--<span style="padding:4px 10px;border:1px solid #CCC;"><b>Operation Time:</b></span>-->
    </div>
    <div class="tab-content">
        <div id="panel-operationTime">
            <div class="tabtitle">
                <span>Operation Time</span>
            </div>
            <br />
            <table id="operationTable" class="table">
                <thead>
                    <tr class="align-middle">
                        <th>Day of<br />the Week</th>
                        <th>Morning Slots<br />Start time</th>
                        <th>Morning Slots<br />End time</th>
                        <th>Max<br />Supervisee</th>
                        <th>Spare<br />Slots</th>
                        <th>Interval</th>
                        <th>Afternoon Slots<br />Start time</th>
                        <th>Afternoon Slots<br />End time</th>
                        <th>Max<br />Supervisee</th>
                        <th>Spare<br />Slots</th>
                        <th>Interval</th>
                        <th>Evening Slots<br />Start time</th>
                        <th>Evening Slots<br />End time</th>
                        <th>Max<br />Supervisee</th>
                        <th>Spare<br />Slots</th>
                        <th>Interval</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody table-settings></tbody>
            </table>
        </div>
        <div id="panel-holidays">
            <div class="tabtitle row">
                <span class="col-6 float-left">Public Holiday and Non-Operational Days</span>
                <div class="tabactive col-6 float-right text-right">
                    <span id="deleteBtn">
                        <button class="btn btn-default">DELETE</button>
                    </span>
                    <span onclick="api.server.PopupAddHoliday(function () {$('#idAddHoliday').modal(); });">
                        <button class="btn btn-default">ADD</button>
                    </span>
                </div>
            </div>
            <br />
            <div>
                <div>
                    <table id="holidayTable" data-click-to-select="true" class="table">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="Date">Date</th>
                                <th data-field="ShortDesc">Short Description</th>
                                <th data-field="Notes">Notes</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

        <div id="panel-changeHistory">
            <div class="tabtitle">
                <span>Change History</span>
            </div>
            <br />
            <div>
                <table id="changeHistoryTable" class="table">
                    <thead>
                        <tr>
                            <th data-field="Date">Date</th>
                            <th data-field="Officer">Officer</th>
                            <th data-field="ChangeDetails">Change Details</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    activemenu("Settings");
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var model = [];
    var holidaySelected;
    api.server.GetSettings(function (data) {
        model = data;
        var html = '<tr id="{DayOfWeekTxt}">\
                        <td style="background-color:#f6f6f6">{DayOfWeekTxt}</td>\
                        <td>{Morning_Open_Time}</td>\
                        <td>{Morning_Close_Time}</td>\
                        <td>{Morning_MaximumSupervisee}</td>\
                        <td>{Morning_Spare_Slots}</td>\
                        <td>{Morning_Interval} mins</td>\
                        <td>{Afternoon_Open_Time}</td>\
                        <td>{Afternoon_Close_Time}</td>\
                        <td>{Afternoon_MaximumSupervisee}</td>\
                        <td>{Afternoon_Spare_Slots}</td>\
                        <td>{Afternoon_Interval} mins</td>\
                        <td>{Evening_Open_Time}</td>\
                        <td>{Evening_Close_Time}</td>\
                        <td>{Evening_MaximumSupervisee}</td>\
                        <td>{Evening_Spare_Slots}</td>\
                        <td>{Evening_Interval} mins</td>\
                        <th style="color: #1cacf6; background: #fff; font-weight: normal; cursor:pointer;" onclick="showPopupSettingDetail(\'{DayOfWeekTxt}\');">Edit</th>\
                </tr>';
        if (data.Monday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Monday));
        }
        if (data.Tuesday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Tuesday));
        }

        if (data.Wednesday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Wednesday));
        }
        if (data.Thursday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Thursday));
        }
        if (data.Friday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Friday));
        }
        if (data.Saturday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Saturday));
        }
        if (data.Sunday != null) {
            $('[table-settings]').append(api.DumpDataToTxt(html, data.Sunday));
        }

        setColspanForClosed("Monday", data.Monday.Morning_Is_Closed, data.Monday.Afternoon_Is_Closed, data.Monday.Evening_Is_Closed);
        setColspanForClosed("Tuesday", data.Tuesday.Morning_Is_Closed, data.Tuesday.Afternoon_Is_Closed, data.Tuesday.Evening_Is_Closed);
        setColspanForClosed("Wednesday", data.Wednesday.Morning_Is_Closed, data.Wednesday.Afternoon_Is_Closed, data.Wednesday.Evening_Is_Closed);
        setColspanForClosed("Thursday", data.Thursday.Morning_Is_Closed, data.Thursday.Afternoon_Is_Closed, data.Thursday.Evening_Is_Closed);
        setColspanForClosed("Friday", data.Friday.Morning_Is_Closed, data.Friday.Afternoon_Is_Closed, data.Friday.Evening_Is_Closed);
        setColspanForClosed("Saturday", data.Saturday.Morning_Is_Closed, data.Saturday.Afternoon_Is_Closed, data.Saturday.Evening_Is_Closed);
        setColspanForClosed("Sunday", data.Sunday.Morning_Is_Closed, data.Sunday.Afternoon_Is_Closed, data.Sunday.Evening_Is_Closed);

        $('#holidayTable').bootstrapTable({
            pagination: true,
            pageSize: 5,
            pageList: [5, 10, 25, 50, 100],
            checkboxHeader: false,
            columns: [{
                field: 'state',
                title: '',
                width: '10%',
                align: 'center'
            }, {
                field: 'Holiday1',
                title: 'Date',
                width: '20%',
                align: 'center',
                formatter: function (value, row, index, field) {
                    if (value) {
                        return formatDate(value);
                    }
                    return "";
                }
            }, {
                field: 'ShortDesc',
                title: 'Short Description',
                width: '35%',
                align: 'center'
            }, {
                field: 'Notes',
                title: 'Notes',
                width: '35%',
                align: 'center'
            }],
            data: model.HoliDays
        });

        $('#holidayTable').on('check.bs.table', function (e, row) {
            checkedRows.push({ Holiday1: row.Holiday1 });
        });

        $('#holidayTable').on('uncheck.bs.table', function (e, row) {
            $.each(checkedRows, function (index, value) {
                if (value.Holiday1 === row.Holiday1) {
                    checkedRows.splice(index, 1);
                    return false;
                }
            });
        });

        function onRowClick(row, index) {
            var data = JSON.stringify(row);
            holidaySelected = row.Holiday1;
        };

        $('#changeHistoryTable').bootstrapTable({
            pagination: true,
            pageSize: 5,
            pageList: [5, 10, 25, 50, 100],
            columns: [{
                field: 'LastUpdatedDate',
                title: 'Date',
                width: '15%',
                align: 'center',
                formatter: function (value, row, index, field) {
                    if (value) {
                        return formatDate(value);
                    }
                    return "";
                }
            }, {
                field: 'LastUpdatedBy',
                title: 'Officer',
                width: '30%',
                align: 'center'
            }, {
                field: 'ChangeDetails',
                title: 'Change Details',
                width: '55%',
                align: 'center'
            }],
            data: model.ChangeHistorySettings
        });
    });

    var checkedRows = [];

    function setColspanForClosed(dayOfWeek, isClosedMorning, isClosedAfternoon, isClosedEvening) {
        var row = document.getElementById(dayOfWeek);

        if (isClosedMorning == true && isClosedAfternoon == true && isClosedEvening == true) {
            row.cells[1].colSpan = 15;
            row.cells[1].innerHTML = 'Closed';
            for (i = 1; i < 15; i++) {
                row.deleteCell(2);
            };
        } else if (isClosedMorning == true && isClosedAfternoon == true) {
            row.cells[1].colSpan = 10;
            row.cells[1].innerHTML = 'Closed';
            for (i = 1; i < 10; i++) {
                row.deleteCell(2);
            };
        } else if (isClosedAfternoon == true && isClosedEvening == true) {
            row.cells[6].colSpan = 10;
            row.cells[6].innerHTML = 'Closed';
            for (i = 1; i < 10; i++) {
                row.deleteCell(7);
            };
        } else if (isClosedAfternoon == false) {
            if (isClosedMorning == true && isClosedEvening == true) {
                row.cells[1].colSpan = 5;
                row.cells[1].innerHTML = 'Closed';
                for (i = 1; i < 5; i++) {
                    row.deleteCell(2);
                };

                row.cells[7].colSpan = 5;
                row.cells[7].innerHTML = 'Closed';
                for (i = 1; i < 5; i++) {
                    row.deleteCell(8);
                };
            } else if (isClosedEvening == true) {
                row.cells[11].colSpan = 5;
                row.cells[11].innerHTML = 'Closed';
                for (i = 1; i < 5; i++) {
                    row.deleteCell(12);
                };
            } else if (isClosedMorning == true) {
                row.cells[1].colSpan = 5;
                row.cells[1].innerHTML = 'Closed';
                for (i = 1; i < 5; i++) {
                    row.deleteCell(2);
                };
            };
        } else {
            row.cells[6].colSpan = 5;
            row.cells[6].innerHTML = 'Closed';
            for (i = 1; i < 5; i++) {
                row.deleteCell(7);
            };
        };
    };

    $("#deleteBtn").click(function (e) {
        if (checkedRows.length > 0) {
            var messageConfirm = 'Are you sure you want to remove the Holiday?';
            var re = confirm(messageConfirm, 'Warning');
            if (re) {
                var data = JSON.stringify(checkedRows);
                api.server.DeleteHoliday(data, function () {
                    api.server.LoadPage('Settings.html');
                });
            }
        }
    });
    
    function showPopupSettingDetail(dayOfWeek) {
        var data = JSON.stringify(model[dayOfWeek]);
        api.server.PopupEditOperationalDate(data, function () { $('#idEditOperationalDate').modal(); });
    };

    function formatDate(strDate) {
        var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day;
        return formatedDay + "/" + formatedMonth + "/" + year;
    };

    function showMessageBox(message) {
        alert(message);
    };
    

</script>
