<div id="panel-settings">
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">MONDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">TUESDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">WEDNESDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">THURSDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">FRIDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">SATURDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>
            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>
    </div>
    <div style="width:calc(32% - 10px);display:inline-block;padding:10px;margin:10px;box-sizing:border-box;border:1px solid #CCC;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">SUNDAY</span>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Start Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <br />
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">End Time</span>
            <select><option>HH</option></select> : <select><option>MM</option></select><select><option>XM</option></select>
        </div>
        <div style="margin-bottom:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Interval</span>
            <select><option>mins</option></select>

            <input type="checkbox" style="margin-left:10px;">
            <span style="display:inline-block;width:90px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Closed</span>
        </div>

    </div>
    <div style="width:calc(100% - 33% - 20px);display:inline-block;padding:10px;box-sizing:border-box;position:relative;vertical-align:top;">
        <div style="text-align:left;margin-bottom:10px;">
            <span style="padding:4px 10px;border:1px solid #CCC;">Public Holiday and Non-Operational Days</span>
        </div>
        <table class="table table-bordered" style="width:calc(100% - 30px);">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Short Description</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <span class="glyphicon glyphicon-plus" style="position:absolute;top:42px;right:0px;font-size:18px;height:30px;width:30px;text-align:center;line-height:30px;border:1px solid #CCC;cursor:pointer;" onclick="api.server.PopupAddHoliday(function () {$('#idAddHoliday').modal(); });">
        </span>
        <span class="glyphicon glyphicon-minus" style="position:absolute;top:90px;right:0px;font-size:18px;height:30px;width:30px;text-align:center;line-height:30px;border:1px solid #CCC;cursor:pointer;">
        </span>
    </div>
    <div style="margin-top:40px;border-top:1px solid #CCC;padding:10px;position:relative;">
        <span style="display:inline-block;width:200px;box-sizing:border-box;border:1px solid #CCC;text-align:center;">Maximun Supervisee per timeslot</span>
        <input type="number" />

        <span style="display:inline-block;width:150px;box-sizing:border-box;border:1px solid #CCC;text-align:center;margin-left:20px;">Reserved for space</span>
        <input type="number" />

        <button type="button" class="btn btn-success" style="position:absolute;bottom:10px;right:20px;">Update</button>
    </div>
</div>

<script type="text/javascript">
    activemenu("Settings");
</script>