
<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>Statistics</b></span>
    <div class="form-inline" style="right:10px; float:right; padding-bottom:10px;">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">entries</div>

        <div style="display:inline-block;">
            <div class="input-group date" id="datetimepicker1" style="width:180px;">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div style="display:inline-block;">Date</div>
    </div>
</div>
<br />
<table id="table"></table>
<script type="text/javascript">
    $(document).ready(function () {
        activemenu('Statistics');

        var pageSize = $('#pageSize');
        if (pageSize)
            pageSize = 10;

        $(function () {
            $('#datetimepicker1').datepicker();
        });

        loadTable(pageSize);

    });
    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });

    function loadTable(page) {
        $('#table').bootstrapTable({
            pagination: true,
            pageSize: page,
            //search:true,
            columns: [{
                field: 'StartTime',
                title: 'Start Time',
                sortable: true,
                width: '10%',
                align: 'center'
            }, {
                field: 'EndTime',
                title: 'End Time',
                sortable: true,
                width: '10%',
                align: 'center'
            }, {
                field: 'Max',
                title: 'Max',
                width: '10%',
                align: 'center'
            }, {
                field: 'Booked',
                title: 'Booked',
                width: '10%',
                align: 'center'
            }, {
                field: 'Reported',
                title: 'Reported',
                width: '10%',
                align: 'center'
            }, {
                field: 'NoShow',
                title: 'No-show',
                width: '10%',
                align: 'center'
            }, {
                field: 'Available',
                title: 'Available',
                width: '10%',
                align: 'center'
            }, {
                field: '',
                title: '',
                width: '30%',
                align: 'center'
            }],
            data: [{
                StartTime: '04:50',
                EndTime: '06:10',
                Max: '99',
                Booked: '11',
                Reported: '30',
                NoShow: '5',
                Available: '1'
            }, {
                StartTime: '14:04',
                EndTime: '17:30',
                Max: '99',
                Booked: '11',
                Reported: '30',
                NoShow: '5',
                Available: '1'
            }, {
                StartTime: '09:50',
                EndTime: '11:35',
                Max: '99',
                Booked: '11',
                Reported: '26',
                NoShow: '10',
                Available: '6'
            }]
        });
    }
</script>