
<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>Statistics</b></span>
    <br/>
    <div class="form-inline" style="right:10px; float:right; padding-bottom:10px;">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">Entries</div>

        <div style="display:inline-block;">
            <div class="input-group date" id="datetimepicker1" style="width:180px;">
                <input type='text' class="form-control" id="dateSearch" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div style="display:inline-block;">Date</div>
    </div>
</div>
<br />
<table id="table"></table>
<script type="text/javascript">
    activemenu('Statistics');

    var pageSize = $('#pageSize');
        if (pageSize)
            pageSize = 10;

        $(function () {
            $('#datetimepicker1').datepicker();
        });

        api.server.GetStatistics(function (data) {
            if (data) {
                data.forEach(function (element, index) {
                    dataSource.push({
                        StartTime: element.StartTime,
                        EndTime: element.EndTime,
                        Max: element.Max,
                        Booked: element.Booked,
                        Reported: element.Reported,
                        NoShow: element.No_Show,
                        Available: element.Available,
                        Date: element.Date
                    });

                    if (Date.parse(element.Date) == Date.parse(today)) {
                        searchSource.push({
                            StartTime: element.StartTime,
                            EndTime: element.EndTime,
                            Max: element.Max,
                            Booked: element.Booked,
                            Reported: element.Reported,
                            NoShow: element.No_Show,
                            Available: element.Available,
                            Date: element.Date
                        });
                    }
                });
            }

            $('#table').bootstrapTable({
                pagination: true,
                pageSize: 10,
                //search:true,
                columns: [{
                    field: 'StartTime',
                    title: 'Start Time',
                    sortable: true,
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'EndTime',
                    title: 'End Time',
                    sortable: true,
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Max',
                    title: 'Max',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Booked',
                    title: 'Booked',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Reported',
                    title: 'Reported',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'NoShow',
                    title: 'No-show',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Available',
                    title: 'Available',
                    width: '10%',
                    align: 'center'
                }, {
                    field: '',
                    title: '',
                    width: '30%',
                    align: 'center'
                }],
                data: searchSource
            });
        });

    var dataSource = [];
    var searchSource = [];
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = mm + '/' + dd + '/' + yyyy;
    $('#dateSearch').val(today);
    
    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });

    $('#dateSearch').change(function () {
        var source = [];
        var dateSearch = $('#dateSearch').val();
        for (var i = 0; i < dataSource.length; i++) {
            if (Date.parse(dataSource[i].Date) == Date.parse(dateSearch)) {
                source.push({
                    StartTime: dataSource[i].StartTime,
                    EndTime: dataSource[i].EndTime,
                    Max: dataSource[i].Max,
                    Booked: dataSource[i].Booked,
                    Reported: dataSource[i].Reported,
                    NoShow: dataSource[i].No_Show,
                    Available: dataSource[i].Available
                });
            }
        }

        if (!dateSearch) {
            source = dataSource;
        }
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            data: source
        });
    });
</script>