
<!--<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>Statistics</b></span>
    <br/>
    <div class="form-inline" style="right:10px; float:right; padding-bottom:10px;">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">Entries</div>

        <div style="display:inline-block;">
            <div class="input-group date" id="datetimepicker1" style="width:180px;">
                <input type='text' class="form-control" id="dateSearch" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div style="display:inline-block;">Date</div>
    </div>
</div>
<br />
<table id="table"></table>-->

<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Statistics</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formFilter float-left">
            <div class="filters"><b>Filter by:</b></div>

            <div class="filters">Date</div>
            <div class="filters">
                <div class="input-group date" id="datetimepicker">
                    <input type='text' class="form-control" id="dateSearch" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

       </div>
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="table"></table>
    </div>
</div>
<script type="text/javascript">
    activemenu('Statistics');
    $("#menu .menu-item").removeClass("active");
    $("#menu [item-menu].active").parent().addClass("active");
    var pageSize = $('#pageSize');
        if (pageSize)
            pageSize = 10;

        $(function () {
            $('#datetimepicker').datepicker({ format: 'dd/mm/yyyy' });
        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        today = dd + '/' + mm + '/' + yyyy;
        $('#dateSearch').val(today);

        var searchDateStatistic = $('#dateSearch').val();

        api.server.GetStatistics(function (data) {
            if (data) {
                data.forEach(function (element, index) {
                    dataSource.push({
                        StartTime: element.StartTime,
                        EndTime: element.EndTime,
                        Max: element.Max,
                        Booked: element.Booked,
                        Reported: element.Reported,
                        Absent: element.Absent,
                        Available: element.Available,
                        Date: formatDate(element.Date)
                    });

                    if (Date.parse(formatDate(element.Date)) == Date.parse(today)) {
                        searchSource.push({
                            StartTime: element.StartTime,
                            EndTime: element.EndTime,
                            Max: element.Max,
                            Booked: element.Booked,
                            Reported: element.Reported,
                            Absent: element.Absent,
                            Available: element.Available,
                            Date: formatDate(element.Date)
                        });
                    }
                });
            }

            $('#table').bootstrapTable({
                pagination: true,
                pageSize: 10,
                pageList: [10, 25, 50, 100],
                //search:true,
                columns: [{
                    field: 'StartTime',
                    title: 'Start Time',
                    sortable: true,
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'EndTime',
                    title: 'End Time',
                    sortable: true,
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Max',
                    title: 'Max',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Booked',
                    title: 'Booked',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Reported',
                    title: 'Reported',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Absent',
                    title: 'Absent',
                    width: '10%',
                    align: 'center'
                }, {
                    field: 'Available',
                    title: 'Avaliable',
                    width: '10%',
                    align: 'center'
                }, {
                    field: '',
                    title: 'Details',
                    width: '30%',
                    align: 'center',
                    formatter: function (value, row, index, field) {
                        return '<a style="text-decoration: underline;" href="javascript:;" onclick = "loadAppointmentPage(\'' + searchDateStatistic + '\', \'' + row.StartTime + '\', \'' + row.EndTime + '\');" >View Time Slot Information</a>';
                    }
                }],
                data: searchSource
            });
        });

    var dataSource = [];
    var searchSource = [];
    
    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            //search: true,
            pageSize: pageSize
        });
    });

    $('#dateSearch').change(function () {
        var source = [];
        var dateSearch = $('#dateSearch').val();
        searchDateStatistic = $('#dateSearch').val();
        for (var i = 0; i < dataSource.length; i++) {
            if (Date.parse(dataSource[i].Date) == Date.parse(dateSearch)) {
                source.push({
                    StartTime: dataSource[i].StartTime,
                    EndTime: dataSource[i].EndTime,
                    Max: dataSource[i].Max,
                    Booked: dataSource[i].Booked,
                    Reported: dataSource[i].Reported,
                    Absent: dataSource[i].Absent,
                    Available: dataSource[i].Available
                });
            }
        }

        if (!dateSearch) {
            source = dataSource;
        }
        $('#table').bootstrapTable('refreshOptions', {
            pagination: true,
            data: source
        });
    });

    function loadAppointmentPage(dateLoad, startTimeLoad, endTimeLoad) {
        api.server.LoadPageAppointment(dateLoad, startTimeLoad, endTimeLoad);
    };

    function formatDate(strDate) {
        var date = new Date(Date.parse(strDate)),
            year = date.getFullYear(),
            month = (date.getMonth() + 1).toString(),
            formatedMonth = (month.length === 1) ? ("0" + month) : month,
            day = date.getDate().toString(),
            formatedDay = (day.length === 1) ? ("0" + day) : day,
            hour = date.getHours().toString(),
            formatedHour = (hour.length === 1) ? ("0" + hour) : hour,
            minute = date.getMinutes().toString(),
            formatedMinute = (minute.length === 1) ? ("0" + minute) : minute,
            second = date.getSeconds().toString(),
            formatedSecond = (second.length === 1) ? ("0" + second) : second;
        return formatedDay + "/" + formatedMonth + "/" + year;
    };

</script>