<div style="display:block; padding:10px;">
    <span style=" font-size:22px; float:left; text-align:left;"><b>UB Labels</b></span>
    <div class="form-inline" style="right:10px; float:right; padding-bottom:10px;">
        <select class="form-control" id="pageSize" style="width:70px; display:inline-block;">
            <option>10</option>
            <option>2</option>
            <option>3</option>
        </select>
        <div style="display:inline-block;">entries</div>

        <div style="display:inline-block;">
            <input type="text" class="form-control" style="width:180px; display:inline;" id="textSearch" />
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
<table id="UBlabel" data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true">Select</th>
            <th data-field="nric" data-sortable="true">NRIC</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="lastStation">Last Station</th>
        </tr>
    </thead>
</table>
<br />
<div id="PrintUBlabel" class="text-right">
    <button id="PrintUBbutton" class="btn btn-default">Print</button>
</div>

<script type="text/javascript">
    $('#pageSize').change(function () {
        pageSize = $("#pageSize option:selected").text();
        $('#UBlabel').bootstrapTable('refreshOptions', {
            pagination: true,
            search: true,
            pageSize: pageSize
        });
    });
    $('#UBlabel').bootstrapTable({
        //pagination: true,
        //pageSize:2,
        //search: true,
        pageList: [1, 2, 4, 6],
        data: [{
            nric: 'S99999999X',
            name: 'Tan Ah Guo',
            lastStation: 'SSK'
        }, {
            nric: 'S99999998X',
            name: 'Chen Ah Ming',
            lastStation: 'SSK'
        }, {
            nric: 'S99999997X',
            name: 'Koh Mok Yao',
            lastStation: 'SSK'
        }, {
            nric: 'S99999996X',
            name: 'Quek Yew Ming',
            lastStation: 'SSK'
        }]
    });
    activemenu('UB Lablels');

    var checkedRows = [];
    $('#UBlabel').on('check.bs.table', function (e, row) {
        checkedRows.push({ nric: row.nric, name: row.name, lastStation: row.lastStation });
    });

    $('#UBlabel').on('uncheck.bs.table', function (e, row) {
        $.each(checkedRows, function (index, value) {
            if (value.id === row.id) {
                checkedRows.splice(index, 1);
            }
        });
    });    

    var model;

    $('#PrintUBbutton').click(function () {
        $.each(checkedRows, function (index, value) {
            model = value;
        })
        var data = JSON.stringify(model);
        api.server.LoadPopupUBLabel(data, function () {
            $('#UBLabelpopup').modal();
        })
    })
</script>