<div class="modal fade" role="dialog" id="UBLabelpopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Print Label</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <label class="input-group-addon">Officer NRIC</label>
                        <input readonly="readonly" type="text" class="form-control pri" id="OfficerNRICUB">
                    </div>
                    <br />
                    <div class="input-group">
                        <label class="input-group-addon">Officer Name</label>
                        <input readonly="readonly" type="text" class="form-control pri" id="OfficerNameUB">
                    </div>
                    <br />
                    <div>
                        <label class="textarea" type="text">Reason:</label>
                        <textarea type="text" class="form-control pri col-12" rows="5" id="ReasonUB"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">CANCEL</button>
                <button type="button" id="PrintBtnUB" class="btn btn-default">PRINT</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    api.ready(function (model) {
        $('#OfficerNRICUB').val(model[0].OfficerNRIC);
        $('#OfficerNameUB').val(model[0].OfficerName);
        $("#PrintBtnUB").click(function (e) {
            //var json = JSON.stringify(api.model);

            //api.server.PrintingMUBAndTTLabels(api.model.UserId, $('#Reason').val());

            var json = JSON.stringify(model);
            api.server.MappingTemplateUBLabels(json, $('#ReasonUB').val(), function () {
                $('#UBLabelpopup').modal('toggle');
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });
    

</script>