<style>
    /*.formWrapper {
        display: block;
        padding: 10px;
    }
    .formHeader {
        font-size: 22px;
        position: absolute;
        left: 0;
        top: 30px;
    }
    .formEntries {
        position: absolute;
        right: 200px;
        top: 30px
    }
    #pageSize {
        width: 70px;
        display: inline-block;
    }
    #UBlabel,
    #UBlabel th {
        text-align: center;
    }*/
</style>
<div class="table-wrapper formWrapper">
    <div class="tab-header">
        <span class="formHeader"><b>Manual Printing of UB Labels</b></span>
    </div>
    <div class="tab-content">
        <div class="form-inline formEntries float-right">
            <div class="entries">Display </div>
            <select class="form-control" id="pageSize">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="entries"> entries per page</div>
        </div>
        <table id="UBlabel" data-click-to-select="true" class="table">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true" class="col-xs-1">Select</th>
                    <th data-field="NRIC" data-sortable="true" class="col-xs-3">NRIC</th>
                    <th data-field="Name" data-sortable="true" class="col-xs-6">Name</th>
                    <th data-field="LastStation" class="col-xs-2">Last Station</th>
                </tr>
            </thead>
        </table>
        <br />
        <div id="PrintUBlabel" class="text-right">
            <button id="PrintUBbutton" class="btn btn-default">Print</button>
        </div>
    </div>
</div>

<script type="text/javascript">


    var dataSource = [];

    api.server.GetAllUBlabels(function (data) {
        dataSource = data;
        $('#UBlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            singleSelect: true,
            data: dataSource
        });
    });

    function getDataCallback(response) {

        var data = JSON.parse(response);
        if (data) {
            data.forEach(function (element, index) {
                dataSource.push({
                    NRIC: element.NRIC,
                    Name: element.Name,
                    LastStation: element.LastStation,
                    UserId: element.UserId
                });
            });
        }

        $('#UBlabel').bootstrapTable({
            //pagination: true,
            search: true,
            pageSize: 10,
            singleSelect: true,
            data: dataSource
        });
    }
    $(window).ready(function () {
        $('#pageSize').change(function () {
            pageSize = $("#pageSize option:selected").text();
            $('#UBlabel').bootstrapTable('refreshOptions', {
                pagination: true,
                search: true,
                pageSize: pageSize
            });
        });

        var checkedRows = [];

        $('#UBlabel').on('check.bs.table', function (e, row) {
            checkedRows.push({ NRIC: row.NRIC, Name: row.Name, LastStation: row.LastStation, UserId: row.UserId });
        });

        $('#UBlabel').on('uncheck.bs.table', function (e, row) {
            $.each(checkedRows, function (index, value) {
                if (value.id === row.id) {
                    checkedRows.splice(index, 1);
                }
            });
        });

        var model;

        $('#PrintUBbutton').click(function () {
            $.each(checkedRows, function (index, value) {
                model = value;
            })
            if (checkedRows.length > 0) {
                var data = JSON.stringify(checkedRows);
                api.server.LoadPopupUBLabel(data, function () {
                    $('#UBLabelpopup').modal();
                })
            }
            else {
                alert('Please choose the supervisee you want to print');
            }

        })
        activemenu('UB Lablels');
        $("#menu .menu-item").removeClass("active");
        $("#menu [item-menu].active").parent().addClass("active");
    })

</script>
