<div class="subcontent">
    <!--<span>Please scan supervisee NRIC:</span>-->
    <div name-page="Verification"></div><br />
    <div class="contentWrapper" style="margin-top:40px;">
        <div class="contentForm">
            <div class="input-group" data-tip="Enter your Supervisee NRIC No">
                <span class="input-group-addon">Supervisee NRIC No</span>
                <input type="text" id="txtNRIC" class="txtNRIC" placeholder="Supervisee NRIC No" autofocus />
            </div>
        </div>
    </div>
    <div id="divSave">
        <button type="button" class="btn btn-dark" onclick="api.server.LogOut()">Cancel</button>
        <button type="button" class="btn btn-dark" onclick="api.server.SubmitNRIC($('#txtNRIC').val()); return false;">Submit</button>
    </div>
</div>
<script type="text/javascript">
    function enterManually() {
        $('#txtNRIC').val('');
        $('#txtNRIC').focus();
    }
</script>
<script type="text/javascript">
    //show menu logout or back main
    $('#header[right-show]').attr('right-show', 'logout');
    $('#content').removeAttr('style');
</script>