<form id="manualLoginFrm">
    <div class="container contentPrinting text-center center-block" style="padding-top:120px; padding-left:120px;">
        <div class="input-group">
            <span style="width:100px;" class="input-group-addon">NRIC:</span>
            <input style="width:350px;" id="loginNRIC" type="text" class="form-control pri" name="loginNRIC"/>
        </div>
        <br />
        <div class="input-group">
            <span style="width:100px;" class="input-group-addon">Password:</span>
            <input style="width:350px;" id="loginPassword" type="password" class="form-control pri" name="loginPassword" />
            <button type="button" class="btn btn-dark" style="margin-left:10px;" id="LoginBtn">Submit</button>
        </div>

    </div>
</form>
<script type="text/javascript">
    $('#LoginBtn').click(function () {
        api.server.ManualLogin($('#loginNRIC').val(), $('#loginPassword').val());
    });
</script>
