<div class="subcontent">
    <!--<span>Please scan supervisee NRIC:</span>-->
    <div class="titles"><span>Verification</span></div><br />
    <div class="contentWrapper">
        <div class="contentForm">
            <div class="input-group" data-tip="Enter your Supervisee NRIC No">
                <!--<span class="input-group-addon">Supervisee NRIC No</span>-->
                <input type="text" id="txtNRIC" class="txtNRIC" placeholder="Supervisee NRIC No" autofocus />
            </div>
        </div>
    </div>
    <div id="divSave">
        <!--<input type="button" value="Enter manually" onclick="enterManually()" />
            <input type="button" value="Submit" onclick="api.server.SubmitNRIC($('#txtNRIC').val())" />-->
        <button type="button" class="btn btn-dark" onclick="api.server.LogOut()">Cancel</button>
        <button type="button" class="btn btn-dark" onclick="api.server.SubmitNRIC($('#txtNRIC').val()); return false;">Submit</button>
    </div>
</div>

<script type="text/javascript">
    function enterManually() {
        $('#txtNRIC').val('');
        $('#txtNRIC').focus();
    }
</script>
