<style type="text/css">
    [group-input] {
        position: relative;
        margin-bottom: 20px;
    }

        [group-input]::before {
            content: attr(group-input);
            color: #209CDD;
            font-size: 16px;
            position: absolute;
            z-index: 0;
            top: 6px;
            left: 0px;
        }

        [group-input] > input, [group-input] > select {
            border: none;
            height: 36px;
            font-size: 16px;
            width: 100%;
            padding-left: 150px;
            position: relative;
            z-index: 1;
            background-color: transparent;
            outline: none;
        }

        [group-input] > input, [group-input] > select {
            border-bottom: 1px solid #ccc;
        }

            [group-input] > input:focus, [group-input] > input:hover, [group-input] > select:focus, [group-input] > select:hover {
                border-bottom: 1px solid #1CACF6;
            }

    :-ms-input-placeholder {
        font-style: italic;
    }

    .status-text {
        width: 600px;
        max-width: calc(100% - 40px);
        margin: 20px auto 0px auto;
        margin-bottom: 0px;
    }

        .status-text:empty {
            display: none;
        }

    .z-depth-2 {
        -webkit-box-shadow: 0px 1px 15px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 15px rgba(0,0,0,0.4);
    }
</style>
<form id="particularsFrm">
    <div class="container" particulars>
        <div class="titles" style="margin-bottom:30px;"><span class="underline">Information to be Printed</span></div>
        <div>
            <div class="contentWrapper" style="max-width:calc(100% - 40px);">
                <div class="contentForm" style="width:100%;">
                    <div class="container contentPrinting text-center center-block ">
                        <div group-input="Name">
                            <input type="text" name="UserName" id="UserName" readonly="readonly" />
                        </div>
                        <div group-input="NRIC No.">
                            <input type="text" name="NRIC" id="NRIC" readonly="readonly"/>
                        </div>
                        <div group-input="Date">
                            <input type="text" name="Date" id="Date" readonly="readonly" />
                        </div>

                    </div>
                </div>
            </div>
            <!--<div class="input-group">
                <span class="input-group-addon">QR Code:</span>
                <img id="imgQRCode" width="120" height="120" style="margin-left:12px;">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Marking Number:</span>
                <input id="MarkingNumber" type="text" class="form-control pri" name="MarkingNumber" readonly="readonly" />
            </div>-->

            <div style="visibility:hidden;display:none;">
                <label id="lblNextAction">InitializeMUBAndTTApplicator</label>
            </div>
            <div class="status-text" id="mubStatus">
            </div>
            <div class="status-text" id="ttStatus">
            </div>
            <!--<div class="status-text" id="ttStatus">
                23423423
            </div>-->
            <!--<div style="width:100%;">
        <textarea id="printLogs" style="width:600px;height:400px;"></textarea>
    </div>-->
            <div id="divSave" style="margin-top:30px;text-align:right;">
                <button type="button" class="btn btn-dark" id="CancelBtn" style="padding: 10px 20px;border-radius: 5px;">CANCEL</button>
                <button type="button" class="btn btn-primary" id="ConfirmBtn" style="background-color: #1CACF6;padding: 10px 20px;border-radius: 5px;color:#FFF;margin-left:30px;">CONFIRM</button>
            </div>
            <div style="clear:both;"></div>
            <div style="width:600px;max-width:calc(100% - 40px);margin:40px auto 0px auto;display:none;" id="placeMUBAndTT">
                <video autoplay loop style="width:100%;padding:5px;border-radius:3px;background-color:#FFF;" class="z-depth-2">
                    <source src="../img/PlaceMUB.mp4" type="video/mp4">
                </video>
                <video autoplay loop style="width:100%;padding:5px;border-radius:3px;margin-top:10px;background-color:#FFF;" class="z-depth-2">
                    <source src="../img/PlaceTT.mp4" type="video/mp4">
                </video>
            </div>

            <div style="width:600px;max-width:calc(100% - 40px);margin:40px auto 0px auto;display:none;background-color:#FFF;" id="removeMUBAndTT">
                <video autoplay loop style="width:100%;padding:5px;border-radius:3px;background-color:#FFF;" class="z-depth-2">
                    <source src="../img/RemoveMUB.mp4" type="video/mp4">
                </video>
                <video autoplay loop style="width:100%;padding:5px;border-radius:3px;margin-top:10px;background-color:#FFF;" class="z-depth-2">
                    <source src="../img/RemoveTT.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    api.ready(function (model) {
        $('#UserName').val(model.Name);
        $('#NRIC').val(model.NRIC);
        $('#Date').val(model.Date);
        $('#MarkingNumber').val(model.MarkingNo);
        var srcQRCode = "../../Temp/QRCode_" + model.NRIC + ".png";
        $("#imgQRCode").attr("src", srcQRCode);

        $("#ConfirmBtn").click(function (e) {
            var action = $("#lblNextAction").text();
            var json = JSON.stringify(model);
            //api.server.MappingTemplateMUBAndTTLabels(json);
            api.server.ConfirmAction(action, json);
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

        $('#CancelBtn').click(function () {
            api.server.DeleteQRCodeImageFileTemp();
            api.server.LogOut();
        });
    });
</script>