<form id="manualLoginFrm">
    <div class="titles"><span class="underline">Login</span></div><br />
    <div class="contentWrapper">
        <div class="contentForm" style="width:100%;">
            <div group-input="NRIC"><input type="text" placeholder="Enter NRIC" name="loginNRIC" id="loginNRIC"></div>
            <div group-input="Password" style="margin-bottom:15px;"><input type="password" placeholder="Enter Password" name="loginPassword" id="loginPassword"></div>
        </div>
    </div>
    <div id="divSave">
        <button type="button" class="btn btn-dark" id="CancelBtn" style="border-radius:5px;margin-right:20px;">CANCEL</button>
        <button type="button" class="btn btn-dark" id="LoginBtn" style="border-radius:5px;background-color:#1CACF6;color:#FFF !important;">SUBMIT</button>
    </div>
</form>
<script type="text/javascript">
    $('input[name="loginNRIC"]').mouseup(function () {
        var _this = $(this);
        var _value = $.trim(_this.val());

        setTimeout(function () {
            if ($.trim(_this.val()) != _value) {
                api.server.RestartBarcodeScanning();
            }
        }, 10);
    });

    $('#LoginBtn').click(function () {

        var loginNRIC = document.getElementById('loginNRIC').value;
        var password = document.getElementById('loginPassword').value;

        if (loginNRIC == '') {
            alert('Please type your NRIC');
        }
        else if (password == '') {
            alert('Please type your password');
        }
        else {
            api.server.ProcessManualLogin($('#loginNRIC').val(), $('#loginPassword').val());
            return true;
        }
        return false;
    });


    $('#CancelBtn').click(function () {
        api.server.DeleteQRCodeImageFileTemp();
        api.server.LogOut();
    });

</script>