<div class="status-text">

</div>

<div class="contentWrapper">
    <!--<div class="scanSmartCart ">

    </div>-->
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <video autoplay loop class="embed-responsive-item">
            <source src="../img/SmartCard.mp4" type="video/mp4">
        </video>
    </div>
</div>


<div class="manualLogin">
    <a href="javascript:;" onclick="api.server.ManualLogin(); return;">
        <!--<img src="Authentication/key.png" alt="Manually Enter Officer NRIC and Password" width="80" height="30">-->
        <img src="../img/ManualLogin.png" /> D.O.
    </a>
</div>
<style>
    .z-depth-2 {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: 769px) {
        .card-scan {
            width: 50% !important;
            margin: 0 auto;
            display: block;
        }
    }
</style>