<div class="subcontent">
    <span>Please scan supervisee NRIC:</span>
    <input type="text" id="txtNRIC" class="txtNRIC" autofocus />
    <input type="button" value="Enter manually" onclick="enterManually()" />
    <input type="button" value="Submit" onclick="api.server.SubmitNRIC($('#txtNRIC').val())" />
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#menu').hide();
    });
</script>
<style type="text/css">
    .subcontent {
        width: calc(100% - 20px);
        margin-top: 200px;
        text-align: center;
    }
    .txtNRIC {
        height: 28px;
    }
</style>

<script type="text/javascript">
    function enterManually() {
        $('#txtNRIC').val('');
        $('#txtNRIC').focus();
    }
</script>