<div class="modal fade" role="dialog" id="popupLoading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display:none;">
                <h5 class="modal-title">Loading</h5>
            </div>
            <div class="modal-body">
                <div class="title">
                    <span id="title"></span>
                </div>
                <div class="contentMesg">
                    <span id="contentMesg"></span>
                </div>
                <div id="divLoading" align="center">
                    <img src="../img/loading.gif" height="60" width="60"/>
                </div>
                <div id="divButton">
                    <button type="button" class="btn btn-primary" id="btnOK">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    api.ready(function (response) {
        var modelPopup = JSON.parse(response);
        //$('#popupLoading .modal-body').html(model);
        document.getElementById("title").textContent = modelPopup.Title;
        document.getElementById("contentMesg").textContent = modelPopup.Message;

        if (modelPopup.IsShowLoading == true) {
            $('#divLoading').show();
        } else {
            $('#divLoading').hide();
        };

        if (modelPopup.IsShowOK == true) {
            $('#divButton').show();
        } else {
            $('#divButton').hide();
        };
    });

    $('#btnOK').click(function () {
        $('.modal-backdrop').remove();
        $('#popupLoading').modal('toggle');
    });   
</script>
