
<div class="container text-center center-block">
    <div id="WaitingSection">
        <div id="image" style="display:inline;">
            <img src="hourglass.gif" />
        </div>

        <div id="texts" style="display:inline;">
            <span style="font-size:42px;padding:5px;">Please Wait</span>
        </div>
    </div>
    <div id="CompletedSection">
        <div class="titles"><span>Please collect your labels</span></div>
        <br />
        <div class="contentWrapper">
            <div id="texts" style="display:inline;">
                <div class="SucessesPrint"><span>(Collect Master Urine Bottle <br /> and Test Tube Video.)</span></div>
                <br />
                <!--<p style="font-size:38px;">System will be logout in <span style="font-size:42px;" id="countdown">5</span> seconds</p>-->
            </div>
        </div>
    </div>
</div>

<div class="status-text">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#WaitingSection').show();
        $('#CompletedSection').hide();
    });

    //function countdownLogout() {
    //    var timeleft = 5;
    //    var downloadTimer = setInterval(function () {
    //        timeleft--;
    //        document.getElementById("countdown").textContent = timeleft;
    //        if (timeleft <= 0) {
    //            clearInterval(downloadTimer);
    //            api.server.LogOut();
    //        }
    //    }, 1000);
    //};
</script>