<form id="particularsFrm">
    <div class="container" particulars>
        <div class="titles"><span>Information to be Printed</span></div>
        <br />
        <div class="contentWrapper">
            <div class="contentForm">
                <div class="container contentPrinting text-center center-block ">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input id="UserName" type="text" class="form-control pri" name="UserName" readonly="readonly" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">NRIC No.</span>
                        <input id="NRIC" type="text" class="form-control pri" name="NRIC" readonly="readonly" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Date</span>
                        <input id="Date" type="text" class="form-control pri" name="Date" readonly="readonly" />
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <!--<div class="input-group">
            <span class="input-group-addon">QR Code:</span>
            <img id="imgQRCode" width="120" height="120" style="margin-left:12px;">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Marking Number:</span>
            <input id="MarkingNumber" type="text" class="form-control pri" name="MarkingNumber" readonly="readonly" />
        </div>-->
        <div"><label id="lblPrintingStatus">0</label>
    </div>
    <div class="status-text">
        ádasdasd
    </div>
    <div id="divSave">
        <button type="button" class="btn btn-dark" id="CancelBtn">CANCEL</button>
        <button type="button" class="btn btn-primary" id="ConfirmBtn">Initialize MUB Applicator</button>

    </div>

</form>

<script type="text/javascript">
    api.ready(function (model) {
        $('#UserName').val(model.Name);
        $('#NRIC').val(model.NRIC);
        $('#Date').val(model.Date);
        $('#MarkingNumber').val(model.MarkingNo);
        var srcQRCode = "../../Temp/QRCode_" + model.NRIC + ".png";
        $("#imgQRCode").attr("src", srcQRCode);

        $("#ConfirmBtn").click(function (e) {
            var printingStatus = $("#lblPrintingStatus").text();
            var json = JSON.stringify(model);
            //api.server.MappingTemplateMUBAndTTLabels(json);
            api.server.ConfirmAction(printingStatus, json);
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

        $('#CancelBtn').click(function () {
            api.server.DeleteQRCodeImageFileTemp();
            api.server.LogOut();
        });
    });

    //function showPopupModal(popupModel) {
    //    api.ready(function () {
    //        api.server.popupLoading(popupModel, function () {
    //            $('#popupLoading').modal({
    //                backdrop: 'static',
    //                keyboard: false
    //            });
    //        });
    //    });
    //};
</script>